extracted_libraries/xml/NettingInstruction-4-2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swdml-shared-4-2.xsd"/>
<xsd:include schemaLocation="swdml-ird-enum-4-2.xsd"/>
<xsd:include schemaLocation="fpml-main-4-2.xsd"/>
<xsd:include schemaLocation="fpml-doc-4-2.xsd"/>
<xsd:include schemaLocation="fpml-ird-4-2.xsd"/>
<xsd:include schemaLocation="swdml-reporting-df-ird-1-0.xsd"/>
<xsd:include schemaLocation="NettingInstruction-Enum.xsd"/>
<xsd:element name="NettingInstruction">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="NettingInstruction"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="NettingInstruction">
<xsd:annotation>
<xsd:documentation xml:lang="en">The root element in an NettingInstruction document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swHeader" type="SW_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
</xsd:element>
<xsd:choice maxOccurs="unbounded">
<xsd:element name="swNewPosition" type="SW_NewPosition">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTermination" type="SW_Termination">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NewPosition">
<xsd:sequence>
<xsd:element name="swOriginatorPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire system.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swProductType" type="SW_IrdProductTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The product type is the top level categorization for SwapsWire templates.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSequenceNumber" type="xsd:integer" minOccurs="0"/>
<xsd:element name="FpML" type="DataDocument">
<xsd:annotation>
<xsd:documentation xml:lang="en">The FpML compliant sub-tree that describes the transaction. This sub-tree uses the FpML DataDocument type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExtendedTradeDetails" type="SW_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTradeEventReportingDetails" type="SW_IrdTradeEventReportingDetails" minOccurs="0"/>
<xsd:element name="swExecutionDateTime" type="xsd:dateTime" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="version" type="SW_Version" use="required"/>
</xsd:complexType>
<xsd:complexType name="SW_Termination">
<xsd:sequence>
<xsd:element name="swSequenceNumber" type="xsd:integer" minOccurs="0"/>
<xsd:element name="swLegalEntity" type="SW_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The legal entity on the cancelled trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouseTradeId" type="xsd:normalizedString"/>
<xsd:element name="swMarkitWireTradeId" type="xsd:normalizedString" minOccurs="0"/>
<xsd:element name="swLinkedTradeDetails" type="SW_LinkedTradeDetails" minOccurs="0"/>
<xsd:element name="swEffectiveDate" type="xsd:date" minOccurs="0"/>
<xsd:element name="swTradeDate" type="xsd:date" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTradeHeader" type="SW_IrdTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional bilateral non-economic trade details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStub" type="SW_Stub" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub details.  This optional element will have two instances if both front and back stubs apply, the first instance applies to the front stubs and the back instance applies to the back stubs; otherwise this element will only occur once where applicable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAssociatedBonds" type="SW_AssociatedBonds" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The underlying bond details if the swap price was negotiated as a spread over underlying bond reference instruments. Note that this element should not be present for a FRA, OIS, CapFloor or Swaption trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExitReason" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will optionally be present if the trade has a trade status of Exit and will contain any reason text entered through the SwapsWire Trader field labeled Exit Reason.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAmendmentType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be presernt if a partial termination is affected, or if a trade has been corrected and contains the value of 'PartialTermination' or 'ErrorCorrection'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCancellationType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if a cancellation is affected for a trade which was booked in error and contains the value 'BookedInError'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementProvision" type="SW_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInflationSwapDetails" type="SW_InflationSwapDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if the trade is an Inflation Swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFutureValue" type="SW_FutureValue" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if the trade is a BRL-CDI non deliverable swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swModificationTradeDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if the trade has a trade status of Exit or Amended and will contain a date entered through the MarkitWire field labeled Transaction Date on Processing tab. The date corresponds to the trade date of the transaction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swModificationEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if the trade has a trade status of Exit or Amended and will contain any reason text entered through the SwapsWire Trader field labeled Effective Date on Processing tab.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRatesTermination" type="SW_RatesTermination" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Full Termination (Cancelation/unwind) or Partial Termination details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOutsideNovation" type="SW_OutsideNovation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Novation details where the novation happens outside of MarkitWire</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFxCutoffTime" type="SW_FxCutoffTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Mark-To-Market fixing cutoff time for cross currency basis swaps</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCrossCurrencyMethod" type="CashPriceMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 23, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (f).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCollateralizedCashPrice" type="YieldCurveMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 28, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (g).</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="correlationId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Correlation ID which will be unique for each message</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNettingBatchId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Netting Batch ID will be used to group and relate netted trades.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSize" type="xsd:integer">
<xsd:annotation>
<xsd:documentation xml:lang="en">The total number of trades that will be netted for this particular batch</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOriginatingEvent" type="SW_NettingType">
<xsd:annotation>
<xsd:documentation xml:lang="en">The type of netting event. This will be set to Netting or Other</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSubCategory" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Used to provide extra information about the type of event.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouse" type="SW_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing House at which the netting instruction originated from.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGTRBulkEventProcessingID" type="xsd:normalizedString"/>
<xsd:element name="swClearingModel" type="SW_ClearingModelEnum" minOccurs="0"/>
<xsd:element name="swSentBy" type="xsd:normalizedString"/>
<xsd:element name="swApiBatchId" type="xsd:normalizedString" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IrdTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swManualConfirmationRequired" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether a follow-up manual confirmation is required. This element will always contain a value of true for a SwapsWire Single Sided Deal</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNovationExecution" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade is a novation execution trade or not. This element will be true for Novation Execution trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingNotRequired" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade needs to be excluded from clearing through a central clearing house or clearing system.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStandardSettlementInstructions" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether standard settlement instructions are applicable. Note that the corresponding SwapsWire Trader checkbox field label is Non-Standard Settlement Instructions, i.e. a checked screen field corresponds to an element value of false.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInteroperable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade should be considered interoperable and tested against the interoperability eligibilty criteria. Note that this flag only applies when the recipient participant's primary platform is not MarkitWire.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExternalInteropabilityId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field which allows users to provide their Unique ID to be used when trade is interopable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInteropNettingString" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field which allows users to provide their Interop Netting String to be used when trade is interopable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNormalised" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether any of the trade data (trade date, effective date or termination date) was normalised as part of the submission process to SwapsWire. This element will only be present for a normalised trade. Currently, normalisation only has applicability for trades with a product type of 'SingleCurrencyInterestRateSwap' submitted to SwapsWire for backloading into LCH.Clearnet's SwapClear service.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAutoSendForClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the tradeshould be automatically sent for clearing if it satisfies the eligibility criteria.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCBClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing Broker</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCBTradeType" type="SW_CBTradeTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Allows user to indicate the type of CB trade as either non-member-CB or CB-CCP.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swMandatoryClearing" type="SW_MandatoryClearing" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory Clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the tradeis a client clearing trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouse" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing House at which the trade is intended to clear.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the details for a trade being cleared outside MW</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swClearingStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Clearing Status text as provided by the Clearing House.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouseTradeID" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The CCP Trade ID as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouseUpfrontFeeSettlementDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Upfront Fee Settlement Date is allocated by the ICE Clearing House on successful acceptance of a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHousePreferredISIN" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Cleared House Prefferd ISIN is the updated ISIN by Clearing House for the ISIN submitted by the trade.This preferred ISIN is allocated by the ICE Clearing House on successful acceptance of a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearedUSI" type="SW_UniqueTradeIdentifier" minOccurs="0"/>
<xsd:element name="swClearedUTI" type="SW_UniqueTradeIdentifier" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swClearingBroker" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing Broker - this should only be submitted currently for client clearing deals.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDataMigrationId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field capturing the Sell side's internal trade ID as a bilateral field</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearedPhysicalSettlement" type="xsd:boolean" fixed="true" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag which can only contain the value 'true', which if present indicates that the underlying swap is to be cleared.  This should only be submitted for physical settlement of swaptions.  This property is defined in Supplement 28, ISDA 2006 Definitions, Section 15.2 Cleared Physical Settlement.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBackLoadingFlag" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag to identify backloaded trades.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAssociatedTrades" type="SW_AssociatedTrades" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Trade association type for trades linked to each other.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOriginatingEvent" type="SW_OriginatingEvent" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The reason a trade is created such as Bunched Order Block, Bunched Order Allocation, Backload. </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OriginatingEvent">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies the type of business event that triggered the origination of this trade.  This is used to provide additional detail about how or why a trade originatated, particularly when this is not self-evident.  For example, it can indicated that the trade was created as a result original bunched order or allocation.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swOriginatingEventScheme" type="xsd:anyURI" fixed="http://www.markitwire.com/spec/2013/coding-scheme/originating-event"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_NettingType">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies the type of business event that triggered the NettingEvent.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_NettingTypeEnum">
<xsd:attribute name="swOriginatingEventScheme" type="xsd:anyURI" fixed="http://www.markitwire.com/spec/2013/coding-scheme/originating-event"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_Stub">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swStubPosition" type="SW_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a start (front) or end (back) stub. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStubLength" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element carries an href attribute that identifies the leg to which the stub corresponds. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_StubLengthEnum">
<xsd:attribute name="href" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_AssociatedBonds">
<xsd:annotation>
<xsd:documentation xml:lang="en">For some markets, e.g. U.S. Dollar and Canadian Dollar, it is usual practice to quote swap prices in terms of a spread over an underlying reference bond instrument(s) and in most cases these underlying instruments are exchanged at time of trade. This entity allows specification of the negotiated spread rate and the associated bonds themselves, including whether or not they will be exchanged.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swNegotiatedSpreadRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The negotiated swap spread rate. A positive 10 basis point (0.1 percent) spread would be represented as 0.001.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondDetails" type="SW_BondDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details of the associated bond(s) if the swap was negotiated as a spread over these underlying instruments. This element should occur a maximum of two times.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BondDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining bond details. By convention, the Fixed Rate Payer on the Swap Transaction buys the bonds from the Floating Rate Payer.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swBondId" type="SW_BondIdEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier for the bond instrument. This element should not be present if the broker is unable to map a SwapsWire defined Scheme value in this field.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A free format description of the bond instrument. The description should not exceed 40 characters in length. If the swBondId element is present then this should represent a textual description of the identifier. Note that if the ampersand character "&amp;" and the left and right angle brackets are entered as part of the description they should be escaped using the strings "&amp;", "&lt;" and "&gt;" respectively in the character data of the element content (see http://www.w3.org/TR/2000/REC-xml-20001006#syntax for further explanation).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondQuantity" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The bond face amount expressed as a percentage of the notional amount of the swap. 50 percent would be represented as 0.5.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondFaceAmount" type="xsd:nonNegativeInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The face amount of the bond.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPriceType" type="SW_PriceTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">A classification of the format used to express the bond price and hence how the value in the swBondPrice element should be interpreted. For example, whether the price is in a decimal format or whether the fractional part is expressed in 32nds of 1% of par value etc.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondPrice" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The clean bond price expressed in a format consistent with the price type specified by the swPriceType element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SettlementProvision">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swSettlementCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNonDeliverableSettlement" type="SW_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for converting a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swReferenceCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFxFixingSchedule" type="AdjustableDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Valuation date, Typically for a non deliverable BRL interest rate swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementRateOption">
<xsd:annotation>
<xsd:documentation xml:lang="en">FX Rate source</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swSettlementRateOptionScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/settlement-rate-option-1-0"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_InflationSwapDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regrading inflation swaps that are not held in the FpML structure</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swIndexInitial" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The index initial given in month and year</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIndexFinal" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The index final given in month and year.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swfallbackBondApplicable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The applicability of a fallback bond as defined in the 2006 ISDA Inflation Derivatives Definitions, sections 1.3 and 1.8. Omission of this element imples a value of true.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCalculationMethod" type="SW_InflationCalculationMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates how to use the inflation index to calculate the payment (e.g. Ratio, Return, Spread).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCalculationStyle" type="SW_InflationCalculationStyleEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates the style of how the inflation index calculates the payment (e.g. YearOnYear, ZeroCoupon).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFinalPrincipalExchangeCalculation" type="SW_FinalPrincipalExchangeCalculation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">To be specified only for inflation products that embed a redemption payment, e.g. inflation linked asset swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSpreadCalculationMethod" type="SW_SpreadCalculationMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Code values for different methods of spread calculation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SW_InflationCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation>Code values for different ways of using inflation indexes in formulas</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Ratio">
<xsd:annotation>
<xsd:documentation>(Inflation Index Final / Inflation Index Base). Inflation Index Final is inflation index for Reference Month that is the Lag number of months prior to Payment Date (subject to interpolation). Inflation Index Base subject to the Calculation Style. Used in inflation asset swaps to calculate the inflation coupons and principal exchange.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Return">
<xsd:annotation>
<xsd:documentation>(Inflation Index Final / Inflation Index Base -1). Inflation Index Final is the inflation index for Reference Month that is the Lag number of months prior to Payment Date (subject to interp). Inflation Index Base subject to the Calculation Style. Used in market standard ZC Inflation swaps.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Spread">
<xsd:annotation>
<xsd:documentation>Inflation Index Final - Inflation Index Base). Inflation Index Final is Index for Ref month the Lag months prior to Payment Date (subject to interp). Inflation Index Base subject to the Calculation Style. Typically used for fixing locks.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_InflationCalculationStyleEnum">
<xsd:annotation>
<xsd:documentation>Code values for different styles of ways of calculation methods.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="YearOnYear">
<xsd:annotation>
<xsd:documentation>YearOnYear means Inflation Index Base is the inflation index for Reference Month that is 12 months prior to Inflation Index Final (subject to interpolation). Inflation Index Base is cashflow dependent.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ZeroCoupon">
<xsd:annotation>
<xsd:documentation>ZeroCoupon means Inflation Index Base used in the CalculationMethod is the inflation index for the Reference Month that is the lag number of months prior to Effective Date in the case of a swap, or Bond Interest Accrual Date in the case of an Asset Swap (subject to interpolation). Inflation Index Base has the same value for each inflation cashflow and Principal Exchange calculation within the trade.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SW_FinalPrincipalExchangeCalculation">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether the Principal Exchange on the inflation leg is floored or not. If TRUE, Principal Exchange takes the form: Inflation Notional Amount * Max(1, Index Final/ Index Base). If FALSE, the Principal Exchange takes the form: Inflation Notional Amount * Index Final / Index Base.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swFloored" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">If TRUE, Principal Exchange takes the form: Inflation Notional Amount * Max(1, Index Final/ Index Base). If FALSE, the Principal Exchange takes the form: Inflation Notional Amount * Index Final / Index Base.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SW_SpreadCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation>Code values for different methods of spread calculation.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="ParPar"/>
<xsd:enumeration value="Proceeds"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SW_FutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details regarding the Future Value of the fixed leg of the trade</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="calculationPeriodNumberOfDays" type="xsd:positiveInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The number of days from the adjusted effective / start date to the adjusted termination / end date calculated in accordance with the applicable day count fraction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalFutureValue" type="SW_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="currency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Currency of Notional Future Value amount.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="amount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Amount of Notional Future Value.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF">
<xsd:annotation>
<xsd:documentation xml:lang="en">Pointer to the Present Value notional amount for this Future Value </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_RatesTermination">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regarding a Full Termination (Cancelation/unwind) or Partial Termination</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPreviousNotional1" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPreviousNotional2" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalDecrease1" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalDecrease2" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OutsideNovation">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the details of a Novation which happened outside of MarkitWire.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTransferor" type="SW_Transferor">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="transferee" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Incoming Party Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="remainingParty" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Remaining Party Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Effective Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novationTradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Trade Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fullFirstCalculationPeriod" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether Full First Calculation Period is applicable to the New Transaction arising from a novation. Full First Calculation Period relates to initial cashflow accruals for payment by each party on the first Payment Date following a novation and is defined in the 2004 ISDA Novation Definitions. ISDA 2004 Novation Term: Full First Calculation Period.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFirstFixedPeriodStartDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First Fixed Period Start Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFirstFloatPeriodStartDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First Float Period Start Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_Transferor">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the details of a Transferor, i.e. the Outgoing Party of a novation.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FxCutoffTime">
<xsd:annotation>
<xsd:documentation>A component for defining the Mark-To-Market fixing cutoff time for cross currecny basis swaps.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="hourMinuteTime" type="HourMinuteTime">
<xsd:annotation>
<xsd:documentation>A time specified in hh:mm:ss format where the second component must be '00', e.g. 11am would be represented as 11:00:00.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_LinkedTradeDetails">
<xsd:sequence>
<xsd:element name="swLinkId" minOccurs="0" maxOccurs="unbounded">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="id"/>
<xsd:attribute name="linkIdScheme" type="xsd:anyURI" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
