extracted_libraries/xml/swbml-shared-4-2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="fpml-main-4-2.xsd"/>
<xsd:include schemaLocation="swbml-enum-4-2.xsd"/>
<xsd:include schemaLocation="swxml-reporting-dtd-continuity-include-1-0.xsd"/>
<xsd:include schemaLocation="swbml-reporting-1-0.xsd"/>
<xsd:complexType name="SWB_Allocations">
<xsd:sequence>
<xsd:element name="swbAllocation" type="SWB_Allocation" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_Allocation">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for defining details of an individual allocation split.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:sequence>
<xsd:element name="swbStreamReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a swapStream defined elsewhere in the document. For a fixed/float interest rate swap this will reference the fixed stream.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="payerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="receiverPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:sequence>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the buyer on the allocation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the seller on the allocation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:choice>
<xsd:element name="allocatedNotional" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The notional amount applicable to the allocation. This is an FpML 4.2 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAllocatedContraNotional" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation>New element for the allocated notional of the contra currency for the allocation of a XCCY swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbFixedAmount" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The fixed amount applicable to the allocation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbContraFixedAmount" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The contra fixed amount applicable to the allocation, for use in fixed-fixed swaps.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbVariableAmount" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation>New element for initial notional of the variable leg for a mark to market of a XCCY allocation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="independentAmount" type="IndependentAmount" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies an independent amount applicable to the allocation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBrokerTradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by the broker. SwapsWire requires that this identifier be no more than 40 characters in length. The '|' character is not allowed within the identifier string.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="otherPartyPayment" type="SWB_AllocationPayment" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade.  In this context the element carries a seq attribute that will have a value of '1' or '2' to indicate to which additionalPayment child element within the FpML trade structure that the allocated payment corresponds. This element will also carry an informational directionReversed attribute that will have a value of 'true' only when the pay/receive direction of the additional payment on the allocation with respect to the parties is the reverse of that on the block trade. The directionReversed attribute will not otherwise be present.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyClearingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the Clearing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if this is the EB or Client corresponding to the CB below.  This is for each allocation on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingBroker" type="SWB_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Definition of Clearing Broker for each allocation</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyNettingString" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the netting strings for the Client and/or Executing Broker for each allocation</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbNettingString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyCreditAcceptanceToken" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the credit acecptance token for a party.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbCreditIssuer" type="xsd:normalizedString"/>
<xsd:element name="swbToken" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyClearingDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the details for a trade being cleared outside MW</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbClearingStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Clearing Status text as provided by the Clearing House.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouseTradeID" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The CCP Trade ID as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedUSI" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
<xsd:element name="swbClearedUTI" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbAllocationReportingDetails" type="SWB_AllocationReportingDetails" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_AllocationPayment">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining allocation additional payments. This component is based on the FpML complex type Payment.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:group ref="PayerReceiver.model"/>
<xsd:element name="paymentAmount" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_CustomerTransaction">
<xsd:annotation>
<xsd:documentation>Sets out which parties are the client and prime broker on the trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbCustomer" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWML document. This is an FpML element. The party referenced is the customer.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPrimeBroker" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWML document. This is an FpML element. The party referenced is the prime broker.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementAgent" type="SWB_SettlementAgentPB" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_GiveUp">
<xsd:annotation>
<xsd:documentation xml:lang="en">The swGiveUp element captures details specific to Prime Brokerage, and defines a tri-party agreement on the primary prime-brokered trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbCustomerTransaction" type="SWB_CustomerTransaction">
<xsd:annotation>
<xsd:documentation>Sets out which parties are the client and prime broker on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbInterDealerTransaction" type="SWB_InterDealerTransaction">
<xsd:annotation>
<xsd:documentation>Sets out which parties are the executing dealer and prime broker on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbExecutingDealerCustomerTransaction" type="SWB_ExecutingDealerCustomerTransaction" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Sets out which parties are the executing dealer and customer on the trilateral trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining information about the transaction including the broker's trade id and version, trade source and information linking the message recipients to a particular side of the transaction.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbBrokerTradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by the broker. SwapsWire requires that this identifier be no more than 40 characters in length. The '|' character is not allowed within the identifier string.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTotalLegs" type="xsd:nonNegativeInteger" minOccurs="0">
<xsd:annotation>
<xsd:documentation>An identifier that specifies the total number of legs for the strategy being submitted. This is validated to ensure the leg number submitted is not greater than the maximum allowed for that strategy type. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBrokerLegId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A leg identifier allocated by the broker to identify individual legs in a larger group, e.g. a strategy. SwapsWire requires that this identifier be no more than 20 characters in length and comprises of only letters a-z (upper or lower case), digits, hyphens, underscores, colons or full stops. Whitespace is not allowed within the identifier string.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbStrategyType" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A strategy type identifier to identify the nature of the equity option strategy trade(s) being submitted. The value must be a recognised allowable value, e.g; Straddle.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbStrategyComment" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A free text comment field to allow additional comments regarding strategy trades to be made bilaterally. Should only be present where swbStrategyType is populated.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBrokerTradeVersionId" type="xsd:nonNegativeInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference version identifier allocated by the broker. This identifier should not exceed 40 characters in length. Note that SwapsWire will not use this version identifier in its processing of the deal.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTradeSource" type="SWB_TradeSource">
<xsd:annotation>
<xsd:documentation xml:lang="en">The trade source, e.g. voice brokered, electronic execution etc. The trade source will determine the applicable workflow for the trade within SwapsWire.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbVenueId" type="SWB_VenueId" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The venue Identifier e.g. Pre-LEI </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbRecipient" type="SWB_Recipient" minOccurs="2" maxOccurs="4">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element defines the linkage between a recipient defined in the BrokerLoad deal submission API call and the Buyer/Seller on the FpML trade. The element carries an id attribute which must have a value corresponding to a valid recipient id for the deal. This element must occur two times.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbReplacementTradeId" type="SWB_ReplacementTradeId" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_InterDealerTransaction">
<xsd:annotation>
<xsd:documentation>Sets out which parties are the executing dealer and prime broker on the trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbExecutingDealer" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWML document. This is an FpML element. The party referenced is the executing dealer.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPrimeBroker" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWML document. This is an FpML element. The party referenced is the prime broker.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementAgent" type="SWB_SettlementAgentPB" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_ExecutingDealerCustomerTransaction">
<xsd:annotation>
<xsd:documentation>Sets out which parties are the executing dealer and prime broker on the trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbExecutingDealer" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWML document. This is an FpML element. The party referenced is the executing dealer.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_Recipient">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining information linking the FpML trade Buyer/Seller or Payer/Receiver to the message recipients. This element carries an id attribute which must have a value corresponding to a valid recipient id for the deal</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWBML document. This is an FpML element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbUserName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of the trader that the broker dealt with at the dealer firm. Note that the name entered here does not affect who the deal is sent to within SwapsWire. It is for informational purposes only and becomes part of the SwapsWire trade record.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTradingBookId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Participant specific trading book.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
<xsd:complexType name="SWB_TradeSource">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type to define the trade source. The Trade Source Scheme is used to identify the source of the trade and determines the appropriate confirmation process within the SwapsWire system.  Different sources map to different types of SwapsWire Services as described in the SwapsWire Broker Terms.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swbTradeSourceScheme" type="xsd:anyURI" default="http://www.swapswire.com/spec/2002/trade-source-1-0"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SWB_VenueId">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type to define the venue identifier issuer. The Venue Id Scheme is used to identify the source of the Id and determines the Issuer/Id  values used for Clearing and Reporting.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swbVenueIdScheme" type="xsd:anyURI"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SWB_MandatoryClearing">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory Clearing.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbJurisdiction" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Jurisdiction of where this product is mandatory clearable e.g. JFSA, CFC etc.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSupervisoryBodyCategory" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Categorisation of the supervisorybody.</xsd:documentation>
<xsd:documentation/>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swbSupervisoryBodyCategoryScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category
"BroadBased", "NarrowBased", "Mixed"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:choice>
<xsd:sequence>
<xsd:element name="swbMandatoryClearingIndicator" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">Whether the particular trade type in question is required by this regulator to be cleared.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyExemption" type="SWB_PartyExemption" minOccurs="0" maxOccurs="2"/>
</xsd:sequence>
<xsd:element name="swbPartyExemption" type="SWB_PartyExemption" maxOccurs="2"/>
</xsd:choice>
<xsd:element name="swbInterAffiliateExemption" type="xsd:boolean" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether trading parties are affiliated and both have elected to invoke Inter Affiliate Exemption under CFTC.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_PartyExemption">
<xsd:sequence>
<xsd:element name="partyReference" type="PartyReference"/>
<xsd:element name="swbExemption" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for party id and party name.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference" minOccurs="0"/>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SWB_Version">
<xsd:annotation>
<xsd:documentation xml:lang="en">SWBML version number</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="4-2"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SWB_BusinessConductDetails">
<xsd:annotation>
<xsd:documentation>A component for defining trade details related to business conduct standards that are not captured within the FpML component of the message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbMidMarketPrice" type="SWB_MidMarketPrice" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en"> A component for defining Mid Market Price </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_MidMarketPrice">
<xsd:annotation>
<xsd:documentation>Component to contain Mid Market Price information</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swbAmount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation>Contains value specified for Mid-Market Price</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCurrency" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Contains currency specified for Mid-Market Price</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbUnit" type="SW_Unit">
<xsd:annotation>
<xsd:documentation>Contains unit scheme that specifies Mid-Market price type </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_TradePackageHeader">
<xsd:annotation>
<xsd:documentation>Component to contain Package Trade header information</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbPackageIdentifier" minOccurs="1">
<xsd:annotation>
<xsd:documentation>Contains the package ID as a two part identifier</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swbIssuer">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swbIssuerScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2014/coding-scheme/package-identifier-issuer"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbTradeId">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swbTradeIdScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2014/coding-scheme/package-identifier-trade-id"/>
<xsd:attribute name="swbId" type="xsd:ID"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbSize" type="xsd:positiveInteger" minOccurs="1">
<xsd:annotation>
<xsd:documentation>Contains the number of trades that will be part of the package</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyCreditAcceptanceToken" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the credit acecptance token for a party.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbCreditIssuer" type="xsd:normalizedString"/>
<xsd:element name="swbToken" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_ReplacementTradeId">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbTradeId">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString"/>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbTradeIdType" type="SWB_TradeIdTypeEnum"/>
<xsd:element name="swbReplacementReason" type="SWB_ReplacementReasonEnum" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_Payment">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional payments. This component is based on the FpML complex type Payment.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:group ref="PayerReceiver.model"/>
<xsd:element name="paymentAmount" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="paymentDate" type="AdjustableDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The payment date. This date is subject to adjustment in accordance with any applicable business day convention.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="paymentType" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A classification of the type of fee or additional payment, e.g. brokerage, upfront fee etc. The paymentType element will contain the literal string entered into the SwapsWire Trader additional payment 'reason' screen entry field, except in the case of a trade cancellation when it will contain the reserved literal value 'Cancellation'. If the 'reason' screen entry field is left empty then this element will not be present.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_SettlementAgentPB">
<xsd:sequence>
<xsd:element name="swbSettlementAgency" type="SWB_SAPartyRefPB">
<xsd:annotation>
<xsd:documentation>The reference to the Party details contained in the FpML for the specified Settlement Agency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementAgencyModel" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation>Settlement Agency Model, either CTM (Collateralised To Market) or STM (Settle To Market)</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_SAPartyRefPB">
<xsd:annotation>
<xsd:documentation>The specified Settlement Agency party details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Agency Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Agency Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
