extracted_libraries/xml/swbml-ird-main-4-2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swbml-shared-4-2.xsd"/>
<xsd:include schemaLocation="swbml-ird-enum-4-2.xsd"/>
<xsd:include schemaLocation="swbml-reporting-1-0.xsd"/>
<xsd:element name="SWBML" type="SWBML"/>
<xsd:complexType name="SWBML">
<xsd:annotation>
<xsd:documentation xml:lang="en">The root element in an SWBML document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbHeader" type="SWB_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en">The broker's trade id and version, trade source and information linking the message recipients to a particular side of the transaction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbGiveUp" type="SWB_GiveUp" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of the give up relationships for a prime brokered transaction. This element will be present if the trade has a trade status of PrimeBrokered.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swbBlockTrade" type="Empty" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Flag used to identify an allocation Block with empty split details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAllocations" type="SWB_Allocations" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of allocation splits that will be applied to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swbStructuredTradeDetails" type="SWB_StructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction defined in a formal structure.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTradeEventReportingDetails" type="SWB_TradeEventReportingDetails" minOccurs="0"/>
<xsd:element name="swbPrivatePartyTradeEventReportingDetails" type="SWB_PrivatePartyTradeEventReportingDetails" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="version" type="SWB_Version" use="required">
<xsd:annotation>
<xsd:documentation xml:lang="en">SWBML version number</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SWB_AssociatedBonds">
<xsd:annotation>
<xsd:documentation xml:lang="en">For some markets, e.g. U.S. Dollar and Canadian Dollar, it is usual practice to quote swap prices in terms of a spread over an underlying reference bond instrument(s) and in most cases these underlying instruments are exchanged at time of trade. This component allows specification of the negotiated spread rate and the associated bonds themselves, including whether or not they will be exchanged.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbExchangeBonds" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the associated bonds will actually be exchanged by the dealers.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbNegotiatedSpreadRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The negotiated swap spread rate. A positive 10 basis point (0.1 percent) spread would be represented as 0.001.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBondDetails" type="SWB_BondDetails" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details of the associated bond(s) if the swap was negotiated as a spread over these underlying instruments. This element should occur a maximum of two times.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_AssociatedFuture">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining details of any future being crossed on a Swap Transaction. For some markets, e.g. AUD, GBP, EUR and CHF, it is possible for either side to cross up to two futures against an interest rate swap in order to hedge the trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbFutureName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier for the future. The valid values depend on the currency of the Swap Transaction. For a GBP denominated transaction the value 'Gilt' is valid. For EUR and CHF denominated swaps the values 'Bund', 'Bobl', 'Buxl' or 'Schatz' are valid. For AUD denominated swaps the values 'Bill' or 'Bond' are valid.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbQuantity" type="xsd:positiveInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The number of futures contracts being crossed.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swbMaturity" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The maturity date of the futures contract being crossed.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbDescription" type="xsd:string">
<xsd:annotation>
<xsd:documentation>The description (maturity month or years to maturity) of the futures contract being crossed. Valid for AUD bill futures and AUD bond futures only.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swbPrice" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The price per contract for the futures contract being crossed.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:complexType>
<xsd:complexType name="SWB_BondDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining bond details. By convention, the Fixed Rate Payer on the Swap Transaction buys the bonds from the Floating Rate Payer.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbBondId" type="SWB_BondIdEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier for the bond instrument. This element should not be present if the broker is unable to map a SwapsWire defined enumerated value in this field.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBondName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A free format description of the bond instrument. The description should not exceed 40 characters in length. If the swbBondId element is present then this should represent a textual description of the identifier. Note that if the ampersand character (&amp;) and the left (&lt;) and right (&gt;) angle brackets are entered as part of the description they should be escaped using the strings "&amp;amp;", "&amp;lt;" and "&amp;gt;" respectively in the character data of the element content (see http://www.w3.org/TR/2000/REC-xml-20001006#syntax for further explanation).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBondFaceAmount" type="xsd:positiveInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The face amount of the bond.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPriceType" type="SWB_PriceTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">A classification of the format used to express the bond price and hence how the value in the swbBondPrice element should be interpreted. For example, whether the price is in a decimal format or whether the fractional part is expressed in 32nds of 1% of par value.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBondPrice" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The clean bond price expressed in a format consistent with the price type specified by the swbPriceType element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_EarlyTerminationProvision">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining limited early termination provision information relating to the Swap Transaction. Both Mandatory and Optional Early Termination are supported.</xsd:documentation>
</xsd:annotation>
<xsd:choice>
<xsd:element name="swbMandatoryEarlyTerminationDate" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">The ISDA Mandatory Early Termination Date expressed as a date offset. For example, 5 years.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbMandatoryEarlyTermination" type="SWB_MandatoryEarlyTermination">
<xsd:annotation>
<xsd:documentation>The terms relating to a Mandatory Early Termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbOptionalEarlyTermination" type="SWB_OptionalEarlyTermination">
<xsd:annotation>
<xsd:documentation xml:lang="en">The terms relating to an Optional Early Termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:complexType>
<xsd:complexType name="SWB_NoEarlyTerminationProvision">
<xsd:complexContent>
<xsd:restriction base="xsd:anyType"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:element name="swbNoEarlyTerminationProvision" type="SWB_NoEarlyTerminationProvision"/>
<xsd:complexType name="SWB_FutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details regarding the Future Value of the fixed leg of the trade</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="calculationPeriodNumberOfDays" type="xsd:positiveInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The number of days from the adjusted effective / start date to the adjusted termination / end date calculated in accordance with the applicable day count fraction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbNotionalFutureValue" type="SWB_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
</xsd:complexType>
<xsd:complexType name="SWB_FxCutoffTime">
<xsd:annotation>
<xsd:documentation>A component for defining the Mark-To-Market fixing cutoff time for cross currency basis swaps.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="hourMinuteTime" type="HourMinuteTime">
<xsd:annotation>
<xsd:documentation>A time specified in hh:mm:ss format where the second component must be '00', e.g. 11am would be represented as 11:00:00.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_OptionalEarlyTermination">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining limited information for an Optional Early Termination relating to the Swap Transaction.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbOptionalEarlyTerminationDate" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">The earliest ISDA Optional Early Termination Date expressed as a date offset. For example, 5 years.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbOptionalEarlyTerminationFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The optional early termination frequency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbExerciseBusinessCenters" type="BusinessCenters" minOccurs="0"/>
<xsd:element name="swbEarliestExerciseTime" type="HourMinuteTime" minOccurs="0"/>
<xsd:element name="swbExpirationTime" type="HourMinuteTime" minOccurs="0"/>
<xsd:element name="swbValuationTime" type="HourMinuteTime" minOccurs="0"/>
<xsd:element name="swbTimeBusinessCenter" type="BusinessCenter" minOccurs="0"/>
<xsd:element name="swbCalculationAgent" type="CalculationAgent" minOccurs="0"/>
<xsd:element name="swbCashSettlementMethod" type="SWB_CashSettlementMethodEnum" minOccurs="0"/>
<xsd:choice minOccurs="0">
<xsd:element name="applicableCsa" type="CsaTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">Under the 2021 Definitions and only when the cash settlement method is one of the "Mid-market Valuation" choices this may be used to override MarkitWire's OET default value of "Existing CSA" and MET default value of "Reference VM CSA".</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="prescribedDocumentationAdjustment" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">Under the 2021 Definitions and only when the cash settlement method is "Replacement Value (Firm Quotations)" this may be used to indicate that "Prescribed Documentation Adjustment" is Applicable (true) for an OET or MET. MarkitWire's default value is Not Applicable (false).</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_StructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the structured details of a brokered trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbProductType" type="SWB_IrdProductTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The SwapsWire product type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="FpML" type="DataDocument">
<xsd:annotation>
<xsd:documentation xml:lang="en">The FpML compliant sub-tree that describes the transaction. This sub-tree uses the FpML DataDocument type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbExtendedTradeDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional structured trade details that are not captured within the FpML trade representation.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWB_IrdExtendedTradeDetails">
<xsd:sequence>
<xsd:element name="swbTradeHeader" type="SWB_TradeHeader" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional bilateral non-economic trade details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbProductTerm" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The nominal term (tenor) of the swap, cap or floor expressed as a number of weeks, months or years. For a swaption this should specify the term of the underlying swap. This will be used for associating a particular set of market defaults with the deal. See the SWBML specification for further details of how the product term should be calculated for each product type. Note that this element should not be present for a FRA trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbMessageText" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A free format text message that will be displayed to both dealers alongside the structured trade details. The message should not exceed 200 characters in length.   Note that if the ampersand character (&amp;) and the left (&lt;) and right (&gt;) angle brackets are entered as part of the description they should be escaped using the strings "&amp;amp;", "&amp;lt;" and "&amp;gt;" respectively in the character data of the element content (see http://www.w3.org/TR/2000/REC-xml-20001006#syntax for further explanation).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbStubPosition" type="SWB_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a start (front) or end (back) stub. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbNoStubLinearInterpolation" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Control tag to switch interpolation off if necessary. This element carries an href attribute that identifies the leg to which the control applies to. This is in order to be able to specify for Basis swaps which of the 2 floating legs this applies to. This element will be present if NO interpolation is applied for the specified floating leg. The element must be empty, only its presence will be tested for.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="href" type="xsd:string" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbStubLength" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element carries an href attribute that identifies the leg to which the stub corresponds. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SWB_StubLengthEnum">
<xsd:attribute name="href" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbFrontAndBackStubs" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Additional details applicable to final stub where both initial and final stubs exist on a trade.  Note that this element should only be present for IRS trades where front stub details have already been defined.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swbNoStubLinearInterpolation" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Control tag to switch interpolation off if necessary for the end stub. This element carries an href attribute that identifies the leg to which the control applies to. This is in order to be able to specify for Basis swaps which of the 2 floating legs this applies to. This element will be present if NO interpolation is applied for the specified floating leg. The element must be empty, only its presence will be tested for.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:attribute name="href" type="xsd:string" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbStubLength" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an end stub is a short or long stub. This element carries an href attribute that identifies the leg to which the stub corresponds. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SWB_StubLengthEnum">
<xsd:attribute name="href" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:choice>
<xsd:element name="swbEarlyTerminationProvision" type="SWB_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or
Optional Early Termination can be specified. Note that this element should not be present for a FRA trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbNoEarlyTerminationProvision" type="SWB_NoEarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if NO breaks are to be calculated for a deal. The element must be
empty, only its presence will be tested for.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swbAssociatedBonds" type="SWB_AssociatedBonds" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The underlying bond details if the swap price was negotiated as a spread over underlying bond reference instruments. Note that this element should not be present for a FRA, OIS, CapFloor or Swaption trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAssociatedFuture" minOccurs="0" maxOccurs="4">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of a future being crossed. This element carries an href attribute that identifies the party to which the futures cross corresponds. Note that this element should not be present for a FRA, OIS, CapFloor or Swaption trade.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWB_AssociatedFuture"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="additionalPayment" type="SWB_Payment" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementProvision" type="SWB_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element may be present if the trade is non deliverable swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbFutureValue" type="SWB_FutureValue" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element may be present if the trade is a BRL-CDI non deliverable swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbFxCutoffTime" type="SWB_FxCutoffTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Mark-To-Market fixing cutoff time for cross currency basis swaps</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCollateralizedCashPrice" type="YieldCurveMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 28, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (g).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementAgent" type="SWB_SettlementAgent" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of a designated Settlement Agent to process settlement and collateral payments on behalf of both counterpartyies to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbOrderDetails" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A requirement under MIFID 2, to capture bilateral details related to transmission of orders.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWB_OrderDetails"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbCapFloorDetails" type="SWB_CapFloorDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A placeholder to capture additional details related to CMS One Look Product</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbInflationSwapDetails" type="SWB_InflationSwapDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will be present if the trade is an Inflation Swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAgreedDiscountRate" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>As a result of the CCPs moving from over night rates to risk free rates,this field, on a swaption template, captures the rate that was used to value the underlying swap when the trade was originally booked</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="calculationAgent" type="CalculationAgent" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Calculation agent party details for products for which calculationAgent structure is not supported by FpML 4.2 schema</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPackageDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Captures data related to Package Trades.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWB_PackageDetails"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbBusinessConductDetails" type="SWB_BusinessConductDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining trade details related to business conduct standards that are not 	captured within the FpML component of the message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTradePackageHeader" type="SWB_TradePackageHeader" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component to capture Package Trade header information</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_SettlementProvision">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbSettlementCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbNonDeliverableSettlement" type="SWB_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for converting a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbReferenceCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbFxFixingSchedule" type="AdjustableDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Valuation date, Typically for a non deliverable BRL interest rate swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementRateOption">
<xsd:annotation>
<xsd:documentation xml:lang="en">FX Rate source</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swSettlementRateOptionScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/settlement-rate-option-1-0"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="currency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Currency of Notional Future Value amount.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="amount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Amount of Notional Future Value.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF">
<xsd:annotation>
<xsd:documentation xml:lang="en">Pointer to the Present Value notional amount for this Future Value </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SWB_TradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbExternalInteropabilityId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field which allows users to provide their Unique ID to be used when trade is interopable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbInteropNettingString" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field which allows users to provide their Interop Netting String to be used when trade is interopable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAutoProcessing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This indicates whether MW should perform auto actions on behalf of both the parties on the MW or not.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAutoSendForClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the tradeshould be automatically sent for clearing if it satisfies the eligibility criteria.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbMandatoryClearing" type="SWB_MandatoryClearing" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory Clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the tradeis a client clearing trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouse" type="SWB_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing House at which the trade is intended to clear.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyClearingDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the details for a trade being cleared outside MW</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbClearingStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Clearing Status text as provided by the Clearing House.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouseTradeID" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The CCP Trade ID as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouseUpfrontFeeSettlementDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Upfront Fee Settlement Date is allocated by the ICE Clearing House on successful acceptance of a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHousePreferredISIN" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Cleared House Prefferd ISIN is the updated ISIN by Clearing House for the ISIN submitted by the trade.This preferred ISIN is allocated by the ICE Clearing House on successful acceptance of a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedUSI" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
<xsd:element name="swbClearedUTI" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyClearingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the Clearing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if this is the EB or Client corresponding to the CB below.  This is for each allocation on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingBroker" type="SWB_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Definition of Clearing Broker for each allocation</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbDisplayPartyLegalEntity" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Definition of dummy or fake LE which will be displayed to other party in case of clearing anonymity</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference for which display LE is specified.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbDisplayLE" type="SWB_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">BIC and Name of the LE which will be displayed to other side in case of clearing anonymity</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbExecutingBroker" type="PartyOrTradeSideReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The party reference of the Executing Broker</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingClient" type="PartyOrTradeSideReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The party reference of the Client</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientFund" type="SWB_PartyDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the private fund for the Client</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyNettingString" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the netting string for the Client and/or Executing Broker </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbNettingString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyCreditAcceptanceToken" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the credit acecptance token for a party.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbCreditIssuer" type="xsd:normalizedString"/>
<xsd:element name="swbToken" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbAnonymousTrade" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to inform MW to anonymoise the Trade. MW will hide the identity of buyer and seller from eachother.   </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbOffsettingTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to inform the CCP of the related trade that is to be offsett at their end.   </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCompressionType" type="SWB_CompressionTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Compression Type per side of the trade. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyDeskId" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the Desk Id for the Client and/or Executing Broker </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbDeskId"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyExecutionMethod" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the Execution Method per side of the trade. This information is also used to identify a Gate Checking trade. </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swbExecutionMethod" type="SWB_ExecutionMethodEnum"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbOTVConfirmation" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to indicate if SEF is using MW for OTV Confirmation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedPhysicalSettlement" type="xsd:boolean" fixed="true" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag which can only contain the value 'true', which if present indicates that the underlying swap is to be cleared.  This should only be submitted for physical settlement of swaptions.  This property is defined in Supplement 28, ISDA 2006 Definitions, Section 15.2 Cleared Physical Settlement.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyIntroducingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the introducing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference to the party for whom the IB is specified on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbIntroducingBroker" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A broker will submit either broker code or LE BIC in the field as the IB</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbOriginatingEvent" type="OriginatingEvent" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The reason a trade is created such as Bunched Order Block, Bunched Order Allocation. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPredeterminedClearerForUnderlyingSwap" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The expected clearer of the underlying swap upon exercise of the swaption, as agreed at execution of the swaption</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPricedToClearCCP" type="SWB_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing House at which the trade was priced to clear. </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="OriginatingEvent">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies the type of business event that triggered the origination of this trade.  This is used to provide additional detail about how or why a trade originated, particularly when this is not self-evident. For example, it can indicated that the trade was created as a result novation or swaption.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="originatingEventScheme" type="xsd:anyURI" fixed="http://www.markitwire.com/spec/2013/coding-scheme/originating-event"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SWB_SettlementAgent">
<xsd:annotation>
<xsd:documentation> A type defining details of a specified Settlement Agent to the trade</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="1">
<xsd:element name="swbSettlementAgency" type="SWB_SAPartyRef" minOccurs="1">
<xsd:annotation>
<xsd:documentation>The reference to the Party details contained in the FpML for the specified Settlement Agency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSettlementAgencyModel" type="xsd:normalizedString" minOccurs="1">
<xsd:annotation>
<xsd:documentation>Settlement Agency Model, either CTM (Collateralised To Market) or STM (Settle To Market)</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_SAPartyRef">
<xsd:annotation>
<xsd:documentation>The specified Settlement Agency party details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Agency Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Agency Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_OrderDetails">
<xsd:annotation>
<xsd:documentation>A structure to capture bilateral Order transmission details required under MIFID 2</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbTypeOfOrder" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the type of order, as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTotalConsideration" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the total consideration towards the order as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbRateOfExchange" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the rate of exchange towards the order as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientCounterparty" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate where the client's counterparty was the investment firm itself or any person in the investment firm's group or another client of the investment firm, the fact that this was the case unless the order was executed through a trading system that facilitates anonymous trading. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTotalCommissionAndExpenses" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise total sum of the commissions and expenses charged and, where the client so requests, an itemised breakdown including, where relevant, the amount of any mark-up or mark-down imposed where the transaction was executed by an investment firm when dealing on own account, and the investment firm owes a duty of best execution to the client.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientSettlementResponsibilities" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would constitute client's responsibilities in relation to the settlement of the transaction, including the time limit for payment or delivery as well as the appropriate account details where these details and responsibilities have not previously been notified to the client.  </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:complexType>
<xsd:complexType name="SWB_MandatoryEarlyTermination">
<xsd:sequence>
<xsd:choice>
<xsd:element name="swbBreakOverrideFirstDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation>The ISDA Mandatory Early Termination Date expressed as a specific date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbMandatoryEarlyTerminationDate" type="Interval">
<xsd:annotation>
<xsd:documentation>The ISDA Mandatory Early Termination Date expressed as a date offset. For example, 5 years.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swbValuationDateDaysOffset" type="xsd:integer" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The ISDA Cash Settlement Valuation Date expressed as a business day offset from the ISDA Mandatory Early Termination Date. The business days offset must be zero or a negative integer. The relevant business days (financial business centers) are the ISDA Valuation Business Days which can be specified in the swbValuationBusinessCenters element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbValuationBusinessCenters" type="BusinessCenters" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A set of financial business centers used to determine whether a particular day is a business day or not for determination of the cash settlement amount.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbEarliestExerciseTime" type="HourMinuteTime" minOccurs="0"/>
<xsd:element name="swbExpirationTime" type="HourMinuteTime" minOccurs="0"/>
<xsd:element name="swbValuationTime" type="HourMinuteTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The time of the cash settlement valuation date when the cash settlement amount will be determined according to the cash settlement method if the parties have not otherwise been able to agree the cash settlement amount, specified in hh:mm:ss format where the second component must be '00', e.g. 11am would be represented as 11:00:00.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTimeBusinessCenter" type="BusinessCenter" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The business center with respect to the  cash settlement valuation time.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCalculationAgent" type="CalculationAgent" minOccurs="0"/>
<xsd:element name="swbCashSettlementMethod" type="SWB_CashSettlementMethodEnum" minOccurs="0"/>
<xsd:choice minOccurs="0">
<xsd:element name="applicableCsa" type="CsaTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">Under the 2021 Definitions and only when the cash settlement method is one of the "Mid-market Valuation" choices this may be used to override MarkitWire's OET default value of "Existing CSA" and MET default value of "Reference VM CSA".</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="prescribedDocumentationAdjustment" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">Under the 2021 Definitions and only when the cash settlement method is "Replacement Value (Firm Quotations)" this may be used to indicate that "Prescribed Documentation Adjustment" is Applicable (true) for an OET or MET. MarkitWire's default value is Not Applicable (false).</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_CapFloorDetails">
<xsd:annotation>
<xsd:documentation>A placeholder to capture additional details related to CMS One Look Product</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swbFloatingRateFixingDate" minOccurs="0">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="AdjustableDate"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calculationAgent" type="CalculationAgent" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A field  to capture calculation agent party details for CMS Spread and CMS One Look capfloor template</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_InflationSwapDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regrading inflation swaps that are not held in the FpML structure</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swbfallbackBondApplicable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The applicability of a fallback bond as defined in the 2006 ISDA Inflation Derivatives Definitions, sections 1.3 and 1.8. Omission of this element imples a value of true.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCalculationMethod" type="SWB_InflationCalculationMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates how to use the inflation index to calculate the payment (e.g. Ratio, Return, Spread).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCalculationStyle" type="SWB_InflationCalculationStyleEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates the style of how the inflation index calculates the payment (e.g. YearOnYear, ZeroCoupon).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbFinalPrincipalExchangeCalculation" type="SWB_FinalPrincipalExchangeCalculation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">To be specified only for inflation products that embed a redemption payment, e.g. inflation linked asset swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSpreadCalculationMethod" type="SWB_SpreadCalculationMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Code values for different methods of spread calculation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SWB_InflationCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation>Code values for different ways of using inflation indexes in formulas</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Ratio">
<xsd:annotation>
<xsd:documentation>(Inflation Index Final / Inflation Index Base). Inflation Index Final is inflation index for Reference Month that is the Lag number of months prior to Payment Date (subject to interpolation). Inflation Index Base subject to the Calculation Style. Used in inflation asset swaps to calculate the inflation coupons and principal exchange.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Return">
<xsd:annotation>
<xsd:documentation>(Inflation Index Final / Inflation Index Base -1). Inflation Index Final is the inflation index for Reference Month that is the Lag number of months prior to Payment Date (subject to interp). Inflation Index Base subject to the Calculation Style. Used in market standard ZC Inflation swaps.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Spread">
<xsd:annotation>
<xsd:documentation>Inflation Index Final - Inflation Index Base). Inflation Index Final is Index for Ref month the Lag months prior to Payment Date (subject to interp). Inflation Index Base subject to the Calculation Style. Typically used for fixing locks.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SWB_InflationCalculationStyleEnum">
<xsd:annotation>
<xsd:documentation>Code values for different styles of ways of calculation methods.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="YearOnYear">
<xsd:annotation>
<xsd:documentation>YearOnYear means Inflation Index Base is the inflation index for Reference Month that is 12 months prior to Inflation Index Final (subject to interpolation). Inflation Index Base is cashflow dependent.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ZeroCoupon">
<xsd:annotation>
<xsd:documentation>ZeroCoupon means Inflation Index Base used in the CalculationMethod is the inflation index for the Reference Month that is the lag number of months prior to Effective Date in the case of a swap, or Bond Interest Accrual Date in the case of an Asset Swap (subject to interpolation). Inflation Index Base has the same value for each inflation cashflow and Principal Exchange calculation within the trade.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SWB_FinalPrincipalExchangeCalculation">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether the Principal Exchange on the inflation leg is floored or not. If TRUE, Principal Exchange takes the form: Inflation Notional Amount * Max(1, Index Final/ Index Base). If FALSE, the Principal Exchange takes the form: Inflation Notional Amount * Index Final / Index Base.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbFloored" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">If TRUE, Principal Exchange takes the form: Inflation Notional Amount * Max(1, Index Final/ Index Base). If FALSE, the Principal Exchange takes the form: Inflation Notional Amount * Index Final / Index Base.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SWB_SpreadCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation>Code values for different methods of spread calculation.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="ParPar"/>
<xsd:enumeration value="Proceeds"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SWB_PackageDetails">
<xsd:annotation>
<xsd:documentation>A structure to capture the Package Trade details associated with the trade party</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbPackageId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate the identifier for the Package for the trade party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPackageSize" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate the number of trade available in the Package for the trade party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbRegReportAsPackage" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate if the trade is part of a package for the trade party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPackagePriceDetails" type="SWB_PackagePriceDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise of the details related to Package Price</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:complexType>
<xsd:complexType name="SWB_PackagePriceDetails">
<xsd:sequence>
<xsd:element name="swbType" type="SWB_PackagePriceType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Capture Type of Package,Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbValue" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Capture  Package Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbNotation" type="SWB_PackageNotationType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Capture the Notation associated with the Package Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCurrency" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Capture the Currency associated with the Package Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SWB_PackagePriceType">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Spread"/>
<xsd:enumeration value="Price"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SWB_PackageNotationType">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Amount"/>
<xsd:enumeration value="Decimal"/>
<xsd:enumeration value="BasisPoints"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
