extracted_libraries/xml/swbml-repo-main-5-11.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.markitserv.com/swml-5-11" xmlns:fpml="http://www.fpml.org/FpML-5/confirmation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.markitserv.com/swml-5-11" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:import namespace="http://www.fpml.org/FpML-5/confirmation" schemaLocation="fpml-main-5-11.xsd"/>
<xsd:include schemaLocation="swbml-shared-5-11.xsd"/>
<xsd:include schemaLocation="swbml-reporting-df-gp-1-0.xsd"/>
<xsd:element name="SWBML">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWBML">
<xsd:sequence>
<xsd:element name="swbHeader" type="SWB_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining
information about the transaction including the broker's trade
id and version, source and information linking the message
recipients to a particular side of the
transaction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGiveUp" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of the give up
relationships for a prime brokered transaction. This element
will be present if the trade has a trade status of
PrimeBrokered.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWB_GiveUp"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:choice>
<xsd:element name="swbBlockTrade" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Flag used to identify an
allocation Block with empty split
details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAllocations" type="SWB_RepoAllocations" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of allocation
splits that will be applied to the
trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swStructuredTradeDetails" type="SWB_GpStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction
defined in a formal structure.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTradeEventReportingDetails" type="SWB_GPTradeEventReportingDetails" minOccurs="0"/>
<xsd:element name="swbPrivatePartyTradeEventReportingDetails" type="SWB_GPPrivatePartyTradeEventReportingDetails" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swGenericProduct" type="SWB_GenericProduct" substitutionGroup="fpml:product">
<xsd:annotation>
<xsd:documentation>The SWML root element forms the root for any conforming SWML instance
document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SWBML">
<xsd:annotation>
<xsd:documentation xml:lang="en">The root element in an SWBML
document.</xsd:documentation>
</xsd:annotation>
<xsd:attribute name="version" type="SWB_Version" use="required">
<xsd:annotation>
<xsd:documentation xml:lang="en">The SWBML version number.</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SWB_LongFormTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">This container for a long form SWBML trade
message.</xsd:documentation>
</xsd:annotation>
</xsd:complexType>
<xsd:complexType name="SWB_GenericProduct">
<xsd:annotation>
<xsd:documentation xml:lang="en">MarkitWire proprietary comples type extending
GenericProduct</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="fpml:GenericProduct">
<xsd:sequence>
<xsd:element name="swOptionStrike" type="SWB_GpStrike" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A component for defining Option
Strike.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionStyle" type="SWB_OptionStyleEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>An element for defining Option
Style.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionFirstExerciseDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>An element for defining the first allowable date for
exercise (Option Lockout).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPaymentFrequency" type="SWB_PaymentFrequency" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A component for defining Payment
Frequency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swResetFrequency" type="SWB_ResetFrequency" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A component for defining Reset
Frequency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDayCountFraction" type="SWB_DayCountFraction" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>An element for defining Day Count Fraction (Day Count
Convention).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payments between the
principal parties.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementType" type="SWB_SettlementTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>How the trade settles (cash or physical). This
element is also used for CFTC the "Delivery Type"
field.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementDate" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SWB_GpExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade
details that are not captured within the FpML component of the
document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTradeHeader" type="SWB_TradeHeader" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional bilateral
non-economic trade details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbProductTerm" type="fpml:Period" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The nominal term (tenor) of the credit default
swap expressed as a number of months or years. This element must be included
for a Credit Default Swap transaction but excluded for a Credit Default Swap
Index</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbMessageText" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A free format text message that will be
displayed to both dealers alongside the structured trade details. The
message should not exceed 200 characters in length. Note that if the
ampersand character (&amp;) and the left (&lt;) and right (&gt;) angle
brackets are entered as part of the description they should be escaped using
the strings "&amp;amp;", "&amp;lt;" and "&amp;gt;" respectively in the
character data of the element content (see
http://www.w3.org/TR/2000/REC-xml-20001006#syntax for further
explanation).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbOrderDetails" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A requirement under MIFID 2, to capture bilateral details
related to transmission of orders.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWB_OrderDetails"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_GpStrike">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type for defining the strike price for an
option.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swStrikePrice" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The price or level at which the option has been
struck.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The rate at which the option has been
struck.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:sequence minOccurs="0">
<xsd:element name="swStrikePercentage" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The price or level expressed as a
percentage of the forward starting spot price.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeDeterminationDate" type="fpml:AdjustableOrRelativeDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The date on which the strike is determined,
where this is not the effective date of a forward starting
option.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:element name="swStrikeCurrency" type="fpml:Currency" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The currency in which an amount is
denominated.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeUnits" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The units in which an amount (not monetary) is
denominated.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_GpStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the structured details of a
SwapsWire trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductType" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The SwapsWire product type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element ref="fpml:dataDocument"/>
<xsd:element name="swExtendedTradeDetails" type="SWB_GpExtendedTradeDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional structured
trade details that are not captured within the FpML component of the
message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBusinessConductDetails" type="SWB_BusinessConductDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining trade details related
to business conduct standards that are not captured within the FpML
component of the message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_GpTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade
details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swManualConfirmationRequired" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether a
follow-up manual confirmation is required.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_TradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade
details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbAutoProcessing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This indicates whether MW should perform auto actions on
behalf of both the parties on the MW or not.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAutoSendForClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the
tradeshould be automatically sent for clearing if it satisfies the
eligibility criteria.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbMandatoryClearing" type="SWB_MandatoryClearing" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory
Clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the
tradeis a client clearing trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouse" type="SWB_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing House - this should
only be submitted currently for client clearing deals.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyClearingDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the details for a trade being cleared
outside MW</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference for which the
account Trader Id is specified.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Clearing Status text as provided by the Clearing
House.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouseTradeID" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The CCP Trade ID as provided by the Clearing
House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHouseUpfrontFeeSettlementDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Upfront Fee Settlement Date is
allocated by the ICE Clearing House on successful acceptance of
a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingHousePreferredISIN" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Cleared House Prefferd ISIN is the
updated ISIN by Clearing House for the ISIN submitted by the
trade.This preferred ISIN is allocated by the ICE Clearing House
on successful acceptance of a trade sent for
clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this
trade was cleared as provided by the Clearing
House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearedUSI" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
<xsd:element name="swbClearedUTI" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyTraderId" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Indicates Trader Account Id</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference for which the
account Trader Id is specified.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTraderId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Trader Account
Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbPartyClearingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the Clearing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if
this is the EB or Client corresponding to the CB below. This is
for each allocation on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingBroker" type="SWB_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Definition of Clearing Broker for
each allocation</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbDisplayPartyLegalEntity" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Definition of dummy or fake LE which will be displayed to
other party in case of clearing anonymity</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference for which
display LE is specified.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbDisplayLE" type="SWB_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">BIC and Name of the LE which will
be displayed to other side in case of clearing
anonymity</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbExecutingBroker" type="SWB_PartyOrTradeSideReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The party reference of the Executing
Broker</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClearingClient" type="SWB_PartyOrTradeSideReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The party reference of the Client</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientFund" type="SWB_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The BIC of the private fund for the
Client</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyNettingString" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the netting string for the Client
and/or Executing Broker </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference"/>
<xsd:element name="swbNettingString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbAnonymousTrade" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to inform MW to anonymoise the Trade. MW will hide
the identity of buyer and seller from eachother. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbOffsettingTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to inform the CCP of the related trade that is to
be offsett at their end. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbCompressionType" type="SWB_CompressionTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Compression Type per side of the
trade. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyExecutionMethod" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the Execution Method per side of the
trade. This information is also used to identify a Gate Checking trade.
</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference"/>
<xsd:element name="swbExecutionMethod" type="SWB_ExecutionMethodEnum"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swbOTVConfirmation" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to indicate if SEF is using MW for OTV
Confirmation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyIntroducingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the introducing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference to the party
for whom the IB is specified on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbIntroducingBroker" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A broker will submit either broker
code or LE BIC in the field as the IB</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_MandatoryClearing">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory
Clearing.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbJurisdiction" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Jurisdiction of where this product is mandatory
clearable e.g. JFSA, CFC etc.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbSupervisoryBodyCategory" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Categorisation of the supervisorybody.</xsd:documentation>
<xsd:documentation/>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swbSupervisoryBodyCategoryScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category
"BroadBased", "NarrowBased", "Mixed"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:choice>
<xsd:sequence>
<xsd:element name="swbMandatoryClearingIndicator" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">Whether the particular trade type in
question is required by this regulator to be
cleared.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbPartyExemption" type="SWB_PartyExemption" minOccurs="0" maxOccurs="2"/>
</xsd:sequence>
<xsd:element name="swbPartyExemption" type="SWB_PartyExemption" maxOccurs="2"/>
</xsd:choice>
<xsd:element name="swbInterAffiliateExemption" type="xsd:boolean" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether trading parties are
affiliated and both have elected to invoke Inter Affiliate Exemption under
CFTC.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_PartyExemption">
<xsd:sequence>
<xsd:element name="partyReference" type="SWB_PartyOrTradeSideReference"/>
<xsd:element name="swbExemption" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_OrderDetails">
<xsd:annotation>
<xsd:documentation>A structure to capture bilateral Order transmission details required
under MIFID 2</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swbTypeOfOrder" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the type of order, as per article 59 of
MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTotalConsideration" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the total consideration towards the order
as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbRateOfExchange" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the rate of exchange towards the order as
per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientCounterparty" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate where the client's counterparty was the
investment firm itself or any person in the investment firm's group or
another client of the investment firm, the fact that this was the case
unless the order was executed through a trading system that facilitates
anonymous trading. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbTotalCommissionAndExpenses" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise total sum of the commissions and expenses
charged and, where the client so requests, an itemised breakdown including,
where relevant, the amount of any mark-up or mark-down imposed where the
transaction was executed by an investment firm when dealing on own account,
and the investment firm owes a duty of best execution to the
client.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbClientSettlementResponsibilities" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would constitute client's responsibilities in relation
to the settlement of the transaction, including the time limit for payment
or delivery as well as the appropriate account details where these details
and responsibilities have not previously been notified to the client.
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:complexType>
<xsd:complexType name="SWB_RepoAllocations">
<xsd:sequence>
<xsd:element name="swAllocation" type="SWB_RepoAllocation" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_RepoAllocation">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for defining details of an individual
allocation split. This element may carry an information attribute
tradeDirectionDeterminate that will have a value of 'false', when the product
direction on the main trades is indeterminate. It flags allocation direction is
invalid as block trade direction is indeterminate. The tradeDirectionDeterminate
attribute will not otherwise be present.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swNearLeg" type="SWB_RepoAllocationNearLeg" minOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">A repo contract is modeled as two purchase/repurchase transactions which are called legs. This is the near leg, i.e. the transaction that will be executed on the near settlement date of the contract.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbBrokerTradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by the
broker. MarkitWire requires that this identifier be no more than 40
characters in length. The '|' character is not allowed within the identifier
string.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="otherPartyPayment" type="SWB_AllocationPayment" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Refers to brokers fee. Currently not
supported</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSalesCredit" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data captured through the SwapsWire Trader
field labeled Sales Credit.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbAllocationReportingDetails" type="SWB_AllocationReportingDetails" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="swIdentifiers" type="SW_Identifiers" minOccurs="0">
<xsd:annotation>
<xsd:documentation>"Identifiers" tab on the UI, used for populating cpty PLI and
LEI and complex trade Id.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="directionReversed" default="false">
<xsd:simpleType>
<xsd:restriction base="xsd:NMTOKEN">
<xsd:enumeration value="true"/>
<xsd:enumeration value="false"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
<xsd:attribute name="tradeDirectionDeterminate" default="true">
<xsd:simpleType>
<xsd:restriction base="xsd:NMTOKEN">
<xsd:enumeration value="true"/>
<xsd:enumeration value="false"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SWB_RepoAllocationNearLeg">
<xsd:annotation>
<xsd:documentation xml:lang="en">A transaction leg for a repo is equivalent to a single cash transaction.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:group ref="fpml:BuyerSeller.model">
<xsd:annotation>
<xsd:documentation xml:lang="en">References to the buyer and the seller of this leg of the repo contract.</xsd:documentation>
</xsd:annotation>
</xsd:group>
<xsd:element name="settlementAmount" type="fpml:Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="collateral" type="fpml:CollateralValuation" minOccurs="1" maxOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">Collateral element is used to carry the quantity and price details that are required to ensure that a repo contract is executed at fair value, with the value of the collateral matching the cash amount of the repo. Collateral is declared as optional here, with multiple cardinalities, since there can be a repo "Multi", with multiple instruments specified, or a "Cash Borrow/Loan" and “TriPartyRepo” with no collateral. In general cases, however it should be specified. This element can be omitted in farLeg.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
