extracted_libraries/xml/swdml-reporting-df-cd-1-0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="SW_20_1_460930" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swdml-reporting-1-0.xsd"/>
<xsd:element name="swNewNovatedTradeReportingDetails" type="SW_CreditNewNovatedTradeReportingDetails" abstract="false"/>
<xsd:element name="swNovatedTradeReportingDetails" type="SW_CreditNovatedTradeReportingDetails"/>
<xsd:element name="swNovationFeeTradeReportingDetails" type="SW_CreditNovationFeeTradeReportingDetails"/>
<xsd:element name="swTradeEventReportingDetails" type="SW_CreditTradeEventReportingDetails">
<xsd:annotation>
<xsd:documentation>global element, not used but its inclusion triggers DTD generation to create the necessary entities</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SW_CreditNewNovatedTradeReportingDetails">
<xsd:complexContent>
<xsd:extension base="SW_CreditTradeReportingDetails"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_CreditNovatedTradeReportingDetails">
<xsd:complexContent>
<xsd:extension base="SW_CreditTradeReportingDetails"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_CreditNovationFeeTradeReportingDetails">
<xsd:complexContent>
<xsd:extension base="SW_CreditTradeReportingDetails"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_CreditTradeEventReportingDetails">
<xsd:complexContent>
<xsd:extension base="SW_CreditTradeReportingDetails">
<xsd:sequence>
<xsd:element ref="swNewNovatedTradeReportingDetails" minOccurs="0"/>
<xsd:element ref="swNovatedTradeReportingDetails" minOccurs="0"/>
<xsd:element ref="swNovationFeeTradeReportingDetails" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_CreditTradeReportingDetails">
<xsd:complexContent>
<xsd:extension base="SW_TradeReportingDetailsJurisdiction">
<xsd:group ref="SW_TradePriceNotation.Model"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
</xsd:schema>
