extracted_libraries/xml/swdml-enum-4-9.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.fpml.org/2010/FpML-4-9" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2010/FpML-4-9" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:simpleType name="SW_BreakCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of Cap/Floor.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="ISDA Standard Method">
<xsd:annotation>
<xsd:documentation xml:lang="en">The method agreed by ISDA IRD working group in 2006. Calculated as calendar dates from trade date as implied by the frequency tenor</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Adjust To Coupon Dates">
<xsd:annotation>
<xsd:documentation xml:lang="en">The method agreed by Swapswire participants at the inception of the service. Calculated as trade date plus spot days and then shifting to the first payment date for fixed and floating legs prior or on the date indicated by the frequency tenor</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Straight Calendar Dates">
<xsd:annotation>
<xsd:documentation xml:lang="en">The method agreed by Swapswire participants at the inception of the service. Calculated as calendar dates from trade date plus spot days as implied by the frequency tenor</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_MasterAgreementTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The type of master agreement which will govern the transaction. For example, ISDA. If not specified, the SwapsWire default value will apply.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="AFB/FBF">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Transaction will be documented according to the AFB Master Agreement Technical Schedules for Foreign Exchange and Derivatives Transactions as published by the Association Francaise des Banques.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="DERV">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Transaction will be documented under the Deutscher Rahmenvertrag fur Finanztermingeschafte (also known as the German master).</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ISDA">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Transaction will be documented under an ISDA master.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_CBTradeTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The product type is the top level categorization for MarkitWire templates.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="NonMember-CB">
<xsd:annotation>
<xsd:documentation xml:lang="en">This represents the CB trade facing the non-member.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="CB-CCP">
<xsd:annotation>
<xsd:documentation xml:lang="en">This represents the CB trade facing the Clearing House.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
</xsd:schema>
