extracted_libraries/xml/swdml-ird-main-5-3-alpha.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:swrml="http://www.swapswire.com/.../reporting-0-1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swdml-shared-4-2.xsd"/>
<xsd:include schemaLocation="swdml-ird-enum-4-2.xsd"/>
<xsd:include schemaLocation="fpml-main-4-2.xsd"/>
<xsd:include schemaLocation="fpml-doc-4-2.xsd"/>
<xsd:include schemaLocation="fpml-ird-4-2.xsd"/>
<xsd:include schemaLocation="swdml-reporting-1-0.xsd"/>
<xsd:element name="SWDML">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SWDML"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:complexType name="SWDML">
<xsd:annotation>
<xsd:documentation xml:lang="en">The root element in an SWDML document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:element name="swShortFormTrade" type="SW_ShortFormTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">The container for a short form SWDML trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swLongFormTrade" type="SW_LongFormTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">This container for a long form SWDML trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swTradeEventReportingDetails" type="SW_TradeEventReportingDetails" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="version" type="SW_Version" use="required"/>
</xsd:complexType>
<xsd:complexType name="SW_LongFormTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">This container for a long form SWDML trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swOriginatorPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGiveUp" type="SW_GiveUp" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of the give up relationships for a prime brokered transaction. This element will be present if the trade has a trade status of PrimeBrokered.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novation" type="SW_ConfirmedNovationAgreement" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Novation Agreement details and any related fee associated with the transfer of the trade. This element will be present if the trade has a trade status of 'Novated' or 'New-Novated'. This is an FpML 4.2 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAllocations" type="SW_Allocations" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of allocation splits that will be applied to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStructuredTradeDetails" type="SW_IrdStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction defined in a formal structure.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IrdStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction defined in a formal structure.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductType" type="SW_IrdProductTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The product type is the top level categorization for SwapsWire templates.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTemplateName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of the SwapsWire template associated with the trade. This will be populated by the SwapsWire system.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swParticipantSupplement" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of an applicable participant supplement template that was applied to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="FpML" type="DataDocument">
<xsd:annotation>
<xsd:documentation xml:lang="en">The FpML compliant sub-tree that describes the transaction. This sub-tree uses the FpML DataDocument type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOfflineTrade" type="SW_OfflineTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">The component that describes the details of a rates offline trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swExtendedTradeDetails" type="SW_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OfflineTrade">
<xsd:annotation>
<xsd:documentation>A component for defining details of a rates offline product.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swOfflineProductType" minOccurs="0"/>
<xsd:element name="swTradeDate" type="xsd:date"/>
<xsd:element name="swLegDetails" type="SW_LegDetails" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details of each leg.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionType" minOccurs="0"/>
<xsd:element name="expirationDate" type="xsd:date" minOccurs="0"/>
<xsd:element name="effectiveDate" type="xsd:date"/>
<xsd:element name="terminationDate" type="xsd:date"/>
<xsd:element name="swAdditionalDetails" minOccurs="0"/>
<xsd:element name="swOriginalTradeReferences" type="SW_OriginalTradeReferences" minOccurs="0"/>
<xsd:element name="party" type="Party" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_LegDetails">
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:sequence minOccurs="0">
<xsd:element name="payerPartyReference" type="PartyReference"/>
<xsd:element name="receiverPartyReference" type="PartyReference"/>
</xsd:sequence>
<xsd:sequence minOccurs="0">
<xsd:element name="buyerPartyReference" type="PartyReference"/>
<xsd:element name="sellerPartyReference" type="PartyReference"/>
</xsd:sequence>
</xsd:choice>
<xsd:element name="notional" type="Money"/>
<xsd:element name="fixedRate" type="xsd:decimal" minOccurs="0"/>
<xsd:element name="floatingRateIndex" type="FloatingRateIndex" minOccurs="0"/>
<xsd:element name="indexTenor" type="Interval" minOccurs="0"/>
<xsd:element name="paymentFrequency" type="Interval" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_OriginalTradeReferences">
<xsd:sequence>
<xsd:element name="swOriginalTradeReference" maxOccurs="2">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyReference"/>
<xsd:element name="swTradeReference" minOccurs="0"/>
<xsd:element name="swTradeDesk" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ShortFormTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">This container for a short form SWDML trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swOriginatorPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swParticipantSupplement" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Participant supplement enforced on the trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swCapFloorParameters" type="SW_CapFloorParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form CapFloor trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFraParameters" type="SW_FraParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form FRA trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIrsParameters" type="SW_IrsParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form IRS trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOisParameters" type="SW_OisParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form OIS trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwaptionParameters" type="SW_SwaptionParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form Swaption trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swZCInflationSwapParameters" type="SW_ZCInflationSwapParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form ZCInflationSwap trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBasisSwapParameters" type="SW_BasisSwapParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of a short form Basis Swap trade message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swBackLoadingFlag" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag to identify backloaded trades.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_CapFloorParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining a short form Swaption trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPremium" type="SW_Premium" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swaption premium</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionType" type="SW_CapFloorTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">CapFloor type as 'Cap', 'Floor' or 'Cap Floor Straddle'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapTermTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swap tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="adjustedEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Adjusted start date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnadjustedTerminationDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Unadjusted end date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="rollConvention" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The roll convention</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStubPosition" type="SW_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub position as "Start" or "End"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The CapFloor strike rate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="floatingRateIndex" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Optional floating rate index code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="indexTenor" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The ISDA Designated Maturity, i.e. the tenor of the floating rate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="paymentFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The frequency at which regular payment dates occur. If the payment frequency is equal to the frequency defined in the calculation period dates component then one calculation period contributes to each payment amount. If the payment frequency is less frequent than the frequency defined in the calculation period dates component then more than one calculation period will contribute to e payment amount. A payment frequency more frequent than the calculation period frequency or one that is not a multiple of the calculation period frequency is invalid.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FraParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining a short form FRA trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEffectiveDateTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Forward date tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTerminationDateTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Forward date tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="rollConvention" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The roll convention</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="floatingRateIndex" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Optional floating rate index code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IrsParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining a short form IRS trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductSubType" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">To suppert Product Subtypes such as "ZeroCouponFixed"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapTermTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swap tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="adjustedEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Adjusted start date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnadjustedTerminationDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Unadjusted end date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="rollConvention" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The roll convention</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRollFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Roll fequencny</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFloatPaymentFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Float Payment fequency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedPaymentFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Paymentl fequency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCompoundingMethod" type="CompoundingMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Compounding Method</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStubPosition" type="SW_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub position as "Start" or "End"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedStubLength" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element links the corresponding stub to the fixed leg. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_StubLengthEnum"/>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swFloatStubLength" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element links the corresponding stub to the floating leg. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_StubLengthEnum"/>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swStubIndexTenor" type="Interval" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub Index Tenors</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedAmounts" type="SW_FixedAmounts">
<xsd:annotation>
<xsd:documentation xml:lang="en">References to payer and receiver in a swap transaction</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAssociatedBonds" type="SW_AssociatedBonds" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The underlying bond details if the swap price was negotiated as a spread over underlying bond reference instruments. Note that this element should not be present for a FRA, OIS, CapFloor or Swaption trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="fixedRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate. 0.05 is 5%</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedAmount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Amount for a ZC swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="floatingRateIndex" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Optional floating rate index code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="initialRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First fixing</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalTerms" type="SW_AdditionalTerms" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional terms relating to participant supplements</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swSettlementProvision" type="SW_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement details for a non deliverable currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="nonDeliverable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Non-Deliverable Indicator</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ZCInflationSwapParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining a short form ZCInflationSwap trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapTermTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swap tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="adjustedEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Adjusted start date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedAmounts" type="SW_FixedAmounts">
<xsd:annotation>
<xsd:documentation xml:lang="en">References to payer and receiver in a swap transaction</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="fixedRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate. 0.05 is 5%</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedAmount" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Amount for a ZC swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swInflationRateCalculation" type="SW_InflationRateCalculation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The inflation swap details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OisParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining a short form OIS trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapTermTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swap tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="adjustedEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Adjusted start date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnadjustedTerminationDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Unadjusted end date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="rollConvention" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The roll convention</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedAmounts" type="SW_FixedAmounts">
<xsd:annotation>
<xsd:documentation xml:lang="en">References to payer and receiver in a swap transaction</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate. 0.05 is 5%</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="floatingRateIndex" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Optional floating rate index code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementProvision" type="SW_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement details for a non deliverable currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SwaptionParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining a short form Swaption trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPremium" type="SW_Premium" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swaption premium</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swEuropeanExercise" type="SW_EuropeanExercise">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swaption european date</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swaptionStraddle" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swaption straddle indicator</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCashSettlement" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">Cash settlelment indicator</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapTermTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swap tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="adjustedEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Adjusted start date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnadjustedTerminationDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Unadjusted end date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="rollConvention" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The roll convention</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRollFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Roll fequencny </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFloatPaymentFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Float Payment fequency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedPaymentFrequency" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Paymentl fequency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCompoundingMethod" type="CompoundingMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Compounding Method</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStubPosition" type="SW_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub position as "Start" or "End"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedStubLength" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element links the corresponding stub to the fixed leg. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_StubLengthEnum"/>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swFloatStubLength" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element links the corresponding stub to the floating leg. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_StubLengthEnum"/>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swStubIndexTenor" type="Interval" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub Index Tenors</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedAmounts" type="SW_FixedAmounts">
<xsd:annotation>
<xsd:documentation xml:lang="en">References to payer and receiver in a swap transaction</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified.  For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate. 0.05 is 5%</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="floatingRateIndex" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Optional floating rate index code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="initialRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First fixing</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementProvision" type="SW_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement details for a non deliverable currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BasisSwapParameters">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining a short form IRS trade message.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Date the trade was executed</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapTermTenor" type="Interval">
<xsd:annotation>
<xsd:documentation xml:lang="en">Swap tenor</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="adjustedEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Adjusted start date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnadjustedTerminationDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Unadjusted end date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="rollConvention" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The roll convention</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStubPosition" type="SW_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub position as "Start" or "End"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFloatingRateCalculation" type="SW_FloatingRateCalculation" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the floating rate calculation details for basis swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="party" type="SW_Party" minOccurs="2" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Party identifier of the buyer or seller</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FloatingRateCalculation">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the floating rate calculation details for basis swap.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="payerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="floatingRateIndex" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Floating rate index code</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="indexTenor" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The designated maturity</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFloatingRateMultiplier" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The floating rate multiplier</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="initialRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First fixing</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required"/>
</xsd:complexType>
<xsd:complexType name="SW_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTradeHeader" type="SW_IrdTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional bilateral non-economic trade details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStub" type="SW_Stub" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Stub details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAssociatedBonds" type="SW_AssociatedBonds" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The underlying bond details if the swap price was negotiated as a spread over underlying bond reference instruments. Note that this element should not be present for a FRA, OIS, CapFloor or Swaption trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExitReason" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will optionally be present if the trade has a trade status of Exit and will contain any reason text entered through the SwapsWire Trader field labeled Exit Reason.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAmendmentType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be presernt if a partial termination is affected, or if a trade has been corrected and contains the value of 'PartialTermination' or 'ErrorCorrection'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCancellationType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if a cancellation is affected for a trade which was booked in error and contains the value 'BookedInError'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementProvision" type="SW_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInflationSwapDetails" type="SW_InflationSwapDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if the trade is an Inflation Swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFutureValue" type="SW_FutureValue" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if the trade is a BRL-CDI non deliverable swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swModificationTradeDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if the trade has a trade status of Exit or Amended and will contain a date entered through the MarkitWire field labeled Transaction Date on Processing tab. The date corresponds to the trade date of the transaction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swModificationEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if the trade has a trade status of Exit or Amended and will contain any reason text entered through the SwapsWire Trader field labeled Effective Date on Processing tab.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRatesTermination" type="SW_RatesTermination" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Full Termination (Cancelation/unwind) or Partial Termination details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOutsideNovation" type="SW_OutsideNovation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Novation details where the novation happens outside of MarkitWire</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFxCutoffTime" type="SW_FxCutoffTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Mark-To-Market fixing cutoff time for cross currency basis swaps</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCrossCurrencyMethod" type="CashPriceMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 23, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (f).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCollateralizedCashPrice" type="YieldCurveMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 28, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (g).</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_AdditionalTerms">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regarding participant supplements</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="conditionPrecedentBond" type="SW_Bond">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional terms relating to condition precedent bonds</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_AssociatedBonds">
<xsd:annotation>
<xsd:documentation xml:lang="en">For some markets, e.g. U.S. Dollar and Canadian Dollar, it is usual practice to quote swap prices in terms of a spread over an underlying reference bond instrument(s) and in most cases these underlying instruments are exchanged at time of trade. This entity allows specification of the negotiated spread rate and the associated bonds themselves, including whether or not they will be exchanged.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swNegotiatedSpreadRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The negotiated swap spread rate. A positive 10 basis point (0.1 percent) spread would be represented as 0.001.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondDetails" type="SW_BondDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details of the associated bond(s) if the swap was negotiated as a spread over these underlying instruments. This element should occur a maximum of two times.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BondDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining bond details. By convention, the Fixed Rate Payer on the Swap Transaction buys the bonds from the Floating Rate Payer.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swBondId" type="SW_BondIdEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier for the bond instrument. This element should not be present if the broker is unable to map a SwapsWire defined Scheme value in this field.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A free format description of the bond instrument. The description should not exceed 40 characters in length. If the swBondId element is present then this should represent a textual description of the identifier. Note that if the ampersand character "&amp;" and the left and right angle brackets are entered as part of the description they should be escaped using the strings "&amp;", "&lt;" and "&gt;" respectively in the character data of the element content (see http://www.w3.org/TR/2000/REC-xml-20001006#syntax for further explanation).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondQuantity" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The bond face amount expressed as a percentage of the notional amount of the swap. 50 percent would be represented as 0.5.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondFaceAmount" type="xsd:nonNegativeInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The face amount of the bond.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPriceType" type="SW_PriceTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">A classification of the format used to express the bond price and hence how the value in the swBondPrice element should be interpreted. For example, whether the price is in a decimal format or whether the fractional part is expressed in 32nds of 1% of par value etc.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondPrice" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The clean bond price expressed in a format consistent with the price type specified by the swPriceType element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FxCutoffTime">
<xsd:annotation>
<xsd:documentation>A component for defining the Mark-To-Market fixing cutoff time for cross currecny basis swaps.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="hourMinuteTime" type="HourMinuteTime">
<xsd:annotation>
<xsd:documentation>A time specified in hh:mm:ss format where the second component must be '00', e.g. 11am would be represented as 11:00:00.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_InflationRateCalculation">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regrading inflation swaps that are not held in the FpML structure</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swFloatingRateIndex" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Underlying Floating Index</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInitialIndexLevel" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Initial Index Level</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInflationLag" type="Interval" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Inflation Lag Period</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIndexSource" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Index Source </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInterpolationMethod" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Interpolation method as "None" or "Zero"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRelatedBond" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Optional Related Bond</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_EuropeanExercise">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regrading a european exercise</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swExpirationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The European exercise date</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FixedAmounts">
<xsd:annotation>
<xsd:documentation xml:lang="en">A container for the payer and receiver in a swap transaction</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="payerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="receiverPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the SWDML document. The party referenced is the party that entered the trade into the SwapsWire systemI.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details regarding the Future Value of the fixed leg of the trade</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="calculationPeriodNumberOfDays" type="xsd:positiveInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The number of days from the adjusted effective / start date to the adjusted termination / end date calculated in accordance with the applicable day count fraction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalFutureValue" type="SW_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_InflationSwapDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regrading inflation swaps that are not held in the FpML structure</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swIndexInitial" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The index initial given in month and year</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIndexFinal" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The index final given in month and year.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IrdTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swClearingHouse" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing House - this should only be submitted currently for client clearing deals.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the details for a trade being cleared outside MW</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swClearingStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Clearing Status text as provided by the Clearing House.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouseTradeID" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The CCP Trade ID as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouseUpfrontFeeSettlementDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Upfront Fee Settlement Date is allocated by the ICE Clearing House on successful acceptance of a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHousePreferredISIN" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Cleared House Prefferd ISIN is the updated ISIN by Clearing House for the ISIN submitted by the trade.This preferred ISIN is allocated by the ICE Clearing House on successful acceptance of a trade sent for clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing House</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearedUSI" type="SW_UniqueTradeIdentifier" minOccurs="0"/>
<xsd:element name="swClearedUTI" type="SW_UniqueTradeIdentifier" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swClearingBroker" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The BIC of the Clearing Broker - this should only be submitted currently for client clearing deals.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDataMigrationId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field capturing the Sell side's internal trade ID as a bilateral field</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingTakeup" type="SW_ClearingTakeup" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A ClearingTakeup trade indicator</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SettlementProvision">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swSettlementCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNonDeliverableSettlement" type="SW_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_Stub">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swStubPosition" type="SW_StubPositionEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a start (front) or end (back) stub. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStubLength" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of whether an applicable stub is a short or long stub. This element carries an href attribute that identifies the leg to which the stub corresponds. Note that this element should not be present for a FRA trade. For a Swaption trade the stub would apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_StubLengthEnum">
<xsd:attribute name="href" type="xsd:string" use="required"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for converting a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swReferenceCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFxFixingSchedule" type="AdjustableDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Valuation date, Typically for a non deliverable BRL interest rate swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementRateOption">
<xsd:annotation>
<xsd:documentation xml:lang="en">FX Rate source</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swSettlementRateOptionScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/settlement-rate-option-1-0"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="currency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Currency of Notional Future Value amount.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="amount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Amount of Notional Future Value.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF">
<xsd:annotation>
<xsd:documentation xml:lang="en">Pointer to the Present Value notional amount for this Future Value </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_OutsideNovation">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the details of a Novation which happened outside of MarkitWire.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTransferor" type="SW_Transferor">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="transferee" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Incoming Party Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="remainingParty" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Remaining Party Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Effective Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novationTradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Trade Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fullFirstCalculationPeriod" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether Full First Calculation Period is applicable to the New Transaction arising from a novation. Full First Calculation Period relates to initial cashflow accruals for payment by each party on the first Payment Date following a novation and is defined in the 2004 ISDA Novation Definitions. ISDA 2004 Novation Term: Full First Calculation Period.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFirstFixedPeriodStartDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First Fixed Period Start Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFirstFloatPeriodStartDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">First Float Period Start Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_RatesTermination">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regarding a Full Termination (Cancelation/unwind) or Partial Termination</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPreviousNotional1" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPreviousNotional2" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalDecrease1" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalDecrease2" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_Transferor">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the details of a Transferor, i.e. the Outgoing Party of a novation.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ClearingTakeupPartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the ClearingTakeup Party in a formal structure.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A party identifier, e.g. a S.W.I.F.T. bank identifier code (BIC).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of the party. A free format string. FpML does not define usage rules for this element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="tradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The trade id related to this counterParty.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ClearingTakeupTokenDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element which defines the unilateral credit acceptance token for a party.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swCreditIssuer" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of the credit token issuer.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swToken" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The value of the credit token.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ClearingTakeupVenueId">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type to define the venue identifier issuer. The Venue Id Scheme is used to identify the source of the Id and determines the Issuer/Id values used for Clearing and Reporting.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swVenueIdScheme" type="xsd:anyURI"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ClearingTakeup">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction defined in a formal structure.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swClient" type="SW_ClearingTakeupPartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The client information related to the ClearingTakeup trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExecutionSource" type="SW_ClearingTakeupPartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The information related to the EXecution Source related to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCorrelationId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The correlationId of the clearing house to link trades between clearing house and MarkitWire.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouseTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The tradeId of the clearing house </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOriginatingEvent" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Determines if this is a Incoming or Outoing Position Transfer </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSentBy" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Name of the execution source that has sent this Clearing Take Up trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCreditAcceptanceToken" type="SW_ClearingTakeupTokenDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The credit token information related to the party on the Clearing Takeup trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing status of the Clearing Take Up trade. This will be used when a trade has been pre-accepted by the Clearing House.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swVenueId" type="SW_ClearingTakeupVenueId" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The venue Identifier e.g. Pre-LEI</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
