extracted_libraries/xml/swml-generic-main-5-3.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.markitserv.com/swml" xmlns:fpml="http://www.fpml.org/FpML-5/confirmation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.markitserv.com/swml" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swml-shared-5-3.xsd"/>
<xsd:import namespace="http://www.fpml.org/FpML-5/confirmation" schemaLocation="fpml-shared-5-3.xsd"/>
<xsd:element name="SWML" type="SWML">
<xsd:annotation>
<xsd:documentation>The SWML root element forms the root for any conforming SWML instance document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGenericProduct" type="SW_GenericProduct" substitutionGroup="fpml:product">
<xsd:annotation>
<xsd:documentation>The SWML root element forms the root for any conforming SWML instance document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SWML">
<xsd:annotation>
<xsd:documentation xml:lang="en">The root element in an SWML document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swHeader" type="SW_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en">The trade's id and version, source of the trade, status of the trade and the parties involved in the conversation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGiveUp" type="SW_GiveUp" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The swGiveUp element captures details specific to Prime Brokerage, and defines a tri-party agreement on the primary prime-brokered trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novation" type="SW_ConfirmedNovationAgreement" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Novation Agreement details and any related fee associated with the transfer of the trade. This element will be present if the trade has a trade status of 'Novated' or 'New-Novated'. This is an FpML 4.1 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAllocations" type="SW_Allocations" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of allocation splits that will be applied to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swStructuredTradeDetails" type="SW_GpStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction defined in a formal structure.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swNegotiation" type="SW_Negotiation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The set of conversation dialogs recording the conversation that took place on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPrivateData" type="SW_PrivateData" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Data which is private to an individual party. The private data consists of a mixture of process state information and private data entered through the SwapsWire Trader application, e.g. trading book identifier. Note that the element will not be present in SWML extracted via the Dealer API prior to that side picking up the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="version" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="5-3"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_GenericProduct">
<xsd:annotation>
<xsd:documentation xml:lang="en">MarkitWire proprietary comples type extending GenericProduct</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="fpml:GenericProduct">
<xsd:sequence>
<xsd:element name="swOptionStrike" type="SW_GpStrike" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A component for defining Option Strike.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionStyle" type="SW_OptionStyleEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>An element for defining Option Style.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionFirstExerciseDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>An element for defining the first allowable date for exercise (Option Lockout).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPaymentFrequency" type="SW_PaymentFrequency" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A component for defining Payment Frequency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swResetFrequency" type="SW_ResetFrequency" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A component for defining Reset Frequency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDayCountFraction" type="SW_DayCountFraction" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>An element for defining Day Count Fraction (Day Count Convention).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalPayment" type="fpml:Payment" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payments between the principal parties.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOTVConfirmation" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to indicate if SEF is using MW for OTV Confirmation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGateCheck" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Indicator to define if the trade is eligible for Gate Checking along with the status of the trade.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swStatus">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Eligible"/>
<xsd:enumeration value="Ineligible"/>
<xsd:enumeration value="NotPickedUp"/>
<xsd:enumeration value="PickedUp"/>
<xsd:enumeration value="Disputed"/>
<xsd:enumeration value="Released"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swPartyExecutionMethod" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the Execution Method per side of the trade. This information is also used to identify a Gate Checking trade.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="SW_PartyReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if this is the party A or B corresponding to the Execution Method below.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExecutionMethod" type="SW_ExecutionMethodEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Execution Method for the specified party.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swExecutionMethod" type="SW_ExecutionMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Execution Method for this side of the trade. This information is also used to identify a Gate Checking trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementType" type="SW_SettlementTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>How the trade settles (cash or physical). This element is also used for CFTC the "Delivery Type" field.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementDate" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_GpExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTradeHeader" type="SW_GpTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional bilateral non-economic trade details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExitReason" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will hold the reason for any exit events. It will not be displayed if there has been no exit.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAmendmentType" type="SW_AmendmentTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if a partial termination is affected, or if a trade has been corrected and contains the value of 'PartialTermination' or 'ErrorCorrection'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCancellationType" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if a cancellation is affected for a trade which was booked in error and contains the value 'BookedInError'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOrderDetails" type="SW_OrderDetails" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A requirement under MIFID 2, to capture bilateral details related to transmission of orders.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPackageDetails" type="SW_PackageDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Outputs the data related to the Package Trades as provided during submission</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_GpStrike">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type for defining the strike price for an option.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swStrikePrice" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The price or level at which the option has been struck.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The rate at which the option has been struck.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:sequence minOccurs="0">
<xsd:element name="swStrikePercentage" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The price or level expressed as a percentage of the forward starting spot price.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeDeterminationDate" type="fpml:AdjustableOrRelativeDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The date on which the strike is determined, where this is not the effective date of a forward starting option.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:element name="swStrikeCurrency" type="fpml:Currency" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The currency in which an amount is denominated.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeUnits" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The units in which an amount (not monetary) is denominated.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_GpStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the structured details of a SwapsWire trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductType" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The SwapsWire product type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTemplateName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of the SwapsWire template associated with the trade. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element ref="fpml:dataDocument"/>
<xsd:element name="swExtendedTradeDetails" type="SW_GpExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional structured trade details that are not captured within the FpML component of the message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTradeEventReportingDetails" type="SW_TradeEventReportingDetails" minOccurs="0"/>
<xsd:element name="swBusinessConductDetails" type="SW_BusinessConductDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining trade details related to business conduct standards that are not 	captured within the FpML component of the message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_GpTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swManualConfirmationRequired" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether a follow-up manual confirmation is required.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNovationExecution" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade is a novation execution trade or not. This element will be true for Novation Execution trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBackLoadingFlag" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Flag to identify backloaded trades</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAutoProcessing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates that MW is performing auto actions on this trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCBClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing Broker</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCBTradeType" type="SW_CBTradeTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Allows user to indicate the type of CB trade as either non-member-CB or CB-CCP.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swMandatoryClearing" type="SW_MandatoryClearing" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory Clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingBroker" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>element to provide details of clearing broker involved in trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOffsettingTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Gate Check Offsetting Trade ID for internal reconciliation purposes.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCompressionType" type="SW_CompressionTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Compression Type for this side of the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNettingDetails" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swNettingBatchId" type="xsd:normalizedString" minOccurs="0"/>
<xsd:element name="swNettingInstructionType" type="xsd:normalizedString" minOccurs="0"/>
<xsd:element name="swSubCategory" type="xsd:normalizedString" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swESMAClearingExemption" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This field is used to capture exemption from mandatory clearing under ESMA</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type allowing ability to specifiy party id and party name.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation>The trade date of the termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The effective date of the termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_MandatoryClearing">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory Clearing.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swJurisdiction" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Jurisdiction of where this product is mandatory clearable e.g. JFSA, CFC etc.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSupervisoryBodyCategory" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Categorisation of the supervisorybody.</xsd:documentation>
<xsd:documentation/>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swSupervisoryBodyCategoryScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category
"BroadBased", "NarrowBased", "Mixed"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swMandatoryClearingIndicator" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Whether the particular trade type in question is required by this regulator to be cleared.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPartyExemption" type="SW_PartyExemption" minOccurs="0" maxOccurs="2"/>
<xsd:element name="swInterAffiliateExemption" type="xsd:boolean" minOccurs="0" maxOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether trading parties are affiliated and both have elected to invoke INter Affiliate Exemption under CFTC.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_PartyExemption">
<xsd:annotation>
<xsd:documentation>Element to provide details of a party exemption to mandatory clearing</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPartyReference" type="SW_PartyReference"/>
<xsd:element name="swExemption" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OrderDetails">
<xsd:annotation>
<xsd:documentation>A structure to capture bilateral Order transmission details required under MIFID 2</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTypeOfOrder" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the type of order, as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTotalConsideration" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the total consideration towards the order as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRateOfExchange" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the rate of exchange towards the order as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientCounterparty" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate where the client's counterparty was the investment firm itself or any person in the investment firm's group or another client of the investment firm, the fact that this was the case unless the order was executed through a trading system that facilitates anonymous trading. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTotalCommissionAndExpenses" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise total sum of the commissions and expenses charged and, where the client so requests, an itemised breakdown including, where relevant, the amount of any mark-up or mark-down imposed where the transaction was executed by an investment firm when dealing on own account, and the investment firm owes a duty of best execution to the client.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientSettlementResponsibilities" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would constitute client's responsibilities in relation to the settlement of the transaction, including the time limit for payment or delivery as well as the appropriate account details where these details and responsibilities have not previously been notified to the client.  </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF"/>
</xsd:complexType>
</xsd:schema>
