extracted_libraries/xml/swml-ird-main-4-2.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.fpml.org/2005/FpML-4-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2005/FpML-4-2" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swml-shared-4-2.xsd"/>
<xsd:include schemaLocation="swml-ird-enum-4-2.xsd"/>
<xsd:include schemaLocation="fpml-ird-4-2.xsd"/>
<xsd:include schemaLocation="swml-clearingtakeup-1-0.xsd"/>
<xsd:element name="SWML" type="SWML">
<xsd:annotation>
<xsd:documentation xml:lang="en">The root element in an SWML document.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SWML">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component defining root elements in an SWML document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swHeader" type="SW_Header">
<xsd:annotation>
<xsd:documentation xml:lang="en">The trade's id and version, source of the trade, status of the trade and the parties involved in the conversation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGiveUp" type="SW_GiveUp" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of the give up relationships for a prime brokered transaction. This element will be present if the trade has a trade status of PrimeBrokered.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novation" type="SW_ConfirmedNovationAgreement" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Novation Agreement details and any related fee associated with the transfer of the trade. This element will be present if the trade has a trade status of 'Novated' or 'New-Novated'. This is an FpML 4.1 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAllocations" type="SW_Allocations" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Defines details of allocation splits that will be applied to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swBlockAction" type="SW_BlockAction">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of a block action, e.g. a block cancel.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStructuredTradeDetails" type="SW_IrdStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of the transaction defined in a formal structure.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swNegotiation" type="SW_Negotiation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The set of conversation dialogs recording the conversation that took place on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPrivateData" type="SW_PrivateData" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Data which is private to an individual party. The private data consists of a mixture of process state information and private data entered/displayed in the SwapsWire Trader application or set via an API, e.g. trading book identifier. Note that the element will not be present in SWML extracted via the Dealer API prior to that side picking up the deal.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="version" use="required">
<xsd:simpleType>
<xsd:restriction base="xsd:NMTOKEN">
<xsd:enumeration value="4-2"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_AssociatedBonds">
<xsd:annotation>
<xsd:documentation xml:lang="en">For some markets, e.g. U.S. Dollar and Canadian Dollar, it is usual practice to quote swap prices in terms of a spread over an underlying reference bond instrument(s) and in most cases these underlying instruments are exchanged at time of trade. This entity allows specification of the negotiated spread rate and the associated bonds themselves, including whether or not they will be exchanged.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swNegotiatedSpreadRate" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The negotiated swap spread rate. A positive 10 basis point (0.1 percent) spread would be represented as 0.001.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondDetails" type="SW_BondDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details of the associated bond(s) if the swap was negotiated as a spread over these underlying instruments. This element should occur a maximum of two times.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BasisSwapSummary">
<xsd:annotation>
<xsd:documentation xml:lang="en">Summary details of a Basis Swap trade in a block action.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by SwapsWire. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEffectiveDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The effective date of the Swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTerminationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The termination date of the Swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFloatingLeg1" type="SW_FloatingLeg1">
<xsd:annotation>
<xsd:documentation>The summary of Floating Leg 1</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFloatingLeg2">
<xsd:annotation>
<xsd:documentation>The summary of Floating Leg 2</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SW_FloatingLeg2"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalField" type="SW_AdditionalField" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data captured through the SwapsWire Trader fields labeled Additional Field 1-80 (or the custom labels chosen by a participant). The element carries a sequence attribute which will have values '1' through '80' to indicate the particular screen field where the data was captured. A fieldName attribute will have a value set equal to the SwapsWire Trader field's screen label.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReplacementTradeId" type="SW_ReplacementTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FloatingLeg1">
<xsd:sequence>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The notional amount. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="payerPartyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="receiverPartyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="floatingRateIndex" type="FloatingRateIndex"/>
<xsd:element name="indexTenor" type="Interval"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FloatingLeg2">
<xsd:sequence>
<xsd:element name="notional"/>
<xsd:element name="payerPartyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="receiverPartyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="floatingRateIndex" type="FloatingRateIndex"/>
<xsd:element name="indexTenor" type="Interval"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BlockAction">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for identifying summary information for trades involved in a block action.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductType">
<xsd:annotation>
<xsd:documentation xml:lang="en">The SwapsWire product type e.g. Block Cancel</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTemplateName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of the SwapsWire template associated with the deal.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swBlockCancel" type="SW_BlockCancel">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of a block cancel.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBlockAmend">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of a block amend.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SW_BlockAmend"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swBlockNovate" type="SW_BlockNovate">
<xsd:annotation>
<xsd:documentation xml:lang="en">The details of a block cancel.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="party" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Parties of a BlockCancel</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BlockAmend">
<xsd:annotation>
<xsd:documentation>An entity for identifying summary information for trades involved in a block amend.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swStructuredTradeDetails" type="SW_IrdStructuredTradeDetails"/>
<xsd:element name="swAllocations" type="SW_Allocations"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BlockCancel">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for identifying summary information for trades involved in a block cancel.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductType" type="SW_IrdProductTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="swBasisSwapSummary" type="SW_BasisSwapSummary" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCapFloorSummary" type="SW_CapFloorSummary" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFraSummary" type="SW_FraSummary" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapSummary" type="SW_SwapSummary" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwaptionSummary" type="SW_SwaptionSummary" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BlockNovate">
<xsd:annotation>
<xsd:documentation>An entity for identifying summary information for trades involved in a block novation</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swStructuredTradeDetails" type="SW_IrdStructuredTradeDetails"/>
<xsd:element name="swNovations" type="swNovations"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BondDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining bond details. By convention, the Fixed Rate Payer on the Swap Transaction buys the bonds from the Floating Rate Payer.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swBondId" type="SW_BondIdEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier for the bond instrument. This element should not be present if the broker is unable to map a SwapsWire defined Scheme value in this field.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondName" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A free format description of the bond instrument. The description should not exceed 40 characters in length. If the swBondId element is present then this should represent a textual description of the identifier. Note that if the ampersand character "&amp;" and the left and right angle brackets are entered as part of the description they should be escaped using the strings "&amp;", "&lt;" and "&gt;" respectively in the character data of the element content (see http://www.w3.org/TR/2000/REC-xml-20001006#syntax for further explanation).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondQuantity" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The bond face amount expressed as a percentage of the notional amount of the swap. 50 percent would be represented as 0.5.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondFaceAmount" type="xsd:nonNegativeInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The face amount of the bond.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPriceType" type="SW_PriceTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">A classification of the format used to express the bond price and hence how the value in the swBondPrice element should be interpreted. For example, whether the price is in a decimal format or whether the fractional part is expressed in 32nds of 1% of par value etc.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBondPrice" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The clean bond price expressed in a format consistent with the price type specified by the swPriceType element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_CapFloorSummary">
<xsd:annotation>
<xsd:documentation xml:lang="en">Summary details of a CapFloor trade in a block action.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by SwapsWire. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the buyer to the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">o	A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the seller to the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionType" type="SW_CapFloorTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The option type. For CapFloor the valid values are 'Cap' or 'Floor'.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEffectiveDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The effective date of the CapFloor.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTerminationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The termination date of the CapFloor.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The notional amount. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The CapFloor strike rate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalField" type="SW_AdditionalField" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data captured through the SwapsWire Trader fields labeled Additional Field 1-80 (or the custom labels chosen by a participant). The element carries a sequence attribute which will have values '1' through '80' to indicate the particular screen field where the data was captured. A fieldName attribute will have a value set equal to the SwapsWire Trader field's screen label.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReplacementTradeId" type="SW_ReplacementTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FraSummary">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for defining summary details of a FRA trade in a block action.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by SwapsWire. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the buyer in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the seller in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEffectiveDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The effective date of the FRA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTerminationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The termination date of the FRA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The notional amount. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The fixed rate. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalField" type="SW_AdditionalField" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data captured through the SwapsWire Trader fields labeled Additional Field 1-80 (or the custom labels chosen by a participant). The element carries a sequence attribute which will have values '1' through '80' to indicate the particular screen field where the data was captured. A fieldName attribute will have a value set equal to the SwapsWire Trader field's screen label.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReplacementTradeId" type="SW_ReplacementTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details regarding the Future Value of the fixed leg of the trade</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="calculationPeriodNumberOfDays" type="xsd:positiveInteger">
<xsd:annotation>
<xsd:documentation xml:lang="en">The number of days from the adjusted effective / start date to the adjusted termination / end date calculated in accordance with the applicable day count fraction.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalFutureValue" type="SW_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_InflationSwapDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regarding inflation swaps that are not held in the FpML structure</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swIndexInitial" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The index initial given in month and year</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIndexFinal" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The index final given in month and year.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swfallbackBondApplicable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The applicability of a fallback bond as defined in the 2006 ISDA Inflation Derivatives Definitions, sections 1.3 and 1.8. Omission of this element imples a value of true.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCalculationMethod" type="SW_InflationCalculationMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates how to use the inflation index to calculate the payment (e.g. Ratio, Return, Spread).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCalculationStyle" type="SW_InflationCalculationStyleEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates the style of how the inflation index calculates the payment (e.g. YearOnYear, ZeroCoupon).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFinalPrincipalExchangeCalculation" type="SW_FinalPrincipalExchangeCalculation" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">To be specified only for inflation products that embed a redemption payment, e.g. inflation linked asset swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSpreadCalculationMethod" type="SW_SpreadCalculationMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Code values for different methods of spread calculation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SW_InflationCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation>Code values for different ways of using inflation indexes in formulas</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Ratio">
<xsd:annotation>
<xsd:documentation>(Inflation Index Final / Inflation Index Base). Inflation Index Final is inflation index for Reference Month that is the Lag number of months prior to Payment Date (subject to interpolation). Inflation Index Base subject to the Calculation Style. Used in inflation asset swaps to calculate the inflation coupons and principal exchange.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Return">
<xsd:annotation>
<xsd:documentation>(Inflation Index Final / Inflation Index Base -1). Inflation Index Final is the inflation index for Reference Month that is the Lag number of months prior to Payment Date (subject to interp). Inflation Index Base subject to the Calculation Style. Used in market standard ZC Inflation swaps.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Spread">
<xsd:annotation>
<xsd:documentation>Inflation Index Final - Inflation Index Base). Inflation Index Final is Index for Ref month the Lag months prior to Payment Date (subject to interp). Inflation Index Base subject to the Calculation Style. Typically used for fixing locks.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_InflationCalculationStyleEnum">
<xsd:annotation>
<xsd:documentation>Code values for different styles of ways of calculation methods.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="YearOnYear">
<xsd:annotation>
<xsd:documentation>YearOnYear means Inflation Index Base is the inflation index for Reference Month that is 12 months prior to Inflation Index Final (subject to interpolation). Inflation Index Base is cashflow dependent.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="ZeroCoupon">
<xsd:annotation>
<xsd:documentation>ZeroCoupon means Inflation Index Base used in the CalculationMethod is the inflation index for the Reference Month that is the lag number of months prior to Effective Date in the case of a swap, or Bond Interest Accrual Date in the case of an Asset Swap (subject to interpolation). Inflation Index Base has the same value for each inflation cashflow and Principal Exchange calculation within the trade.</xsd:documentation>
</xsd:annotation>
</xsd:enumeration>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SW_FinalPrincipalExchangeCalculation">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether the Principal Exchange on the inflation leg is floored or not. If TRUE, Principal Exchange takes the form: Inflation Notional Amount * Max(1, Index Final/ Index Base). If FALSE, the Principal Exchange takes the form: Inflation Notional Amount * Index Final / Index Base.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swFloored" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">If TRUE, Principal Exchange takes the form: Inflation Notional Amount * Max(1, Index Final/ Index Base). If FALSE, the Principal Exchange takes the form: Inflation Notional Amount * Index Final / Index Base.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:simpleType name="SW_SpreadCalculationMethodEnum">
<xsd:annotation>
<xsd:documentation>Code values for different methods of spread calculation.</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="ParPar"/>
<xsd:enumeration value="Proceeds"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SW_IrdTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining additional non-economic trade details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swManualConfirmationRequired" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether a follow-up manual confirmation is required. This element will always contain a value of true for a SwapsWire Single Sided Deal</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNovationExecution" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade is a novation execution trade or not. This element will be true for Novation Execution trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingNotRequired" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade needs to be excluded from clearing through a central clearing house or clearing system.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStandardSettlementInstructions" type="xsd:boolean">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether standard settlement instructions are applicable. Note that the corresponding SwapsWire Trader checkbox field label is Non-Standard Settlement Instructions, i.e. a checked screen field corresponds to an element value of false.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInteroperable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade should be considered interoperable and tested against the interoperability eligibilty criteria. Note that this flag only applies when the recipient participant's primary platform is not MarkitWire.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExternalInteropabilityId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field which allows users to provide their Unique ID to be used when trade is interopable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInteropNettingString" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field which allows users to provide their Interop Netting String to be used when trade is interopable.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNormalised" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether any of the trade data (trade date, effective date or termination date) was normalised as part of the submission process to SwapsWire. This element will only be present for a normalised trade. Currently, normalisation only has applicability for trades with a product type of 'SingleCurrencyInterestRateSwap' submitted to SwapsWire for backloading into LCH.Clearnet's SwapClear service.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAutoSendForClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade should be automatically sent for clearing if it satisfies the eligibility criteria.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAutoProcessing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates that MW is performing auto actions on this trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCBClearedTimestamp" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was cleared as provided by the Clearing Broker</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCBTradeType" type="SW_CBTradeTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Allows user to indicate the type of CB trade as either non-member-CB or CB-CCP.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swMandatoryClearing" type="SW_MandatoryClearing" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Element to provide details of Mandatory Clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swObligationToClear" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A true/false flag to indicate whether the trade needs to be cleared through a central clearing house or clearing system because there is a bilateral agreement to clear in place or because it is mandatory clearable at a jurisdiction in which neither party has end user exemption from mandatory clearing.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the trade is a client clearing trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingHouse" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element to provide details of bilateral clearing house at which the trade is intended to clear.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingBroker" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>element to provide details of clearing broker involved in trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPartyClearingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC of the Clearing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if this is the EB or Client corresponding to the CB below.  This is for each allocation on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingBroker" type="SW_Party">
<xsd:annotation>
<xsd:documentation xml:lang="en">Definition of Clearing Broker for each allocation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFuturesCommissionMerchant" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether specified clearing broker is Futures Commission Merchant or not.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swExecutingBroker" type="PartyOrTradeSideReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The party reference of the Executing Broker</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingClient" type="PartyOrTradeSideReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The party reference of the Client</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientFund" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The BIC of the private fund for the Client</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOffsettingTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Gate Check Offsetting Trade ID for internal reconciliation purposes.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCompressionType" type="SW_CompressionTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Compression Type for this side of the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPartyNettingString" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the netting string for the Client and/or Executing Broker </xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swNettingString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swCreditAcceptanceToken" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the unilateral credit acecptance token for a party.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swCreditIssuer" type="xsd:normalizedString"/>
<xsd:element name="swToken" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swPartyCreditAcceptanceToken" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the credit acecptance token for a party.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference"/>
<xsd:element name="swCreditIssuer" type="xsd:normalizedString"/>
<xsd:element name="swToken" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swAnonymousTrade" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to anonymoise the Trade. If true then MW will hide the identity of buyer and seller from eachother.   </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOTVConfirmation" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Attribute to indicate if SEF is using MW for OTV Confirmation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swGateCheck" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Indicator to define if the trade is eligible for Gate Checking along with the status of the trade.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swStatus">
<xsd:simpleType>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Eligible"/>
<xsd:enumeration value="Ineligible"/>
<xsd:enumeration value="NotPickedUp"/>
<xsd:enumeration value="PickedUp"/>
<xsd:enumeration value="Disputed"/>
<xsd:enumeration value="Released"/>
</xsd:restriction>
</xsd:simpleType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swPartyExecutionMethod" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Element which defines the Execution Method per side of the trade. This information is also used to identify a Gate Checking trade.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if this is the party A or B corresponding to the Execution Method below.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExecutionMethod" type="SW_ExecutionMethodEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Execution Method for the specified party.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swExecutionMethod" type="SW_ExecutionMethodEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Element which defines the Execution Method for this side of the trade. This information is also used to identify a Gate Checking trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDataMigrationId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A field capturing the Sell side's internal trade ID as a bilateral field</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearedPhysicalSettlement" type="xsd:boolean" fixed="true" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag which can only contain the value 'true', which if present indicates that the underlying swap is to be cleared.  This should only be submitted for physical settlement of swaptions.  This property is defined in Supplement 28, ISDA 2006 Definitions, Section 15.2 Cleared Physical Settlement.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPredeterminedClearerForUnderlyingSwap" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The expected clearer of the underlying swap upon exercise of the swaption, as agreed at execution of the swaption</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClearingTakeup" type="SW_ClearingTakeup" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A ClearingTakeup trade indicator</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBackLoadingFlag" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Flag to identify backloaded trades</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBulkAction" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A true/false flag to identify trades created or amended as part of a bulk process.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCCPValidationOverride" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether the Clearing House rules will be ignored or not on the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAssociatedTrades" type="SW_AssociatedTrades" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Trade association type for trades linked to each other.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIntroducingBroker" minOccurs="0">
<xsd:annotation>
<xsd:documentation>element to provide details of an Introducing broker involved in trade.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="idType"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swPartyIntroducingBroker" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>The BIC/Broker of the Introducing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The party reference specifying if this is the party A or B corresponding to the IB below.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIntroducingBroker" minOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">Definition of the Introducing Broker</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="idType"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swOriginatingEvent" type="SW_OriginatingEvent" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The reason a trade is created such as Bunched Order Block, Bunched Order Allocation, Backload. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSendToCLS" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Indicates whether the message is eligible for the settlement at CLS.</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swSettlementLegEligibility" minOccurs="1" maxOccurs="2">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:boolean">
<xsd:attribute name="swSettlementLeg" type="SW_SettlementLegEnum"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swESMAFrontloading" type="SW_FrontloadEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Field to specify the Frontloading category under EMIR regulation</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swESMAClearingExemption" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This field is used to capture exemption from mandatory clearing under ESMA</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNettingDetails" minOccurs="0">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swNettingBatchId" type="xsd:normalizedString" minOccurs="0"/>
<xsd:element name="swNettingInstructionType" type="xsd:normalizedString" minOccurs="0"/>
<xsd:element name="swSubCategory" type="xsd:normalizedString" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="swPricedToClearCCP" type="SW_PartyDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The BIC of Clearing House at which trade was priced to clear</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnderlyingSwapDetails" type="SW_UnderlyingSwapDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Details related to IRS trade resulting from exercise on a swaption contract </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAutoCreateAffirmReleaseSwap" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swConvertUnderlyingSwapToRFR" type="xsd:boolean" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OriginatingEvent">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies the type of business event that triggered the origination of this trade.  This is used to provide additional detail about how or why a trade originatated, particularly when this is not self-evident.  For example, it can indicated that the trade was created as a result original bunched order or allocation.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swOriginatingEventScheme" type="xsd:anyURI" fixed="http://www.markitwire.com/spec/2013/coding-scheme/originating-event"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_SettlementProvision">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swSettlementCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Notional amount</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNonDeliverableSettlement" type="SW_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">Fixed Rate</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NonDeliverableSettlement">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining the details for converting a non deliverable currency.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swReferenceCurrency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFxFixingSchedule" type="AdjustableDate" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Valuation date, Typically for a non deliverable BRL interest rate swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementRateOption">
<xsd:annotation>
<xsd:documentation xml:lang="en">FX Rate source</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:normalizedString">
<xsd:attribute name="swSettlementRateOptionScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/settlement-rate-option-1-0"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_NotionalFutureValue">
<xsd:annotation>
<xsd:documentation xml:lang="en">The future value of the notional amount of the fixed leg.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="currency" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Currency of Notional Future Value amount.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="amount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Amount of Notional Future Value.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF">
<xsd:annotation>
<xsd:documentation xml:lang="en">Pointer to the Present Value notional amount for this Future Value </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for definining additional structured trade details that are not captured within the FpML component of the document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTradeHeader" type="SW_IrdTradeHeader">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional bilateral non-economic trade details.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEarlyTerminationProvision" type="SW_EarlyTerminationProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Early termination provision information relating to the Swap Transaction. Either Mandatory or Optional Early Termination can be specified. Note that this element should not be present for a FRA, OIS or CapFloor trade. For a Swaption trade the early termination is assumed to apply to the underlying swap.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAssociatedBonds" type="SW_AssociatedBonds" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The underlying bond details if the swap price was negotiated as a spread over underlying bond reference instruments. Note that this element should not be present for a FRA, OIS, CapFloor or Swaption trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExitReason" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will optionally be present if the trade has a trade status of Exit and will contain any reason text entered through the SwapsWire Trader field labeled Exit Reason.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAmendmentType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if a partial termination is affected, or if a trade has been corrected and contains the value of 'PartialTermination' or 'ErrorCorrection'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCancellationType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will optionally be present if a cancellation is affected for a trade which was booked in error and contains the value 'BookedInError'</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swForwardPremium" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Boolean element indicates if the Swaption premium payment amount is live or the payment has been settled at the time of cancellation event</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInflationSwapDetails" type="SW_InflationSwapDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if the trade is an Inflation Swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swModificationTradeDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will be present if the trade has a trade status of Exit, Cancelled or Amended and will contain a date entered through the MarkitWire field labeled Modification Trade Date on the Processing tab. The date corresponds to the trade date of the modification.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swModificationEffectiveDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This element will be present if the trade has a trade status of Exit, Cancelled or Amended and will contain a date entered through the MarkitWire field labeled Modification Effective Date on the Processing tab. The date corresponds to the effective date of the modification.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementProvision" type="SW_SettlementProvision" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">definining the details for settlement of a non deliverable currency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFutureValue" type="SW_FutureValue" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">This element will be present if the trade is a BRL-CDI non deliverable swap</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRatesTermination" type="SW_RatesTermination" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Full Termination (Cancelation/unwind) or Partial Termination details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOutsideNovation" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The Novation details where the novation happens outside of MarkitWire</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="SW_OutsideNovation"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swFxCutoffTime" type="SW_FxCutoffTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Mark-To-Market fixing cut-off time for a Cross Currency Basis Swap or Cross Currency IRS.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCrossCurrencyMethod" type="CashPriceMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 23, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (f).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCollateralizedCashPrice" type="YieldCurveMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">An ISDA defined settlement method used for the determination of the applicable cash settlement amount. The method is defined in Supplement 28, ISDA 2006 Definitions, Section 18.3 Cash Settlement Methods, paragraph (g).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementAgent" type="SW_SettlementAgent" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The specification of a designated Settlement Agent to process settlement and collateral payments on behalf of both counterpartyies to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOrderDetails" type="SW_OrderDetails" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>A requirement under MIFID 2, to capture bilateral details related to transmission of orders.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCapFloorDetails" type="SW_CapFloorDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A placeholder to capture additional details related to CMS One Look Product</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAgreedDiscountRate" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>As a result of the CCPs moving from over night rates to risk free rates,this field, on a swaption template, captures the rate that was used to value the underlying swap when the trade was originally booked</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEconomicAmendmentType" type="SW_EconomicAmendmentTypeEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag to identify if the trade is a part of an economic amendment e.g Transition from IBOR to RFRs </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEconomicAmendmentReason" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A field capturing the reason for economic amendment</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="calculationAgent" type="CalculationAgent" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Calculation agent party details for products for which calculationAgent structure is not supported by FpML 4.2 schema</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSwapRateFallbacksAmendment" type="SW_FallbacksSupplementEnum" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Indicates the type of swaprate fallbacks amendment applicable to the novation of a trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPackageDetails" type="SW_PackageDetails" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Outputs the data related to the Package Trades as provided during submission</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_FxCutoffTime">
<xsd:annotation>
<xsd:documentation>A component for defining the Mark-To-Market fixing cut-off time for a Cross Currency Basis Swap or Cross Currency IRS.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="hourMinuteTime" type="HourMinuteTime">
<xsd:annotation>
<xsd:documentation>A time specified in hh:mm:ss format where the second component must be '00', e.g. 11am would be represented as 11:00:00.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IrdStructuredTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the structured details of a brokered trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swProductType" type="SW_IrdProductTypeEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">The SwapsWire product type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTemplateName">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
</xsd:element>
<xsd:element name="swParticipantSupplement" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The name of an applicable participant supplement template that was applied to the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice>
<xsd:element name="FpML" type="DataDocument">
<xsd:annotation>
<xsd:documentation xml:lang="en">The FpML compliant sub-tree that describes the transaction. This sub-tree uses the FpML DataDocument type.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOfflineTrade" type="SW_OfflineTrade">
<xsd:annotation>
<xsd:documentation xml:lang="en">The component that describes the details of a rates offline trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swExtendedTradeDetails" type="SW_IrdExtendedTradeDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional structured trade details that are not captured within the FpML trade representation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTradeEventReportingDetails" type="SW_TradeEventReportingDetails" minOccurs="0"/>
<xsd:element name="swBusinessConductDetails" type="SW_BusinessConductDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining trade details related to business conduct standards that are not 	captured within the FpML component of the message.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTradePackageHeader" type="SW_TradePackageHeader" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component to capture Package Trade header information</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="swNovations">
<xsd:annotation>
<xsd:documentation>A component for defining details of subtrades involved in a block novation.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="novation" type="SW_ConfirmedNovationAgreement" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OfflineTrade">
<xsd:annotation>
<xsd:documentation>A component for defining details of a rates offline product.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swOfflineProductType" minOccurs="0"/>
<xsd:element name="swTradeDate" type="xsd:date"/>
<xsd:element name="swLegDetails" type="SW_LegDetails" maxOccurs="2">
<xsd:annotation>
<xsd:documentation xml:lang="en">Details of each leg.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionType" minOccurs="0"/>
<xsd:element name="expirationDate" type="xsd:date" minOccurs="0"/>
<xsd:element name="effectiveDate" type="xsd:date"/>
<xsd:element name="terminationDate" type="xsd:date"/>
<xsd:element name="swAdditionalDetails" minOccurs="0"/>
<xsd:element name="swOriginalTradeReferences" type="SW_OriginalTradeReferences" minOccurs="0"/>
<xsd:element name="party" type="Party" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_LegDetails">
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:sequence minOccurs="0">
<xsd:element name="payerPartyReference" type="PartyReference"/>
<xsd:element name="receiverPartyReference" type="PartyReference"/>
</xsd:sequence>
<xsd:sequence minOccurs="0">
<xsd:element name="buyerPartyReference" type="PartyReference"/>
<xsd:element name="sellerPartyReference" type="PartyReference"/>
</xsd:sequence>
</xsd:choice>
<xsd:element name="notional" type="Money" minOccurs="0"/>
<xsd:element name="fixedRate" type="xsd:decimal" minOccurs="0"/>
<xsd:element name="floatingRateIndex" type="FloatingRateIndex" minOccurs="0"/>
<xsd:element name="indexTenor" type="Interval" minOccurs="0"/>
<xsd:element name="paymentFrequency" type="Interval" minOccurs="0"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_OriginalTradeReferences">
<xsd:sequence>
<xsd:element name="swOriginalTradeReference" maxOccurs="2">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="partyReference" type="PartyReference"/>
<xsd:element name="swTradeReference" minOccurs="0"/>
<xsd:element name="swTradeDesk" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SwapSummary">
<xsd:annotation>
<xsd:documentation xml:lang="en">Summary details of a Swap trade in a block action.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by SwapsWire. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFixedAmounts" type="SW_FixedAmounts">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for defining fixed rate payer and receiver parties.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEffectiveDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The effective date of the FRA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTerminationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The termination date of the FRA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The notional amount. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fixedRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The fixed rate. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalField" type="SW_AdditionalField" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data captured through the SwapsWire Trader fields labeled Additional Field 1-80 (or the custom labels chosen by a participant). The element carries a sequence attribute which will have values '1' through '80' to indicate the particular screen field where the data was captured. A fieldName attribute will have a value set equal to the SwapsWire Trader field's screen label.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReplacementTradeId" type="SW_ReplacementTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_RatesTermination">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional details regarding a Full Termination (Cancelation/unwind) or Partial Termination</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPreviousNotional1" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPreviousNotional2" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalDecrease1" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotionalDecrease2" type="Money" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The previous notional amount. </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SwaptionSummary">
<xsd:annotation>
<xsd:documentation xml:lang="en">An entity for defining summary details of a Swaption trade in a block action.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="tradeId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by SwapsWire. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="buyerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the buyer in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="sellerPartyReference" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A pointer style reference to a party identifier defined elsewhere in the document. The party referenced is the seller in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swOptionType" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Swaption or CapFloor option type. For Swaption the valid values are 'Payers', 'Receivers' or 'Straddle' For CapFloor the valid values are 'Cap' or 'Floor'.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExpirationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Swaption expiration date.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swEffectiveDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The effective date of the FRA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTerminationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">The termination date of the FRA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="notional" type="Money">
<xsd:annotation>
<xsd:documentation xml:lang="en">The notional amount. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swStrikeRate" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">The Swaption or CapFloor strike rate.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="additionalPayment" type="SW_Payment" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Additional payment between the principal parties involved in the trade. This is an FpML 2.0 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalField" type="SW_AdditionalField" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data captured through the SwapsWire Trader fields labeled Additional Field 1-80 (or the custom labels chosen by a participant). The element carries a sequence attribute which will have values '1' through '80' to indicate the particular screen field where the data was captured. A fieldName attribute will have a value set equal to the SwapsWire Trader field's screen label.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReplacementTradeId" type="SW_ReplacementTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Details of trade Ids replaced as a result of specific events e.g. IBOR transition</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OutsideNovation">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the details of a Novation which happened outside of MarkitWire.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTransferor" type="SW_Transferor">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Details</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="transferee" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Incoming Party Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="remainingParty" type="PartyOrTradeSideReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Remaining Party Reference</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novationDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Effective Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="novationTradeDate" type="xsd:date">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Trade Date</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="fullFirstCalculationPeriod" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A true/false flag to indicate whether Full First Calculation Period is applicable to the New Transaction arising from a novation. Full First Calculation Period relates to initial cashflow accruals for payment by each party on the first Payment Date following a novation and is defined in the 2004 ISDA Novation Definitions. ISDA 2004 Novation Term: Full First Calculation Period. This element will not be present on a Swaption novation. This is an FpML 4.1 element.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFirstFixedPeriodStartDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The first fixed period start date of an outside novation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swFirstFloatPeriodStartDate" type="xsd:date" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The first float period start date of an outside novation.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_Transferor">
<xsd:annotation>
<xsd:documentation xml:lang="en">A component for defining the details of a Transferor, i.e. the Outgoing Party of a novation.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Outside Novation Outgoing Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_PartyDetails">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type allowing ability to specifiy party id and party name.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation>The trade date of the termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The effective date of the termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_UnderlyingSwapDetails">
<xsd:annotation>
<xsd:documentation> A type defining details related to IRS trade resulting from exercise on a swaption contract</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swClientClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A true/false flag to indicate whether the IRS trade resulting from swaption exercise is a client clearing trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAutoSendForClearing" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A true/false flag to indicate whether the IRS trade resulting from swaption exercise will be sent for auto clearing if it satisfies the eligibility criteria.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SettlementAgent">
<xsd:annotation>
<xsd:documentation> A type defining details of a specified Settlement Agent to the trade</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="1">
<xsd:element name="swSettlementAgency" type="SW_SAPartyRef" minOccurs="1">
<xsd:annotation>
<xsd:documentation>The reference to the Party details contained in the FpML for the specified Settlement Agency.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementAgencyModel" type="xsd:normalizedString" minOccurs="1">
<xsd:annotation>
<xsd:documentation>Settlement Agency Model, either CTM (Collateralised To Market) or STM (Settle To Market)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementAgencyStatus" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The status of the trade in relation to the Settlement Agency processing workflow</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementAgencyTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The Trade Id assigned by the specified Settlement Agency, once regsitered into the service.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swSettlementAgencyOffsetTradeId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>The Offset Trade Id assigned by the Settlement Agency, to link both the original and corresponding offset trade booked for the purposes of termination.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_SAPartyRef">
<xsd:annotation>
<xsd:documentation>The specified Settlement Agency party details.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="partyId" type="xsd:normalizedString">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Agency Party Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="partyName" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Settlement Agency Party Name</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_OrderDetails">
<xsd:annotation>
<xsd:documentation>A structure to capture bilateral Order transmission details required under MIFID 2</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swTypeOfOrder" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the type of order, as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTotalConsideration" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the total consideration towards the order as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRateOfExchange" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise the rate of exchange towards the order as per article 59 of MIFID II.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientCounterparty" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate where the client's counterparty was the investment firm itself or any person in the investment firm's group or another client of the investment firm, the fact that this was the case unless the order was executed through a trading system that facilitates anonymous trading. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTotalCommissionAndExpenses" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would comprise total sum of the commissions and expenses charged and, where the client so requests, an itemised breakdown including, where relevant, the amount of any mark-up or mark-down imposed where the transaction was executed by an investment firm when dealing on own account, and the investment firm owes a duty of best execution to the client.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swClientSettlementResponsibilities" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would constitute client's responsibilities in relation to the settlement of the transaction, including the time limit for payment or delivery as well as the appropriate account details where these details and responsibilities have not previously been notified to the client.  </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF"/>
</xsd:complexType>
<xsd:complexType name="SW_CapFloorDetails">
<xsd:sequence minOccurs="0">
<xsd:element name="swFloatingRateFixingDate" minOccurs="0">
<xsd:complexType>
<xsd:complexContent>
<xsd:extension base="AdjustableDate"/>
</xsd:complexContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="calculationAgent" type="CalculationAgent" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A field  to capture calculation agent party details for CMS Spread and CMS One Look capfloor template</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
