extracted_libraries/xml/swxml-reporting-shared-1-0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="SW_20_1_460930" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="swxml-reporting-dtd-continuity-include-1-0.xsd"/>
<xsd:simpleType name="SW_OTCPostTradeIndicatorEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="BENC"/>
<xsd:enumeration value="ACTX"/>
<xsd:enumeration value="LRGS"/>
<xsd:enumeration value="ILQD"/>
<xsd:enumeration value="SIZE"/>
<xsd:enumeration value="AMND"/>
<xsd:enumeration value="SDIV"/>
<xsd:enumeration value="RPRI"/>
<xsd:enumeration value="DUPL"/>
<xsd:enumeration value="TNCP"/>
<xsd:enumeration value="TPAC"/>
<xsd:enumeration value="XFPH"/>
<xsd:enumeration value="NPFT"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_WaiverEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="RFPT"/>
<xsd:enumeration value="NLIQ"/>
<xsd:enumeration value="OILQ"/>
<xsd:enumeration value="PRIC"/>
<xsd:enumeration value="SIZE"/>
<xsd:enumeration value="ILQD"/>
<xsd:enumeration value="LRGS"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_ShortSaleEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="SESH"/>
<xsd:enumeration value="SSEX"/>
<xsd:enumeration value="SELL"/>
<xsd:enumeration value="UNDI"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_DestinationEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="DTCCAUTR"/>
<xsd:enumeration value="DTCCCTR"/>
<xsd:enumeration value="DTCCETR"/>
<xsd:enumeration value="DTCCSDR"/>
<xsd:enumeration value="DTCCSGTR"/>
<xsd:enumeration value="DTCCUKTR"/>
<xsd:enumeration value="JTR"/>
<xsd:enumeration value="HKTR"/>
<xsd:enumeration value="CTR"/>
<xsd:enumeration value="CMESDR"/>
<xsd:enumeration value="BBGSDR"/>
<xsd:enumeration value="ICESDR"/>
<xsd:enumeration value="Unspecified"/>
<xsd:enumeration value="CMEETR"/>
<xsd:enumeration value="ITRREP"/>
<xsd:enumeration value="RegisTR"/>
<xsd:enumeration value="UnaVista"/>
<xsd:enumeration value="Crest"/>
<xsd:enumeration value="TRAX"/>
<xsd:enumeration value="GETCO"/>
<xsd:enumeration value="TransacPort"/>
<xsd:enumeration value="Bloomberg TOMS"/>
<xsd:enumeration value="Tradeweb"/>
<xsd:enumeration value="NEX"/>
<xsd:enumeration value="Bloomberg"/>
<xsd:enumeration value="Deutsche Borse"/>
<xsd:enumeration value="Tradecho"/>
<xsd:enumeration value="Boat"/>
<xsd:enumeration value="Other"/>
<xsd:enumeration value=""/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_IntermediaryEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en">DTCCGTR</xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="DTCCGTR">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
</xsd:enumeration>
<xsd:enumeration value="Direct"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_PackagePriceType">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Spread"/>
<xsd:enumeration value="Price"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_PackageNotationType">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Amount"/>
<xsd:enumeration value="Decimal"/>
<xsd:enumeration value="BasisPoints"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="SW_LargeSizeTradeIndicatorEnum">
<xsd:annotation>
<xsd:documentation xml:lang="en"/>
</xsd:annotation>
<xsd:restriction base="xsd:token">
<xsd:enumeration value="Yes"/>
<xsd:enumeration value="No"/>
<xsd:enumeration value="TRCalculate"/>
</xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="SW_ClearingExceptionReason">
<xsd:annotation>
<xsd:documentation>The reason a trade is exempted from a clearing
mandate.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="clearingExceptionReasonScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/clearing-exception-reason"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_AllocationReportingDetails">
<xsd:sequence>
<xsd:element name="swJurisdiction" type="SW_Jurisdiction" minOccurs="0"/>
<xsd:sequence minOccurs="0">
<xsd:element name="swSupervisoryBodyCategory" type="SW_SupervisoryBodyCategory" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT14: Regulator Type</xsd:documentation>
<xsd:documentation>Categorisation of the
supervisorybody.</xsd:documentation>
<xsd:documentation>Requirement: CRT14 Will always present for Dodd-Frank
Will never be present for ODRF</xsd:documentation>
<xsd:documentation/>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReportableLocations" type="SW_ReportableLocations" minOccurs="0" maxOccurs="2"/>
</xsd:sequence>
<xsd:element name="swUniqueTransactionId" type="SW_UniqueTradeIdentifier" minOccurs="0">
<xsd:annotation>
<xsd:documentation>USI that will be used to identify the resulting
split</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swObligatoryReporting" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT1 (for the split) The value of this is NOT(the value of
"Within Jurisdiction").</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReportingCounterpartyReference" type="SW_PartyReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation>An occurrence for each party identified as a reporting party,
for the split, within the relevant reporting regime. For Dodd-Frank
reporting there will always be 1 occurrence</xsd:documentation>
<xsd:documentation>Requirement: CRT2</xsd:documentation>
<xsd:documentation>Dodd-Frank: Always 1 occurence</xsd:documentation>
<xsd:documentation>ODRF: Always 2 occurences ("partyA" and
"partyB")</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:sequence minOccurs="0">
<xsd:element name="swRegulatoryReportable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A flag for MIFID Transaction Reportable to be passed on
each allocated trade (Boolean)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTransparencyReportable" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>MiFID field: Transparency Reportable (Boolean) to be
passed on each allocated trade</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:element name="swMIFIDTransactionIdentifier" type="SW_MIFIDTransactionIdentifier" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Uniquely identifies a transaction for MIFID reporting
purposes.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReportForCounterparty" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Corporate sector of the counterparty required for ESMA and
FCA reporting for NFC-</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BatchProcessingEvent">
<xsd:annotation>
<xsd:documentation>to be removed.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swEventProcessingIDScheme" type="SW_Scheme" default="deprecated - to be removed"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_BusinessUnit">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type that represents information about a unit within
an organization.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swBusinessUnitId" type="SW_BusinessUnitId" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier used to uniquely identify
organization unit</xsd:documentation>
<xsd:documentation>Requirement: Desk Id</xsd:documentation>
<xsd:documentation>Requirement: Sales Id</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swName" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A name used to describe the organization
unit</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCountry" type="SW_CountryCode" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">CRT25: Desk Location (Trading Desk Instance)
CRT27: Sales Location (Sales Instance)</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID">
<xsd:annotation>
<xsd:documentation>"tradingDeskA" "salesA"</xsd:documentation>
<xsd:documentation>Trading Desk instance: the @id value will be tradingDeskA for the
desk of partyA, tradingDeskB for the desk of partyB etc. This value will be
referenced by:
swTradeEventReportingDetails/swPartyTradeInformation/swRelatedBusinessUnit[swRole='Trading
Desk']/swBusinessUnitReference/@href" of the relevant party</xsd:documentation>
<xsd:documentation>Sales instance: the @id value will be salesA for the sales unit
of partyA, salesB for the sales unit of partyB etc. This value will be
referenced by:
swTradeEventReportingDetails/swPartyTradeInformation/swRelatedBusinessUnit[swRole='Sales']/swBusinessUnitReference/@href"
of the relevant party</xsd:documentation>
<xsd:documentation>Requirement: Desk Id</xsd:documentation>
<xsd:documentation>Requirement: Sales ID</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_BusinessUnitId">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type used to record information about a unit,
subdivision, desk, or other similar business entity.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swBusinessUnitIdScheme" type="SW_Scheme" use="optional" default="http://www.markitwire.com/spec/2012/coding-scheme/business-unit-type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_BusinessUnitReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference to an organizational
unit.</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="SW_Reference">
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_BusinessUnitRole">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type describing a role played by a unit in one or
more transactions. Examples include roles such as Trader, Collateral, Confirmation,
Settlement, etc. This can be extended to provide custom roles.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="unitRoleScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/unit-role">
<xsd:annotation>
<xsd:documentation>default:"http://www.fpml.org/coding-scheme/unit-role"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_CollateralizationType">
<xsd:annotation>
<xsd:documentation xml:lang="en">Code that describes what type of collateral is posted
by a party to a transaction. Options include Uncollateralized, Partial, Full,
One-Way.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="collateralTypeScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/collateral-type">
<xsd:annotation>
<xsd:documentation>default:
"http://www.fpml.org/coding-scheme/collateral-type"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ConfirmationMethod">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type used to represent the type of mechanism that can
be used to confirm a trade.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="confirmationMethodScheme" type="xsd:anyURI" default="http://www.markitwire.com/spec/2012/coding-scheme/confirmation-method">
<xsd:annotation>
<xsd:documentation>default:"http://www.markitwire.com/spec/2012/coding-scheme/confirmation-method"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_CountryCode">
<xsd:annotation>
<xsd:documentation xml:lang="en">The code representation of a country or an area of
special sovereignty. By default it is a valid 2 character country code as defined by
the ISO standard 3166-1 alpha-2 - Codes for representation of countries
http://www.niso.org/standards/resources/3166.html.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:token">
<xsd:attribute name="countryScheme" type="xsd:anyURI" default="http://www.fpml.org/ext/iso3166">
<xsd:annotation>
<xsd:documentation>default:
"http://www.fpml.org/ext/iso3166"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_EmbeddedOptionOnSwap">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="embeddedOptionTypeScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/embedded-option-type">
<xsd:annotation>
<xsd:documentation>default:
"http://www.fpml.org/coding-scheme/embedded-option-type"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ExecutionDateTime">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining the trade execution date time and the
source of it. For use inside containing types which already have a Reference to a
Party that has assigned this trade execution date time.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:dateTime"/>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ExecutionVenueType">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type used to represent the type of market where a
trade can be executed.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="executionVenueTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/execution-venue-type">
<xsd:annotation>
<xsd:documentation>default:"http://www.fpml.org/coding-scheme/execution-venue-type"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_IssuerId">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data type used for party
identifiers.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="issuerIdScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/external/cftc/issuer-identifier">
<xsd:annotation>
<xsd:documentation>For a USI type trade identifier: When provided must
equal:"http://www.fpml.org/coding-scheme/external/cftc/issuer-identifier"
(default value)</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ExerciseReportingDetails">
<xsd:complexContent>
<xsd:extension base="SW_ReportingRegime">
<xsd:sequence>
<xsd:element name="swUniqueTransactionId" type="SW_UniqueTradeIdentifier"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_Jurisdiction">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swJurisdictionNameScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/jurisdicton-name">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/jurisdicton-name"
"DoddFrank"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_OrganizationType">
<xsd:annotation>
<xsd:documentation xml:lang="en">A code that describes what type of role an organization
plays, for example a SwapsDealer, a Major Swaps Participant, or
Other</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:token">
<xsd:attribute name="organizationTypeScheme" type="xsd:anyURI"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyExtended">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining a legal entity or a subdivision of a
legal entity.</xsd:documentation>
<xsd:documentation xml:lang="en">Parties can perform multiple roles in a trade
lifecycle. For example, the principal parties obligated to make payments from time
to time during the term of the trade, but may include other parties involved in, or
incidental to, the trade, such as parties acting in the role of novation
transferor/transferee, broker, calculation agent, etc. In FpML roles are defined in
multiple places within a document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPartyId" type="SW_PartyId" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">A party identifier, e.g. a S.W.I.F.T. bank
identifier code (BIC).</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCountry" type="SW_CountryCode" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">CRT24: Broker Location</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="required">
<xsd:annotation>
<xsd:documentation xml:lang="en">The id uniquely identifying the Party within the
document.</xsd:documentation>
<xsd:documentation>as referenced from the relevant party's swPartyTradeInformation
structure though the xpath:
swPartyTradeInformation/swRelatedParty/swPartyReference/@href" e.g.
clearingBrokerA, executingBrokerB</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_PartyExtension">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type extending the SWML//FpML/party block for the
relevant party</xsd:documentation>
<xsd:documentation xml:lang="en">Parties can perform multiple roles in a trade
lifecycle. For example, the principal parties obligated to make payments from time
to time during the term of the trade, but may include other parties involved in, or
incidental to, the trade, such as parties acting in the role of novation
transferor/transferee, broker, calculation agent, etc. In FpML roles are defined in
multiple places within a document.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swBusinessUnit" type="SW_BusinessUnit" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Instance for each of Trading Desk and Sales
unit (locations) involved in the event, for the party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReferencedPerson" type="SW_PersonIdReference" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">Instance for Trader
(location)</xsd:documentation>
<xsd:documentation>Will only be populated if Trader (or other employee) location
is required</xsd:documentation>
<xsd:documentation>Dodd-Frank: One instance will be present, for
Trader</xsd:documentation>
<xsd:documentation>Requirement: Trader Id </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF" use="required">
<xsd:annotation>
<xsd:documentation xml:lang="en">A reference to the id uniquely identifying the
Party within the main SWML document.</xsd:documentation>
<xsd:documentation>Trade Party Instance: @href" will contain the value of the
"SWML/swStructuredTradeDetails/FpML/party/@id" attribute identifying the
relevant party information in FpML</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_PartyId">
<xsd:annotation>
<xsd:documentation xml:lang="en">The data type used for party
identifiers.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="partyIdScheme" type="xsd:anyURI" default="http://www.fpml.org/ext/iso9362">
<xsd:annotation>
<xsd:documentation/>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="SW_Reference">
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyRole">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type describing a role played by a party in one or
more transactions. Examples include roles such as guarantor, custodian, confirmation
service provider, etc. This can be extended to provide custom
roles.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="partyRoleScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/party-role">
<xsd:annotation>
<xsd:documentation xml:lang="en">default="http://www.fpml.org/coding-scheme/party-role"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyRoleType">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type refining the role a role played by a party in
one or more transactions. Examples include "AllPositions" and "SomePositions" for
Guarantor. This can be extended to provide custom types.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="partyRoleTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/party-role-type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyTradeIdentifier">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining one or more trade identifiers allocated
to the trade by a party. A link identifier allows the trade to be associated with
other related trades, e.g. trades forming part of a larger structured transaction.
It is expected that for external communication of trade there will be only one
tradeId sent in the document per party.</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="SW_TradeIdentifier"/>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyTradeInformation">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining additional information that may be
recorded against a trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swRelatedParty" type="SW_RelatedParty" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Identification of applicable party components for the related
parties for this party in the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRelatedBusinessUnit" type="SW_RelatedBusinessUnit" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Reference to sales and trading desk business units for the
relevant party</xsd:documentation>
<xsd:documentation xml:lang="en">Provides information about a unit/division/desk
etc. that executed or supports this trade</xsd:documentation>
<xsd:documentation>Dodd-Frank: An instance will exist for the sales organisation
and for the trading desk of the party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRelatedPerson" type="SW_RelatedPerson" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Reference to trader information for the relevant
party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTimestamps" type="SW_TradeProcessingTimestamps" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Allows timing information about a trade to be
recorded.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExecutionDateTime" type="SW_ExecutionDateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT20: Execution Date/ Timestamp
xsd:dateTime</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIsCleared" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Boolean Field to mark if a trade has been
cleared.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNonStandardTerms" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>GRT5, CRT30: Non standard flag (Boolean)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExecutionType" type="SW_ExecutionType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>A type used to represent the type of trade execution,
required for HKMA</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCounterpartyOrigin" type="SW_CounterpartyOrigin" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Indicates whether the transaction was entered into by the
Reporting For trade party on behalf of a customer or house account, required
for HKMA.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swIntentToClear" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Boolean ITC Flag</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPricingContext" type="SW_PricingContext" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Identifies characteristic or circumstance that makes the
trade off-market.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCollateralizationType" type="SW_CollateralizationType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT18: Collaterlized "Full" "Partial" "One-Way"
"Uncollateralized"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCollateralPortfolioCode" type="SW_CollateralPortfolioCode" minOccurs="0"/>
<xsd:element name="swExecutionVenueType" type="SW_ExecutionVenueType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT22: Execution Venue "SEF" "DCM" "QMTF"
"Off-Facility"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swVerificationMethod" type="SW_ConfirmationMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT4: Off Platform Verified (Omission of this element will
correspond to the [blank] GUI value.) "Electronic"
"NonElectronic"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swConfirmationMethod" type="SW_ConfirmationMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT5: Off Platform Confirmed (Omission of this element will
correspond to the [blank] GUI value.) "Electronic"
"NonElectronic"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRelatedTradeId" type="SW_RelatedTradeId" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Related Unilateral USIs Block USI (CRT10E, CRT10D) Prior USI
(CRT10G, CRT10F) Novation Execution Trade USI (CRT10H,
CRT10I)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCommercialActivity" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swTradingCapacity" minOccurs="0">
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swTradingCapacityScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/trading-capacity">
<xsd:annotation>
<xsd:documentation>"Principal" or "Agent"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
<xsd:element name="swCurrentNotional" type="SW_CurrentNotional" minOccurs="0" maxOccurs="2"/>
<xsd:element name="swIdentifiers" type="SW_Identifiers" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Identifiers" tab on the UI, used for populating cpty PLI and
LEI and complex trade Id.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swComplexTradeDetails" type="SW_ComplexTradeDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex trade pricing
information</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swExecutionVenueIdentifier" type="SW_ExecutionVenueIdentifier" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Unique identifier that specifies which set of exchange
identifiers has been used to specify a securities or derivatives exchange.
i.e. MIC requirement for MIFID and ESMA RTS 2.0</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCounterpartyCorporateSector" type="SW_IndustryClassification" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Corporate sector of the counterparty required for ESMA and
FCA reporting for NFC-</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCustomBasket" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swPostPriceSwap" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swToTV" type="xsd:boolean" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_BilateralPartyTradeInformation">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining additional information that may be
recorded against a trade.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPartyReference" type="SW_PartyReference"/>
<xsd:element name="swRelatedParty" type="SW_RelatedParty" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Identification of applicable party components for the related
parties for this party in the trade.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRelatedBusinessUnit" type="SW_RelatedBusinessUnit" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Reference to sales and trading desk business units for the
relevant party</xsd:documentation>
<xsd:documentation xml:lang="en">Provides information about a unit/division/desk
etc. that executed or supports this trade</xsd:documentation>
<xsd:documentation>Dodd-Frank: An instance will exist for the sales organisation
and for the trading desk of the party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRelatedPerson" type="SW_RelatedPerson" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>Reference to trader information for the relevant
party</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPartyExtension" type="SW_PartyExtension" minOccurs="0">
<xsd:annotation>
<xsd:documentation>One instance, containing details for the party requesting the
SWML</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_Person">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type that represents information about a person
connected with a trade or business process.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPersonId" type="SW_PersonId" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier assigned by a system for uniquely
identifying the individual</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBusinessUnitReference" type="SW_BusinessUnitReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The unit for which the indvidual
works.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCountry" type="SW_CountryCode" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The ISO 3166 standard code for the country
where the individual works.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_PersonId">
<xsd:annotation>
<xsd:documentation xml:lang="en">An identifier used to identify an individual
person.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="personIdScheme" type="xsd:anyURI"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PersonIdReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type that represents information about a person
connected with a trade or business process.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swBusinessUnitReference" type="SW_BusinessUnitReference" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">The unit for which the indvidual
works.</xsd:documentation>
<xsd:documentation>Trader Id instance: The @href will reference this
swPartyExtension blocks swBusinessUnit/@id where the
swPartyExtension/swBusinessUnit is for the trading desk - as referenced by
the instance of
swPartyTradeInformation/swRelatedBusinessUnit[swRole='Trading Desk]/@href </xsd:documentation>
<xsd:documentation>Requirement: Trader Id (cross-reference)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPersonId" type="SW_PersonId" minOccurs="0"/>
<xsd:element name="swName" type="xsd:string" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">A name used to describe the organization
unit</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCountry" type="SW_CountryCode" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation xml:lang="en">CRT26: Trader Location </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID">
<xsd:annotation>
<xsd:documentation>defines person associated with rtade or business
process.</xsd:documentation>
<xsd:documentation>Always present</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:complexType name="SW_PersonReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference to an individual.</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="SW_Reference">
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_PersonRole">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type describing a role played by a person in one or
more transactions. Examples include roles such as Trader, Broker, MiddleOffice,
Legal, etc. This can be extended to provide custom roles.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="personRoleScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/person-role">
<xsd:annotation>
<xsd:documentation>default:"http://www.fpml.org/coding-scheme/person-role"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PriceNotation">
<xsd:sequence>
<xsd:element name="swAmount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation>GRT8 CRT35: Price (Value) CRT16: Additional Price (Value)
</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnit" type="SW_Unit">
<xsd:annotation>
<xsd:documentation>GRT7 CRT34: Price (CashflowUnit) CRT15: Additional Price
(Cashflow Unit) </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="optional"/>
</xsd:complexType>
<xsd:complexType name="SW_Reference" abstract="true">
<xsd:annotation>
<xsd:documentation xml:lang="en">The abstract base class for all types which define
intra-document pointers.</xsd:documentation>
</xsd:annotation>
</xsd:complexType>
<xsd:complexType name="SW_RelatedBusinessUnit">
<xsd:sequence>
<xsd:element name="swBusinessUnitReference" type="SW_BusinessUnitReference">
<xsd:annotation>
<xsd:documentation>Trading Desk instance:The unique "id" attribute value
identifying the tradingDesk business unit will be provided here Sales
instance:The unique "id" attribute value identifying the Sales business unit
will be provided here</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRole" type="SW_BusinessUnitRole">
<xsd:annotation>
<xsd:documentation>identifies business unit role as Trading or Sales "Trader"
"Sales"</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_RelatedParty">
<xsd:sequence>
<xsd:element name="swPartyReference" type="SW_PartyReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRole" type="SW_PartyRole">
<xsd:annotation>
<xsd:documentation>"ExecutingBroker" or "Beneficiary"</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_RelatedPerson">
<xsd:sequence>
<xsd:element name="swPersonReference" type="SW_PersonReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">The individual person that is related to
this.</xsd:documentation>
<xsd:documentation>Trader instance personReference/@href The unique "id"
attribute value identifying the trader will be provided here References
Requirement: TraderId for relevant party References Requirement:
TraderLocation for relevant party </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRole" type="SW_PersonRole">
<xsd:annotation>
<xsd:documentation xml:lang="en">Identifies role of person.
"Trader"</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ReportingJurisdiction">
<xsd:annotation>
<xsd:documentation>Identifies a Reporting Regine in terms of Jurisdiction, Supervisory
Body and Category and contains data specific to the defined
regime.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swJurisdiction" type="SW_Jurisdiction" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Identifies equivalent to tc_client reporting tab. Denotes "DF
Reporting"</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ReportingPurpose">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swReportingPurposeScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/reporting-purpose">
<xsd:annotation>
<xsd:documentation>default:
"http://www.markitwire.com/spec/2012/coding-scheme/reporting-purpose"
"PET" "RT" "CONF" "POSTTRADEEVENT" "TransparencyReporting"
"TransactionReporting"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ReportingReason">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swReportingReasonScheme" type="SW_Scheme" default="to be defined"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ReportingRegime">
<xsd:complexContent>
<xsd:extension base="SW_ReportingJurisdiction">
<xsd:sequence minOccurs="0">
<xsd:element name="swSupervisoryBodyCategory" type="SW_SupervisoryBodyCategory" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT14: Regulator Type</xsd:documentation>
<xsd:documentation>Categorisation of the
supervisorybody.</xsd:documentation>
<xsd:documentation>Requirement: CRT14 Will always present for Dodd-Frank
Will never be present for ODRF</xsd:documentation>
<xsd:documentation/>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReportableLocations" type="SW_ReportableLocations" minOccurs="0" maxOccurs="2">
<xsd:annotation>
<xsd:documentation>Where regional (Canadian Subdivisional) obligations
may exist within the jurisdiction</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_SupervisoryBodyCategory">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swSupervisoryBodyCategoryScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category
"BroadBased", "NarrowBased", "Mixed"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ReportableLocations">
<xsd:sequence>
<xsd:element name="swPartyReference" type="SW_PartyReference">
<xsd:annotation>
<xsd:documentation>contains a href to the party[@id] of whom each named
../swSupervisoryBody requires a report. Current usage will be for trade
counterparties only.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReportableLocation" type="SW_ReportableLocation" minOccurs="0" maxOccurs="unbounded">
<xsd:annotation>
<xsd:documentation>CRT??: Reportable Locations. One instance of
swSupervisoryBody will be output for each body requiring a report from the
party referenced in ../swPartyReference.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ReportableLocation">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swReportableLocationScheme" type="SW_Scheme" use="optional" default="http://www.markitwire.com/spec/2014/coding-scheme/reportable-location">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2014/coding-scheme/reportable-location</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ReportTo">
<xsd:sequence>
<xsd:element name="swPartyReference" type="SW_PartyReference"/>
<xsd:element name="swRoute" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swMIFIDReportingPreference" type="SW_ReportingPurpose" minOccurs="0">
<xsd:annotation>
<xsd:documentation>MIFID reporting preference to decide APA or ARM
reporting destination, values can either be
"TransparencyReporting" or
"TransactionReporting"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDestination">
<xsd:simpleType>
<xsd:restriction base="SW_DestinationEnum"/>
</xsd:simpleType>
</xsd:element>
<xsd:element name="swIntermediary" type="SW_IntermediaryEnum" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SWB_ReportTo">
<xsd:sequence>
<xsd:element name="swbPartyReference" type="SW_PartyReference"/>
<xsd:element name="swbRoute" maxOccurs="unbounded">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="swbMIFIDReportingPreference" type="SW_ReportingPurpose" minOccurs="0">
<xsd:annotation>
<xsd:documentation>MIFID reporting preference to decide APA or ARM
reporting destination, values can either be
"TransparencyReporting" or
"TransactionReporting"</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swbDestination" type="SW_DestinationEnum"/>
<xsd:element name="swbIntermediary" type="SW_IntermediaryEnum" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_TradeId">
<xsd:annotation>
<xsd:documentation xml:lang="en">A trade reference identifier allocated by a party. FpML
does not define the domain values associated with this element. Note that the domain
values for this element are not strictly an enumerated list.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="tradeIdScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/external/unique-transaction-identifier">
<xsd:annotation>
<xsd:documentation>For a USI type trade identifier: Will always equal
"http://www.fpml.org/coding-scheme/external/unique-transaction-identifier"
(default value)</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_TradeIdentifier">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining a trade identifier issued by the
indicated party.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice>
<xsd:sequence>
<xsd:element name="swIssuer" type="SW_PartyId"/>
<xsd:element name="swTradeId" type="SW_TradeId"/>
</xsd:sequence>
<xsd:sequence>
<xsd:element name="swPartyReference" type="SW_PartyReference">
<xsd:annotation>
<xsd:documentation/>
<xsd:documentation xml:lang="en">A pointer style reference to a party
identifier and optionally an account identifier defined elsewhere in
the document. The party referenced has allocated the trade
identifier.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTradeId" type="SW_TradeId"/>
</xsd:sequence>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_TradeProcessingTimestamps">
<xsd:annotation>
<xsd:documentation xml:lang="en">Allows timing information about when a trade was
processed and reported to be recorded.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swCleared" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Clearing requirement. When this trade was
cleared</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swConfirmed" type="xsd:dateTime" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">CRT21: Confirmation date/time When this trade
was confirmed.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_UniqueTradeIdentifier">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining a trade identifier issued by the
indicated party.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swIssuer" type="SW_IssuerId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT10B: USI Namespace (also CRT10E, CRT10G,
CRT10H)</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTradeId" type="SW_TradeId">
<xsd:annotation>
<xsd:documentation>CRT10C: USI Value (also CRT10D, CRT10F,
CRT10I)</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_Unit">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type used to record information about a unit,
subdivision, desk, or other similar business entity.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="unitScheme" type="SW_Scheme" use="optional" default="http://www.markitwire.com/spec/2012/coding-scheme/price-quote-units">
<xsd:annotation>
<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/price-quote-units"
''Price" "BasisPoints" "Percentage" "Amount" "UpfrontPoints"
</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:group name="SW_PartyInformation.model">
<xsd:annotation>
<xsd:documentation xml:lang="en">Information about a party for reporting
purposes.</xsd:documentation>
</xsd:annotation>
<xsd:sequence/>
</xsd:group>
<xsd:group name="SW_TradePriceNotation.Model">
<xsd:annotation>
<xsd:documentation>CREDIT AND GT ONLY FOR SWDML </xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPriceNotation" type="SW_PriceNotation" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Structure to contain Price Notation
information.</xsd:documentation>
<xsd:documentation>Anticipated that this will not be populated initially as
details will be extracted from product specific Xpaths by the DTCC GTR. The
data capturesd here will NOT be sent to the GTR</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swAdditionalPriceNotation" type="SW_PriceNotation" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Contains Additional Price Notation information. There will be
1 occurrence for each "Additional Price Notation"
captured</xsd:documentation>
<xsd:documentation>The data captured here will NOT be sent to the
GTR</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:group>
<xsd:complexType name="SW_UniqueTradeIdentifierReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference to a Unique Transaction
Identifier.</xsd:documentation>
</xsd:annotation>
<xsd:complexContent>
<xsd:extension base="SW_Reference">
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_RelatedTradeId">
<xsd:complexContent>
<xsd:extension base="SW_UniqueTradeIdentifier">
<xsd:sequence>
<xsd:element name="swRelationshipType">
<xsd:annotation>
<xsd:documentation>Describes the relationship between the trade
identified in swTradeId and the trade on which the event is being
reported</xsd:documentation>
<xsd:documentation>Requirement: CRT10A Always present
</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swRelatedTradeRelationshipTypeScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/trade-relationship-type">
<xsd:annotation>
<xsd:documentation>default:"http://www.markitwire.com/spec/2012/coding-scheme/trade-relationship-type"
"PriorTradeUSI" "BlockUSI" "NETUSI"
"ClearedTradeUSI" </xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_CollateralPortfolioCode">
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swCollateralPortfolioCodeScheme" type="xsd:anyURI" default="http://www.markitwire.com/spec/2012/coding-scheme/collateral-portfolio-code-client"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:group name="SW_PartyTradeInformationSequenceGroup">
<xsd:sequence/>
</xsd:group>
<xsd:complexType name="SW_ReportingRoleType">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type refining the role played by a party in reporting
the event.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="reportingRoleTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/reporting-role-type"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_BulkProcessingEvent">
<xsd:annotation>
<xsd:documentation>A Block Event Processing ID can be uniquely identified by the
combination of values in "swEventProcessingID/text()" and
"swEventProcessingID/@swEventProcessingIDScheme"</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swEventProcessingIDScheme" type="SW_Scheme" default="to be defined"/>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_EventId">
<xsd:sequence>
<xsd:element name="swEventIdentifier" type="SW_EventIdentifier" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT11: GTR Report Event ID Event id for the event causing the
creation of the trade version being represented.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:choice minOccurs="0">
<xsd:element name="swBulkProcessingEventId" type="SW_BulkProcessingEvent">
<xsd:annotation>
<xsd:documentation>CRT12: GTR Blk Event Processing ID </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_EventIdentifier">
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="id" type="xsd:ID" use="optional">
<xsd:annotation>
<xsd:documentation>unique identifier by which this Event ID may be
referenced by the href attribute of instances of
swEventIdReference</xsd:documentation>
<xsd:documentation>Will not be present if parent is within Regime specific
information (Dodd-Frank). Else, will always be present
(ODRF)</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_EventIdReference">
<xsd:annotation>
<xsd:documentation>element will contain a reference to an instance of:
"swEventReportingIdentifier/@id" where the instance of swEventReportingIndentifier
contains an identifier for the event causing the creation of the trade version being
represented. </xsd:documentation>
</xsd:annotation>
<xsd:attribute name="href" type="xsd:IDREF" use="required">
<xsd:annotation>
<xsd:documentation>references a uniquely identified instance of swEventIdentifier by
its "id" attribute</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:complexType>
<xsd:element name="swEventIdentifier" type="SW_BusinessEventIdentifier">
<xsd:annotation>
<xsd:documentation>global element, not used but its inclusion triggers DTD generation to
create the necessary entities</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:complexType name="SW_BusinessEventIdentifier">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type defining an event identifier issued by the
indicated party.</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:choice minOccurs="0">
<xsd:element name="swIssuer" type="SW_IssuerId"/>
<xsd:element name="swPartyReference" type="SW_PartyReference">
<xsd:annotation>
<xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swEventId" type="SW_EventId"/>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID"/>
</xsd:complexType>
<xsd:complexType name="SW_ReportingSpecification">
<xsd:sequence>
<xsd:element name="swReportingPurpose" type="SW_ReportingPurpose" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT6(label): RT Reporting Preference CRT7(label): PET
Reporting Preference CRT8(label): CONFIRM Reporting Preference CRT9(label):
POST TRADE EVENT reporting Preference MIFID TransparencyReporting Preference
MIFID TransactionReporting Preference </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swReportingInstruction" minOccurs="0">
<xsd:annotation>
<xsd:documentation>CRT6: RT Reporting Preference CRT7: PET Reporting Preference
CRT8: CONFIRM Reporting Preference CRT9: POST TRADE EVENT reporting
Preference MIFID TransparencyReporting Preference MIFID TransactionReporting
Preference </xsd:documentation>
<xsd:documentation>Requirement: M1</xsd:documentation>
<xsd:documentation>Requirement: M2</xsd:documentation>
<xsd:documentation>Requirement: M3</xsd:documentation>
<xsd:documentation>Requirement: M4</xsd:documentation>
<xsd:documentation>Requirement: CRT6</xsd:documentation>
<xsd:documentation>Requirement: CRT7</xsd:documentation>
<xsd:documentation>Requirement: CRT8</xsd:documentation>
<xsd:documentation>Requirement: CRT9</xsd:documentation>
</xsd:annotation>
<xsd:complexType>
<xsd:simpleContent>
<xsd:extension base="xsd:string">
<xsd:attribute name="swReportingInstructionScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/reporting-specification">
<xsd:annotation>
<xsd:documentation>default:
"http://www.markitwire.com/spec/2012/coding-scheme/reporting-specification"
"Do Not Report" "Yes" ???Yes if DF??? ???Yes if
RCP???</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_CurrentNotional">
<xsd:sequence>
<xsd:element name="swStreamReference">
<xsd:complexType>
<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="swAmount" type="xsd:decimal"/>
<xsd:element name="swCurrency" type="xsd:normalizedString"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_PricingContext">
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swPricingContextScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/pricing-context">
<xsd:annotation>
<xsd:documentation>default:"http://www.fpml.org/coding-scheme/pricing-context"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ExecutionType">
<xsd:annotation>
<xsd:documentation xml:lang="en">A type used to represent the type of trade
execution.</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="executionTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/execution-type">
<xsd:annotation>
<xsd:documentation>"Voice", "Written" or "Electronic"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_CounterpartyOrigin">
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="counterpartyOriginScheme" type="xsd:anyURI" default="http://www.dtcc.com/coding-scheme/counterparty-origin">
<xsd:annotation>
<xsd:documentation>"HouseAccount" or "Customer"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_MIFIDTransactionIdentifier">
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swMIFIDTransactionIdentifierScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2017/coding-scheme/MIFIDTransactionIdentifier">
<xsd:annotation>
<xsd:documentation>default:
"http://www.markitwire.com/spec/2017/coding-scheme/MIFIDTransactionIdentifier"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ExecutionVenueIdentifier">
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="ExchangeIdScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/external/mifir/extension-iso10383">
<xsd:annotation>
<xsd:documentation>default:
"http://www.fpml.org/coding-scheme/external/mifir/extension-iso10383"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyLEI">
<xsd:annotation>
<xsd:documentation>counterparty LEI</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swPartyIdSchemeLEI" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/external/iso17442">
<xsd:annotation>
<xsd:documentation>default:
"http://www.fpml.org/coding-scheme/external/iso17442"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PartyPLI">
<xsd:annotation>
<xsd:documentation>counterparty Data masking requirement to send PLI
</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="swPartyIdSchemePLI" type="SW_Scheme" default="http://www.dtcc.com/participant-internal-identifier">
<xsd:annotation>
<xsd:documentation>default:
"http://www.dtcc.com/participant-internal-identifier"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_ComplexTradeId">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 Complex Trade Component Id</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="SW_Scheme">
<xsd:attribute name="linkIdScheme" type="SW_Scheme" default="http://www.dtcc.com/coding-scheme/external/report-details/emir-complex-trade-component-id">
<xsd:annotation>
<xsd:documentation>default:
"http://www.dtcc.com/coding-scheme/external/report-details/emir-complex-trade-component-id"</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_Identifiers">
<xsd:annotation>
<xsd:documentation>"Identifiers" tab on the UI, used for populating cpty PLI and LEI and
complex trade Id.</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swPartyReference" type="SW_PartyReference" minOccurs="0"/>
<xsd:sequence minOccurs="0">
<xsd:element name="swPartyIdentifiers" type="SW_PartyIdentifiers" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Party Identifiers on "Identifiers" tab on the UI
</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_PartyIdentifiers">
<xsd:annotation>
<xsd:documentation>Party Identifiers on "Identifiers" tab on the UI </xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:element name="swCounterpartyLEI" type="SW_PartyLEI" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Counterparty LEI</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCounterpartyPLI" type="SW_PartyPLI" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Counterparty Data Masking Privacy Law
Identifiers</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swDataMaskingFlag" type="SW_DataMaskingJurisdiction" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Counterparty Data Masking PLI Jurisdiction
Applicability</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ComplexTradeDetails">
<xsd:annotation>
<xsd:documentation>Complex trade details submitted by the Dealer</xsd:documentation>
</xsd:annotation>
<xsd:sequence minOccurs="0">
<xsd:sequence minOccurs="0">
<xsd:element name="swComplexTradeId" type="SW_ComplexTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex Component trade
ID</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swBrokerComplexTradeId" type="SW_ComplexTradeId" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex Component trade ID supplied in
broker initiated deal</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:element name="swComplexPriceNotation" type="SW_ComplexTradePriceNotation" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex trade pricing
information</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_ComplexTradePriceNotation">
<xsd:sequence>
<xsd:element name="swAmount" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex Price </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swUnit" type="SW_Unit" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex Price Notation, values accepted :
Price, Percentage, Basis Points </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCurrency" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>ESMA RTS 2.0 - Complex Price Currency</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="id" type="xsd:ID" use="optional"/>
</xsd:complexType>
<xsd:complexType name="SW_ApplicableJurisdictions">
<xsd:annotation>
<xsd:documentation> Jurisdictions Applicability flag</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swIsMASApplicable" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swIsASICApplicable" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swIsCFTCApplicable" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swIsCanadaApplicable" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swIsHKMAApplicable" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swIsJFSAApplicable" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swIsESMAApplicable" type="xsd:boolean" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_DataMaskingJurisdiction">
<xsd:sequence>
<xsd:element name="swMaskCFTC" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swMaskJFSA" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swMaskCanada" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swMaskHKMA" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swMaskASIC" type="xsd:boolean" minOccurs="0"/>
<xsd:element name="swMaskMAS" type="xsd:boolean" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="SW_IndustryClassification">
<xsd:annotation>
<xsd:documentation>Regulatory corporate sector classification</xsd:documentation>
</xsd:annotation>
<xsd:simpleContent>
<xsd:extension base="xsd:anyURI">
<xsd:attribute name="IndustryClassificationScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/regulatory-corporate-sector">
<xsd:annotation>
<xsd:documentation>http://www.fpml.org/coding-scheme/regulatory-corporate-sector</xsd:documentation>
</xsd:annotation>
</xsd:attribute>
</xsd:extension>
</xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="SW_PackageDetails">
<xsd:annotation>
<xsd:documentation>Structure to output the data related to Package Trades</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="swPackageId" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would provide the Identifier associated with the Package Transaction</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPackageSize" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would provide the number of trades included in the Package</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swRegReportAsPackage" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would indicate if the trade is part of a Package Transaction</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swPackagePriceDetails" type="SW_PackagePriceDetails" minOccurs="0">
<xsd:annotation>
<xsd:documentation>This would provide the Price associated with the Package</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
<xsd:attribute name="href" type="xsd:IDREF"/>
</xsd:complexType>
<xsd:complexType name="SW_PackagePriceDetails">
<xsd:sequence>
<xsd:element name="swType" type="SW_PackagePriceType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Output whether the Package Price is of type Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swValue" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Output associated Package Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swNotation" type="SW_PackageNotationType" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Output the Notation associated with the Package Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swCurrency" type="xsd:normalizedString" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Output the Currency associated with the Package Price/Spread</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
