extracted_libraries/xml/swxml-volatility-swaps-4-9.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.fpml.org/2010/FpML-4-9" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2010/FpML-4-9" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xsd:include schemaLocation="fpml-main-4-9.xsd"/>
<xsd:complexType name="SW_VolatilityAmount">
<xsd:complexContent>
<xsd:extension base="CalculatedAmount">
<xsd:sequence>
<xsd:element name="swVolatility" type="SW_Volatility">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies Volatility.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_VolatilityLeg">
<xsd:complexContent>
<xsd:extension base="DirectionalLegUnderlyerValuation">
<xsd:sequence>
<xsd:element name="swAmount" type="SW_VolatilityAmount">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates.
Unless otherwise specified, this term has the meaning defined in the ISDA 2011 and 2002 Equity Derivatives Definitions.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_VolatilitySwap">
<xsd:complexContent>
<xsd:extension base="NettedSwapBase">
<xsd:sequence>
<xsd:element name="swVolatilityLeg" type="SW_VolatilityLeg" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_VolatilitySwapTransactionSupplement">
<xsd:complexContent>
<xsd:extension base="Product">
<xsd:sequence>
<xsd:element name="swVolatilityLeg" type="SW_VolatilityLeg" maxOccurs="unbounded"/>
<xsd:group ref="EquityUnderlyerProvisions.model" minOccurs="0"/>
<xsd:element name="swExtraordinaryEvents" type="ExtraordinaryEvents" minOccurs="0"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SW_Volatility">
<xsd:sequence>
<xsd:choice minOccurs="1">
<xsd:annotation>
<xsd:documentation xml:lang="en">Specifies whether the Initial Index Level should be the OSP Price,  Index Closing Price or a specified Initial Index Level.</xsd:documentation>
</xsd:annotation>
<xsd:element name="swInitialLevel" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Contract will strike off this initial level.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swInitialLevelSource" type="DeterminationMethod" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">For 2011 Equity definitions, it valid values should be the OSP Price or Closing Price.                                                  For 2002 Equity definitions, valid values should be the Expiring Contract Level or closing Price. </xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:choice>
<xsd:element name="swExpectedN" type="xsd:positiveInteger" minOccurs="0">
<xsd:annotation>
<xsd:documentation xml:lang="en">Expected number of trading days.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swVolatilityCap" type="xsd:boolean" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Volatility Cap in accordance with the ISDA 2011
Equity Derivatives Definitions.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swTotalVolatilityCap" type="xsd:decimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Volatility Cap Amount in accordance with the ISDA
2011 Equity Derivatives Definitions. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swVolatilityCapFactor" type="PositiveDecimal" minOccurs="0">
<xsd:annotation>
<xsd:documentation>Volatility Cap Factor in accordance with the ISDA
2011 Equity Derivatives Definitions. </xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swVolatilityStrikePrice" type="NonNegativeDecimal">
<xsd:annotation>
<xsd:documentation>Volatility Strike Price in accordance with the ISDA
2011 Equity Derivatives Definitions.</xsd:documentation>
</xsd:annotation>
</xsd:element>
<xsd:element name="swVegaNotionalAmount" type="xsd:decimal">
<xsd:annotation>
<xsd:documentation xml:lang="en">Vega Notional represents the
approximate gain/loss at maturity for a 1% difference between
RVol(realised vol) and KVol (strike vol). It does not necessarily
represent the Vega Risk of the trade. In accordance with the ISDA
2002 and 2011 Equity Derivatives Definitions.</xsd:documentation>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:element name="swVolatilitySwap" type="SW_VolatilitySwap" substitutionGroup="product"/>
<xsd:element name="swVolatilitySwapTransactionSupplement" type="SW_VolatilitySwapTransactionSupplement" substitutionGroup="product"/>
</xsd:schema>
