linux_libraries/xml/PositionChange-cd-4-6.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fpml="http://www.fpml.org/2009/FpML-4-6" version="SW_20_1_460930" targetNamespace="http://www.fpml.org/2009/FpML-4-6" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="swdml-shared-4-6.xsd"/>
	<xsd:include schemaLocation="swdml-enum-4-6.xsd"/>
	<xsd:include schemaLocation="fpml-shared-4-6.xsd"/>
	<xsd:include schemaLocation="fpml-cd-4-6.xsd"/>
	<xsd:include schemaLocation="fpml-main-4-6.xsd"/>
	<xsd:include schemaLocation="fpml-doc-4-6.xsd"/>
	<xsd:element name="PositionChange">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Defines details of a position update on a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="tradeDate" type="xsd:date">
					<xsd:annotation>
						<xsd:documentation>The trade date of the position update</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="effectiveDate" type="xsd:date" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>The effective date of the position update</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="positionChangeType" type="xsd:normalizedString">
					<xsd:annotation>
						<xsd:documentation>Determines the type of position update.</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:choice>
					<xsd:element name="cdsIndex" type="fpml:cdsIndex">
						<xsd:annotation>
							<xsd:documentation>Defines details specific to CDS Index position updates</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cdsMatrix" type="fpml:cdsMatrix">
						<xsd:annotation>
							<xsd:documentation>Defines details specific to CDS Matrix position updates</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="cdsMaster" type="fpml:cdsMaster">
						<xsd:annotation>
							<xsd:documentation>Defines details specific to CDS Master position updates</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="cdsIndex">
		<xsd:annotation>
			<xsd:documentation>Defines details of a position update on a CDS Index</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="notionalChange">
				<xsd:annotation>
					<xsd:documentation>The change in notional e.g. Increase or Decrease in notional</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="newNotional">
				<xsd:annotation>
					<xsd:documentation>The new notional after an Increase or Decrease</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionChangeFee">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="payerPartyReference">
							<xsd:annotation>
								<xsd:documentation>The paying party</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="receiverPartyReference">
							<xsd:annotation>
								<xsd:documentation>The receiving party</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="paymentAmount" type="fpml:Money">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="paymentDate" type="fpml:AdjustableDate">
							<xsd:annotation>
								<xsd:documentation>The payment date of the payment</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		<xsd:complexType name="cdsMatrix">
		<xsd:annotation>
			<xsd:documentation>Defines details of a position update on a CDS Matrix</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="notionalChange">
				<xsd:annotation>
					<xsd:documentation>The change in notional e.g. Increase or Decrease in notional</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="newNotional">
				<xsd:annotation>
					<xsd:documentation>The new notional after an Increase or Decrease</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionChangeFee">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="payerPartyReference">
							<xsd:annotation>
								<xsd:documentation>The paying party</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="receiverPartyReference">
							<xsd:annotation>
								<xsd:documentation>The receiving party</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="paymentAmount" type="fpml:Money">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="paymentDate" type="fpml:AdjustableDate">
							<xsd:annotation>
								<xsd:documentation>The payment date of the payment</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		<xsd:complexType name="cdsMaster">
		<xsd:annotation>
			<xsd:documentation>Defines details of a position update on a CDS Master</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="notionalChange">
				<xsd:annotation>
					<xsd:documentation>The change in notional e.g. Increase or Decrease in notional</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="newNotional">
				<xsd:annotation>
					<xsd:documentation>The new notional after an Increase or Decrease</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="positionChangeFee">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="payerPartyReference">
							<xsd:annotation>
								<xsd:documentation>The paying party</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="receiverPartyReference">
							<xsd:annotation>
								<xsd:documentation>The receiving party</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="paymentAmount" type="fpml:Money">
							<xsd:annotation>
								<xsd:documentation xml:lang="en">The currency amount of the payment.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="paymentDate" type="fpml:AdjustableDate">
							<xsd:annotation>
								<xsd:documentation>The payment date of the payment</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
