linux_libraries/xml/sinkupdate.dtd

<!ELEMENT SinkUpdate (swPrivateData)>
<!ELEMENT swPrivateData (swPrivateBookingState?,
swPrivateDealSinkComment?,
swPrivateDealSinkConfirmation?,
swPrivateTradeId?,
swTradingBookId?,
swBrokerPartyId?,
swBrokerTradeId?,
swSalesCredit?,
swBrokerageAmount?,
swExecutionMode?,
swSendForClearing?,
swSendForSettlement?,
swBatchId?,
swAssociatedFuture*,
swNettingString?,
swPortfolioSwapId?,
swAdditionalField*,
swInterOpTradeId?,
swOtherPartyInterOpTradeId?,
swClearingBrokerId?,
swPrivateFundId?,
swClearingBatchId?,
swMarginRunPreference?,
swClearingHouseId?,
swDSMatchWorkflowFields?,
swClearIfEligible?,
swSendForConfirmation?,
swTraderId?,
swOriginatingEvent?,
swEventType?,
swPriceFormingEvent?,
swExecutionDateTime?,
swExecutionVenueType?,
swBrokerLocation?,
swArrangingBrokerLocation?,
swDeskLocation*,
swDeskId?,
swExecutingTrader?,
swTraderLocation*,
swExecutingTraderId?,
swSalesTrader?,
swSalesLocation*,
swSalesTraderId?,
swBranchLocation?,
swBranchIdPrefix?,
swBranchId?,
swBeneficiaryIdPrefix?,
swBeneficiaryIdValue?,
swInvestmentDecisionMaker?,
swInvestmentDecisionMakerLocation*,
swOffPlatformVerificationType?,
swOffPlatformConfirmationType?,
swOffPlatformConfirmedTimestamp?,
swNonStandardTerms?,
swCollateralized?,
swCollateralPortfolioCode?,
swCommercialActivity?,
swTradingCapacity?,
swPBClientReporting?,
swDFReporting*,
swFeeReporting*,
swFeeDFReporting*,
swNovationExecutionTradeId?,
swPBClientDFReporting?,
swMTMMessageId?,
swCreditNovationClearingStatus?,
swJFSAReporting?,
swPBClientJFSAReporting?,
swESMAReporting?,
swPriorESMAReporting?,
swPBClientESMAReporting?,
swHKMAReporting?,
swPriorHKMAReporting?,
swPBClientHKMAReporting?,
swASICReporting?,
swPriorASICReporting?,
swPBClientASICReporting?,
swMASReporting?,
swPriorMASReporting?,
swPBClientMASReporting?,
swCANReporting?,
swFeeCANReporting?,
swPriorCANReporting?,
swPBClientCANReporting?,
swSECReporting?,
swPriorSECReporting?,
swPBClientSECReporting?,
swMIFIDReporting?,
swPriorMIFIDReporting?,
swPBClientMIFIDReporting?,
swFCAReporting?,
swPriorFCAReporting?,
swPBClientFCAReporting?,
swClearedTradeReporting?,
swClearingTradeId?,
swFloatingCurrentNotional?,
swFixedCurrentNotional?,
swFloatingCurrentNotional2?,
swCompressionType?,
swExecutionMethod?,
swUnderlyingSwapClearingDetails?,
swOrderDetails?,
swIdentifiers?,
swComplexTradeDetails?,
swExecutionVenueIdentifier?,
swExecutionVenueLEI?,
swCounterpartyCorporateSector?,
swLinkedTradeDetails?,
swProductClassification?,
swProductFullName?,
swProductISIN?,
swFallbacksMechanism?,
swGlobalUTI?,
swGlobalPriorUTI?,
swGlobalBlockUTI?,
swPackageDetails?,
swPBClientDetails?,
swCustomBasket?,
swPostPriceSwap?,
swToTV?
)>
<!ELEMENT swPrivateBookingState (#PCDATA)>
<!ELEMENT swPrivateDealSinkComment (#PCDATA)>
<!ELEMENT swPrivateDealSinkConfirmation (#PCDATA)>
<!ELEMENT swPrivateTradeId (#PCDATA)>
<!ELEMENT swTradingBookId (#PCDATA)>
<!ELEMENT swBrokerPartyId (#PCDATA)>
<!ELEMENT swBrokerTradeId (#PCDATA)>
<!ELEMENT swSalesCredit (#PCDATA)>
<!ELEMENT swBrokerageAmount (currency , amount)>
<!ELEMENT swExecutionMode (#PCDATA)>
<!ELEMENT swSendForClearing (#PCDATA)>
<!ELEMENT swSendForSettlement (#PCDATA)>
<!ELEMENT swBatchId (#PCDATA)>
<!ELEMENT swAssociatedFuture (swFutureName,
swQuantity,
(swMaturity|swDescription),
swPrice)>
<!ELEMENT swFutureName (#PCDATA)>
<!ELEMENT swQuantity (#PCDATA)>
<!ELEMENT swMaturity (#PCDATA)>
<!ELEMENT swDescription (#PCDATA)>
<!ELEMENT swPrice (#PCDATA)>
<!ELEMENT swNettingString (#PCDATA)>
<!ELEMENT swPortfolioSwapId (#PCDATA)>
<!ELEMENT currency (#PCDATA)>
<!ELEMENT amount (#PCDATA)>
<!ELEMENT swAdditionalField (#PCDATA)>
<!ATTLIST swAdditionalField  sequence (1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59|60|61|62|63|64|65|66|67|68|69|70|71|72|73|74|75|76|77|78|79|80) #REQUIRED>
<!ELEMENT swInterOpTradeId (#PCDATA)>
<!ELEMENT swOtherPartyInterOpTradeId (#PCDATA)>
<!ELEMENT swClearingBrokerId (#PCDATA)>
<!ELEMENT swPrivateFundId (#PCDATA)>
<!ELEMENT swClearingBatchId (#PCDATA)>
<!ELEMENT swMarginRunPreference (#PCDATA)>
<!ELEMENT swClearingHouseId (#PCDATA)>
<!ELEMENT swDSMatchWorkflowFields (swDSMatchComment?,
swDSMatchSuperId?,
swDSMatchDeskId?,
swDSMatchDesignatedPartyId?,
swDSMatchBrokerName?)>
<!ELEMENT swDSMatchComment (#PCDATA)>
<!ELEMENT swDSMatchSuperId (#PCDATA)>
<!ELEMENT swDSMatchDeskId (#PCDATA)>
<!ELEMENT swDSMatchDesignatedPartyId (#PCDATA)>
<!ELEMENT swDSMatchBrokerName (#PCDATA)>
<!ELEMENT swClearIfEligible (#PCDATA)>
<!ELEMENT swSendForConfirmation (#PCDATA)>
<!ELEMENT swTraderId (#PCDATA)>
<!ELEMENT swOriginatingEvent (#PCDATA)>
<!ELEMENT swEventType (#PCDATA)>
<!ELEMENT swPriceFormingEvent (#PCDATA)>
<!ELEMENT swExecutionDateTime (#PCDATA)>
<!ELEMENT swExecutionVenueType (#PCDATA)>
<!ELEMENT swBrokerLocation (#PCDATA)>
<!ELEMENT swDeskLocation (#PCDATA)>
<!ELEMENT swDeskId (#PCDATA)>
<!ELEMENT swTraderLocation (#PCDATA)>
<!ELEMENT swSalesLocation (#PCDATA)>
<!ELEMENT swBranchLocation (#PCDATA)>
<!ELEMENT swExecutingTrader (#PCDATA)>
<!ELEMENT swExecutingTraderId (#PCDATA)>
<!ELEMENT swSalesTrader (#PCDATA)>
<!ELEMENT swSalesTraderId (#PCDATA)>
<!ELEMENT swBranchId (#PCDATA)>
<!ELEMENT swBranchIdPrefix (#PCDATA)>
<!ELEMENT swBeneficiaryIdPrefix (#PCDATA)>
<!ELEMENT swBeneficiaryIdValue (#PCDATA)>
<!ELEMENT swOffPlatformVerificationType (#PCDATA)>
<!ELEMENT swOffPlatformConfirmationType (#PCDATA)>
<!ELEMENT swOffPlatformConfirmedTimestamp (#PCDATA)>
<!ELEMENT swNonStandardTerms (#PCDATA)>
<!ELEMENT swExecutionType (#PCDATA)>
<!ELEMENT swCounterpartyOrigin (#PCDATA)>
<!ELEMENT swAuthorisedInstitutionIdPrefix (#PCDATA)>
<!ELEMENT swAuthorisedInstitutionId (#PCDATA)>
<!ELEMENT swCollateralized (#PCDATA)>
<!ELEMENT swCollateralPortfolioCode (#PCDATA)>
<!ELEMENT swCommercialActivity (#PCDATA)>
<!ELEMENT swTradingCapacity (#PCDATA)>
<!ELEMENT swPBClientReporting (swGlobalUTI?)>
<!ELEMENT swDFReporting (swEventIdentifier?,
swEndUserException?,
swEndUserExceptionReason?,
swReportRT*,
swReportPET*,
swReportCONF*,
swReportLIFECYCLE*,
swUSI?,
swUSINamespace?,
swPriorUSI*,
swPriorUSINamespace*,
swBlockUSI*,
swBlockUSINamespace*,
swGTRBulkEventProcessingID*,
swReportingTRs?,
swRegulatoryReportable?,
swLargeSizeTrade?)>
<!ELEMENT swFeeReporting (swGlobalUTI?)>
<!ELEMENT swFeeDFReporting (swReportRT*,
swUSI?,
swUSINamespace?,
swPriorUSI*,
swPriorUSINamespace*,
swBlockUSI*,
swBlockUSINamespace*,
swGTRBulkEventProcessingID*,
swReportingTRs?,
swExecutionDateTime?,
swBrokerLocation?,
swDeskLocation*,
swDeskId?,
swExecutingTrader?,
swTraderLocation*,
swExecutingTraderId?,
swSalesTrader?,
swSalesLocation*,
swSalesTraderId?,
swRegulatoryReportable?,
swLargeSizeTrade?,
swIdentifiers?,
swComplexTradeDetails?)>
<!ELEMENT swPBClientDFReporting (swEndUserException?,
swEndUserExceptionReason?,
swReportPET*,
swReportCONF*,
swUSI?,
swUSINamespace?,
swPriorUSI*,
swPriorUSINamespace*,
swBlockUSI*,
swBlockUSINamespace*,
swGTRBulkEventProcessingID*,
swReportingTRs?,
swExecutionDateTime?,
swExecutionVenueType?,
swBrokerLocation?,
swDeskLocation*,
swDeskId?,
swBranchLocation?,
swExecutingTrader?,
swTraderLocation*,
swExecutingTraderId?,
swSalesTrader?,
swSalesLocation*,
swSalesTraderId?,
swOffPlatformVerificationType?,
swOffPlatformConfirmationType?,
swOffPlatformConfirmedTimestamp?,
swNonStandardTerms?,
swCollateralized?,
swRegulatoryReportable?,
swLargeSizeTrade?,
swIdentifiers?,
swComplexTradeDetails?)>
<!ELEMENT swJFSAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swPBClientJFSAReporting (swEndUserException?,
swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swESMAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swUTI?,
swUTINamespace?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swReportClearingObligationX?,
swReportForCounterparty?)>
<!ELEMENT swPriorESMAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swReportCONF?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swPBClientESMAReporting (swEndUserException?,
swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swHKMAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swExecutionType?,
swCounterpartyOrigin?,
swAuthorisedInstitutionIdPrefix?,
swAuthorisedInstitutionId?)>
<!ELEMENT swPriorHKMAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swReportCONF?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swExecutionType?,
swCounterpartyOrigin?,
swAuthorisedInstitutionIdPrefix?,
swAuthorisedInstitutionId?)>
<!ELEMENT swPBClientHKMAReporting (swEndUserException?,
swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swExecutionType?,
swCounterpartyOrigin?,
swAuthorisedInstitutionIdPrefix?,
swAuthorisedInstitutionId?)>
<!ELEMENT swCANReporting (swRegulatoryReportable?,
swReportPPD?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swPriceFormingEvent?)>
<!ELEMENT swFeeCANReporting (swReportPPD?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swPriceFormingEvent?)>
<!ELEMENT swPriorCANReporting (swEventIdentifier?,
swRegulatoryReportable?,
swReportPPD?,
swReportPTC?,
swReportCONF?,
swBlockUTI?,
swBlockUTINamespace?,
swPriceFormingEvent?)>
<!ELEMENT swPBClientCANReporting (swRegulatoryReportable?,
swReportPPD?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swPriceFormingEvent?)>
<!ELEMENT swSECReporting (swRegulatoryReportable?,
swReportRT?,
swReportPET?,
swReportCONF?,
swReportLIFECYCLE?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swPriceFormingEvent?,
swLargeSizeTrade?,
swIntentToClear?,
swNonStandardTerms?,
swPricingContext?
)>
<!ELEMENT swPriorSECReporting (swRegulatoryReportable?,
swReportRT?,
swReportPET?,
swReportCONF?,
swReportLIFECYCLE?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swPriceFormingEvent?,
swLargeSizeTrade?,
swIntentToClear?,
swNonStandardTerms?,
swPricingContext?)>
<!ELEMENT swPBClientSECReporting (swRegulatoryReportable?,
swReportRT?,
swReportPET?,
swReportCONF?,
swReportLIFECYCLE?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swPriceFormingEvent?,
swLargeSizeTrade?,
swIntentToClear?,
swNonStandardTerms?,
swPricingContext?)>
<!ELEMENT swMIFIDReporting (swTransactionReportable?,
swTransparencyReportable?,
swReportTransaction?,
swReportTransparency?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swMIFIDTRs?,
swMIFIDTransactionIdentifier?,
swShortSale?,
swOTCPostTradeIndicator*,
swWaiver*,
swProductISIN?)>
<!ELEMENT swPriorMIFIDReporting (swTransactionReportable?,
swTransparencyReportable?,
swReportTransaction?,
swReportTransparency?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swMIFIDTRs?,
swMIFIDTransactionIdentifier?,
swShortSale?,
swOTCPostTradeIndicator*,
swWaiver*,
swProductISIN?)>
<!ELEMENT swPBClientMIFIDReporting  (swTransactionReportable?,
swTransparencyReportable?,
swReportTransaction?,
swReportTransparency?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swMIFIDTRs?,
swMIFIDTransactionIdentifier?,
swShortSale?,
swOTCPostTradeIndicator*,
swWaiver*,
swProductISIN?)>
<!ELEMENT swASICReporting (swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swPriorASICReporting (swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swPBClientASICReporting (swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swMASReporting (swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swAuthorisedInstitutionIdPrefix?,
swAuthorisedInstitutionId?)>
<!ELEMENT swPriorMASReporting (swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swAuthorisedInstitutionIdPrefix?,
swAuthorisedInstitutionId?)>
<!ELEMENT swPBClientMASReporting (swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swAuthorisedInstitutionIdPrefix?,
swAuthorisedInstitutionId?)>
<!ELEMENT swFCAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swUTI?,
swUTINamespace?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?,
swReportClearingObligationX?,
swReportForCounterparty?)>
<!ELEMENT swPriorFCAReporting (swObligatoryReporting?,
swEndUserException?,
swReportPTC?,
swReportCONF?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swPBClientFCAReporting (swEndUserException?,
swObligatoryReporting?,
swReportPTC?,
swReportCONF?,
swPriorUTI?,
swPriorUTINamespace?,
swBlockUTI?,
swBlockUTINamespace?,
swReportingTRs?)>
<!ELEMENT swMTMMessageId (#PCDATA)>
<!ELEMENT swEventIdentifier (#PCDATA)>
<!ELEMENT swEndUserException (#PCDATA)>
<!ELEMENT swEndUserExceptionReason (#PCDATA)>
<!ELEMENT swReportRT (#PCDATA)>
<!ELEMENT swReportPET (#PCDATA)>
<!ELEMENT swReportCONF (#PCDATA)>
<!ELEMENT swReportLIFECYCLE (#PCDATA)>
<!ELEMENT swRoute1Destination (#PCDATA)>
<!ELEMENT swRoute1Intermediary (#PCDATA)>
<!ELEMENT swReportingTRs (swRoute1Destination,
swRoute1Intermediary?)>
<!ELEMENT swMIFIDTRs (swDestinationAPA?,
swDestinationARM?)>
<!ELEMENT swPriorUSI (#PCDATA)>
<!ELEMENT swPriorUSINamespace (#PCDATA)>
<!ELEMENT swBlockUSI (#PCDATA)>
<!ELEMENT swBlockUSINamespace (#PCDATA)>
<!ELEMENT swGTRBulkEventProcessingID (#PCDATA)>
<!ELEMENT swNovationExecutionTradeId (#PCDATA)>
<!ELEMENT swUTI (#PCDATA)>
<!ELEMENT swUTINamespace (#PCDATA)>
<!ELEMENT swGlobalUTI (#PCDATA)>
<!ELEMENT swUSI (#PCDATA)>
<!ELEMENT swUSINamespace (#PCDATA)>
<!ELEMENT swPriorUTI (#PCDATA)>
<!ELEMENT swPriorUTINamespace (#PCDATA)>
<!ELEMENT swBlockUTI (#PCDATA)>
<!ELEMENT swBlockUTINamespace (#PCDATA)>
<!ELEMENT swRegulatoryReportable (#PCDATA)>
<!ELEMENT swCreditNovationClearingStatus (swCCPClearingStatus?,
swCCPClearingFailureReason?,
swEECCPTradeId?,
swRPCCPTradeId?,
swEEClearedTradeUSI?,
swEEClearedTradeUSINamespace?,
swRPClearedTradeUSI?,
swRPClearedTradeUSINamespace?,
swCCPClearingTimestamp?)>
<!ELEMENT swCCPClearingStatus (#PCDATA)>
<!ELEMENT swCCPClearingFailureReason (#PCDATA)>
<!ELEMENT swEECCPTradeId (#PCDATA)>
<!ELEMENT swRPCCPTradeId (#PCDATA)>
<!ELEMENT swEEClearedTradeUSI (#PCDATA)>
<!ELEMENT swEEClearedTradeUSINamespace (#PCDATA)>
<!ELEMENT swRPClearedTradeUSI (#PCDATA)>
<!ELEMENT swRPClearedTradeUSINamespace (#PCDATA)>
<!ELEMENT swCCPClearingTimestamp (#PCDATA)>
<!ELEMENT swReportPTC (#PCDATA)>
<!ELEMENT swObligatoryReporting (#PCDATA)>
<!ELEMENT swLargeSizeTrade (#PCDATA)>
<!ELEMENT swClearedTradeReporting (swClearedUSINamespace?,
swClearedUSI?,
swClearedUTINamespace?,
swClearedUTI?,
swCBNonMemberUTINamespace?,
swCBNonMemberUTI?,
swClearedGlobalUTI?,
swClearedTimeStamp?,
swIsCleared?,
swReportingPreferences*)>
<!ELEMENT swClearedUSINamespace (#PCDATA)>
<!ELEMENT swClearedUSI (#PCDATA)>
<!ELEMENT swClearedUTINamespace (#PCDATA)>
<!ELEMENT swClearedUTI (#PCDATA)>
<!ELEMENT swCBNonMemberUTINamespace (#PCDATA)>
<!ELEMENT swCBNonMemberUTI (#PCDATA)>
<!ELEMENT swClearedTimeStamp (#PCDATA)>
<!ELEMENT swIsCleared (#PCDATA)>
<!ELEMENT swReportingPreferences (swJurisdiction,
swObligatoryReporting?,
swReportCCPLeg?)>
<!ELEMENT swJurisdiction (#PCDATA)>
<!ELEMENT swReportCCPLeg (#PCDATA)>
<!ELEMENT swClearingTradeId (#PCDATA)>
<!ELEMENT swFloatingCurrentNotional (swAmount?,
swCurrency?)>
<!ELEMENT swFixedCurrentNotional (swAmount?,
swCurrency?)>
<!ELEMENT swFloatingCurrentNotional2 (swAmount?,
swCurrency?)>
<!ELEMENT swAmount (#PCDATA)>
<!ELEMENT swCurrency (#PCDATA)>
<!ELEMENT swCompressionType (#PCDATA)>
<!ELEMENT swExecutionMethod (#PCDATA)>
<!ELEMENT swReportClearingObligationX (#PCDATA)>
<!ELEMENT swReportPPD (#PCDATA)>
<!ELEMENT swUnderlyingSwapClearingDetails (swClearingBrokerId?,
swPrivateFundId?)>
<!ELEMENT swIntentToClear (#PCDATA)>
<!ELEMENT swPricingContext (#PCDATA)>
<!ELEMENT swArrangingBrokerLocation (#PCDATA)>
<!ELEMENT swTransactionReportable (#PCDATA)>
<!ELEMENT swTransparencyReportable (#PCDATA)>
<!ELEMENT swReportTransaction (#PCDATA)>
<!ELEMENT swReportTransparency (#PCDATA)>
<!ELEMENT swMIFIDTransactionIdentifier (#PCDATA)>
<!ELEMENT swShortSale (#PCDATA)>
<!ELEMENT swOTCPostTradeIndicator (#PCDATA)>
<!ELEMENT swWaiver (#PCDATA)>
<!ELEMENT swInvestmentDecisionMaker (#PCDATA)>
<!ELEMENT swInvestmentDecisionMakerLocation (#PCDATA)>
<!ELEMENT swExecutionVenueIdentifier (#PCDATA)>
<!ELEMENT swOrderDetails (swTransmittingOrder?,
swBuyer?,
swSeller?)>
<!ELEMENT swTransmittingOrder (#PCDATA)>
<!ELEMENT swBuyer (#PCDATA)>
<!ELEMENT swSeller (#PCDATA)>
<!ELEMENT swProductISIN (#PCDATA)>
<!ELEMENT swDestinationAPA (#PCDATA)>
<!ELEMENT swDestinationARM (#PCDATA)>
<!ELEMENT swIdentifiers (swPartyIdentifiers?,
swTradeIdentifiers?)>
<!ELEMENT swPartyIdentifiers (swCounterpartyLEI?, swCounterpartyPLI?, swDataMaskingFlag?)>
<!ELEMENT swCounterpartyLEI (#PCDATA)>
<!ELEMENT swCounterpartyPLI (#PCDATA)>
<!ELEMENT swDataMaskingFlag (swMaskCFTC?, swMaskJFSA?, swMaskCanada?, swMaskHKMA?, swMaskASIC?, swMaskMAS?)>
<!ELEMENT swMaskCFTC (#PCDATA)>
<!ELEMENT swMaskJFSA (#PCDATA)>
<!ELEMENT swMaskCanada (#PCDATA)>
<!ELEMENT swMaskHKMA (#PCDATA)>
<!ELEMENT swMaskASIC (#PCDATA)>
<!ELEMENT swMaskMAS (#PCDATA)>
<!ELEMENT swComplexTradeDetails (swComplexTradeId?, swComplexPriceNotation?)>
<!ELEMENT swComplexPriceNotation (swAmount?, swUnit?, swCurrency?)>
<!ELEMENT swUnit (#PCDATA)>
<!ELEMENT swComplexTradeId (#PCDATA)>
<!ELEMENT swExecutionVenueLEI (#PCDATA)>
<!ELEMENT swCounterpartyCorporateSector (#PCDATA)>
<!ELEMENT swReportForCounterparty (#PCDATA)>
<!ELEMENT swLinkedTradeDetails (swLinkedTradeId+)>
<!ATTLIST swLinkedTradeDetails
action (Modify|Replace) #IMPLIED
>
<!ELEMENT swLinkedTradeId (swIdType, swTradeId)>
<!ATTLIST swLinkedTradeId
action (Add|Delete) #IMPLIED
>
<!ELEMENT swIdType (#PCDATA)>
<!ELEMENT swTradeId (#PCDATA)>
<!ELEMENT swProductClassification (#PCDATA)>
<!ELEMENT swProductFullName (#PCDATA)>
<!ELEMENT swFallbacksMechanism (#PCDATA)>
<!ELEMENT swGlobalPriorUTI (#PCDATA)>
<!ELEMENT swGlobalBlockUTI (#PCDATA)>
<!ELEMENT swClearedGlobalUTI (#PCDATA)>
<!ELEMENT swPackageDetails (swPackageId?, swPackageSize?, swRegReportAsPackage?, swPackagePriceDetails?)>
<!ELEMENT swRegReportAsPackage (#PCDATA)>
<!ELEMENT swPackageId (#PCDATA)>
<!ELEMENT swPackageSize (#PCDATA)>
<!ELEMENT swPackagePriceDetails (swType?, swValue?, swNotation?, swCurrency?)>
<!ELEMENT swValue (#PCDATA)>
<!ELEMENT swNotation (#PCDATA)>
<!ELEMENT swType (#PCDATA)>
<!ELEMENT swPBClientDetails (swPackageDetails?)>
<!ELEMENT swCustomBasket (#PCDATA)>
<!ELEMENT swPostPriceSwap (#PCDATA)>
<!ELEMENT swToTV (#PCDATA)>
