linux_libraries/xml/swbml-enum-5-3.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.markitserv.com/swml" xmlns:fpml="http://www.fpml.org/FpML-5/confirmation" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" targetNamespace="http://www.markitserv.com/swml" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:simpleType name="SWB_BreakCalculationMethodEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The specification of Cap/Floor.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="ISDA Standard Method">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The method agreed by ISDA IRD working group in 2006. Calculated as calendar dates from trade date as implied by the frequency tenor</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Adjust To Coupon Dates">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The method agreed by Swapswire participants at the inception of the service. Calculated as trade date plus spot days and then shifting to the first payment date for fixed and floating legs prior or on the date indicated by the frequency tenor</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Straight Calendar Dates">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The method agreed by Swapswire participants at the inception of the service. Calculated as calendar dates from trade date plus spot days as implied by the frequency tenor</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_MasterAgreementTypeEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The type of master agreement which will govern the transaction. For example, ISDA. If not specified, the SwapsWire default value will apply.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="AFB/FBF">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The Transaction will be documented according to the AFB Master Agreement Technical Schedules for Foreign Exchange and Derivatives Transactions as published by the Association Francaise des Banques.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DERV">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The Transaction will be documented under the Deutscher Rahmenvertrag fur Finanztermingeschafte (also known as the German master).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ISDA">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The Transaction will be documented under an ISDA master.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_OptionStyleEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Option exercise style</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="European">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">European style option</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="American">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">American style option</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Bermuda">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Bermudan style option</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Asian">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Asian style option</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_SettlementTypeEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Shows how the transaction is to be settled when it is exercised.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Cash">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The intrinsic value of the option will be delivered by way of a cash settlement amount determined, (i) by reference to the differential between the strike price and the settlement price; or (ii) in accordance with a bilateral agreement between the parties</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Physical">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The securities underlying the transaction will be delivered by (i) in the case of a call, the seller to the buyer, or (ii) in the case of a put, the buyer to the seller versus a settlement amount equivalent to the strike price per share</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Election">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Allow Election of either Cash or Physical settlement</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="CashOrPhysical">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Allow use of either Cash or Physical settlement without prior Election</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			
			
			
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_CompressionTypeEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The values used to specify per side Compression Type information.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Standard">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Standard Compression Type.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="No Netting">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">No Netting Compression Type.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_ExecutionMethodEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The values used to specify per side Excecution Method information.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="Voice">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Voice Execution Method.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Electronic">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Electronic Execution Method.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_ReplacementReasonEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The values used to specify trade id replacement reasons.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="IndexTransitionReplacedTrade">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">IBOR transition Replaced Trade ref</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="IndexTransitionReplacedByTrade">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">IBOR transition Replaced by Trade ref</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SWB_TradeIdTypeEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The values used to specify replacement trade id  type </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:token">
			<xsd:enumeration value="MarkitWireId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">MarkitWire ID"</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OtherId">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Other ID</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
