linux_libraries/xml/swbml-reporting-1-0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="SW_20_1_460930" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:include schemaLocation="swxml-reporting-shared-1-0.xsd"/>
	<xsd:element name="swbAllocationReportingDetails" type="SWB_AllocationReportingDetails">
		<xsd:annotation>
			<xsd:documentation>global element, not used but its inclusion triggers DTD generation to
				create the necessary entities</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SWB_AllocationReportingDetails">
		<xsd:sequence>
			<xsd:element name="swbUniqueTransactionId" type="SWB_Global_UTI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Global UTI</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbReportingRegimeInformation" type="SWB_ReportingRegimeInformationMultiLateral" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A type defining additional information that may
						be recorded against a trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbPartyTradeInformation" type="SWB_PartyTradeInformation" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A type defining additional information that may
						be recorded against a trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbNexusAllocationDetails" type="SWB_NexusReportingDetails" minOccurs="0" maxOccurs="2"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_AllocationReportingRegimeInformationMultiLateral">
		<xsd:annotation>
			<xsd:documentation>Identifies a Reporting Regine in terms of Jurisdiction, supervisor
				body category and holds information on jurisdiction specific roles and
				data</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbJurisdiction" type="SWB_Jurisdiction"/>
			<xsd:element name="swbUniqueTransactionId" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
			<xsd:element name="swbObligatoryReporting" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The value of this indicates whether or not this trade is
						obligated to be reported under the regime specified in the corresponding
						swbJurisiction element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbReportingCounterpartyReference" type="SW_PartyReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>An occurrence for each party identified as a reporting party
						within the relevant reporting regime. May be 0, 1 or 2
						occurrences</xsd:documentation>
					<xsd:documentation>Requirement: CRT2</xsd:documentation>
					<xsd:documentation>Dodd-Frank: Always 1 occurence</xsd:documentation>
					<xsd:documentation>ODRF: Always 2 occurences ("partyA" and
						"partyB")</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_AllocationPartyTradeInformation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining additional information that may be
				recorded against a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbCollateralizationType" type="SW_CollateralizationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT18: Collaterlized "Full" "Partial" "One-Way"
						"Uncollateralized"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_BulkProcessingEvent">
		<xsd:annotation>
			<xsd:documentation>A Block Event Processing ID can be uniquely identified by the
				combination of values in "swEventProcessingID/text()" and
				"swEventProcessingID/@swEventProcessingIDScheme"</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="swEventProcessingIDScheme" type="SWB_Scheme"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_EventId">
		<xsd:annotation>
			<xsd:documentation>A type defining event identifier causing creation of a trade
				version.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbEventIdentifier" type="SWB_EventIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT11: GTR Report Event ID. Event id for the event causing
						the creation of the trade version being represented.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbBulkProcessingEventId" type="SWB_BulkProcessingEvent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT12: GTR Blk Event Processing ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:complexType name="SWB_EventIdentifier">
		<xsd:annotation>
			<xsd:documentation>A type defining a unique identifier for Event Id, Event Id is used to
				identify a event causing creation of a trade version</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="id" type="xsd:ID" use="optional">
					<xsd:annotation>
						<xsd:documentation>unique identifier by which this Event ID may be
							referenced by the href attribute of instances of
							swEventIdReference</xsd:documentation>
						<xsd:documentation>Will not be present if parent is within Regime specific
							information (Dodd-Frank). Else, will always be present
							(ODRF)</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_Jurisdiction">
		<xsd:annotation>
			<xsd:documentation>A type defining trade jursidiction. e.g Dodd
				Frank</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="swJurisdictionNameScheme" type="SWB_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/jurisdicton-name"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_PartyTradeInformation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining additional information that may be
				recorded against a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbRelatedParty" type="SWB_RelatedParty" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Identification of applicable party components for the related
						parties for this party in the trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbTimestamps" type="SWB_TradeProcessingTimestamps" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Allows timing information about a trade to be
						recorded.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbExecutionDateTime" type="SW_ExecutionDateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT20: Execution Date/ Timestamp
						xsd:dateTime</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			
			
			
			<xsd:element name="swbNonStandardTerms" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>GRT5, CRT30: Non standard flag (Boolean)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbCollateralizationType" type="SW_CollateralizationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT18: Collaterlized "Full" "Partial" "One-Way"
						"Uncollateralized"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbExecutionVenueType" type="SW_ExecutionVenueType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT22: Execution Venue "SEF" "DCM" "QMTF"
						"Off-Facility"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="swbVerificationMethod" type="SW_ConfirmationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT4: Off Platform Verified (Omission of this element will
						correspond to the [blank] GUI value.) "Electronic"
						"NonElectronic"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="swbConfirmationMethod" type="SW_ConfirmationMethod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT5: Off Platform Confirmed (Omission of this element will
						correspond to the [blank] GUI value.) "Electronic"
						"NonElectronic"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbIdentifiers" type="SWB_Identifiers" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>"Identifiers" tab on the UI, used for populating cpty PLI and
						LEI and complex trade Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbComplexTradeDetails" type="SWB_ComplexTradeDetails" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ESMA RTS 2.0 - Complex trade pricing
						information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbExecutionVenueIdentifier" type="SW_ExecutionVenueIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Unique identifier that specifies which set of exchange
						identifiers has been used to specify a securities or derivatives exchange.
						i.e. Requirment to report MIC for MIFID and ESMA RTS 2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbRelatedTradeId" type="SWB_RelatedTradeId" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Related Unilateral USIs Block USI (CRT10E, CRT10D)
								Prior USI (CRT10G, CRT10F) </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbToTV" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MIFID requirement to populate an indicator whether the
						contract has been traded on a Trading Venue or not.
				  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_PartyRole">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing a role played by a party in one or
				more transactions. Examples include roles such as guarantor, custodian, confirmation
				service provider, etc. This can be extended to provide custom
				roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="partyRoleScheme" type="SW_Scheme" default="http://www.fpml.org/coding-scheme/party-role">
					<xsd:annotation>
						<xsd:documentation xml:lang="en">default="http://www.fpml.org/coding-scheme/party-role"</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_RelatedParty">
		<xsd:sequence>
			<xsd:element name="swbPartyReference" type="SWB_PartyReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbRole" type="SWB_PartyRole">
				<xsd:annotation>
					<xsd:documentation>"ExecutingBroker" or "Beneficiary"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_PartyReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to a party.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SW_Reference">
				<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_RelatedBusinessUnit">
		<xsd:sequence>
			
			
			<xsd:element name="swbBusinessUnitReference" type="SWB_BusinessUnitReference">
				<xsd:annotation>
					<xsd:documentation>Trading Desk instance:The unique "id" attribute value
						identifying the tradingDesk business unit will be provided here Sales
						instance:The unique "id" attribute value identifying the Sales business unit
						will be provided here</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbRole" type="SWB_BusinessUnitRole">
				<xsd:annotation>
					<xsd:documentation>identifies business unit role as Trading or Sales "Trader"
						"Sales"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_BusinessUnitReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to an organizational
				unit.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SW_Reference">
				<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_BusinessUnitRole">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing a role played by a unit in one or
				more transactions. Examples include roles such as Trader, Collateral, Confirmation,
				Settlement, etc. This can be extended to provide custom roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="unitRoleScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/unit-role">
					<xsd:annotation>
						<xsd:documentation>default:"http://www.fpml.org/coding-scheme/unit-role"</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_PersonReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference to an individual.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SW_Reference">
				<xsd:attribute name="href" type="xsd:IDREF" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_RelatedPerson">
		<xsd:sequence>
			<xsd:element name="swbPersonReference" type="SWB_PersonReference">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The individual person that is related to
						this.</xsd:documentation>
					<xsd:documentation>Trader instance personReference/@href The unique "id"
						attribute value identifying the trader will be provided here References
						Requirement: TraderId for relevant party References Requirement:
						TraderLocation for relevant party </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbRole" type="SWB_PersonRole">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Identifies role of person.
						"Trader"</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_PersonRole">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type describing a role played by a person in one or
				more transactions. Examples include roles such as Trader, Broker, MiddleOffice,
				Legal, etc. This can be extended to provide custom roles.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="personRoleScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/person-role">
					<xsd:annotation>
						<xsd:documentation>default:"http://www.fpml.org/coding-scheme/person-role"</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_PartyExtension">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type extending the SWML//FpML/party block for the
				relevant party</xsd:documentation>
			<xsd:documentation xml:lang="en">Parties can perform multiple roles in a trade
				lifecycle. For example, the principal parties obligated to make payments from time
				to time during the term of the trade, but may include other parties involved in, or
				incidental to, the trade, such as parties acting in the role of novation
				transferor/transferee, broker, calculation agent, etc. In FpML roles are defined in
				multiple places within a document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbBusinessUnit" type="SWB_BusinessUnit" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Instance for each of Trading Desk and Sales
						unit (locations) involved in the event, for the party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbReferencedPerson" type="SWB_PersonIdReference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Instance for Trader
						(location)</xsd:documentation>
					<xsd:documentation>Will only be populated if Trader (or other employee) location
						is required</xsd:documentation>
					<xsd:documentation>Dodd-Frank: One instance will be present, for
						Trader</xsd:documentation>
					<xsd:documentation>Requirement: Trader Id </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="href" type="xsd:IDREF" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">A reference to the id uniquely identifying the
					Party within the main SWML document.</xsd:documentation>
				<xsd:documentation>Trade Party Instance: @href" will contain the value of the
					"SWML/swStructuredTradeDetails/FpML/party/@id" attribute identifying the
					relevant party information in FpML</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SWB_BusinessUnit">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type that represents information about a unit within
				an organization.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbBusinessUnitId" type="SWB_BusinessUnitId" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">An identifier used to uniquely identify
						organization unit</xsd:documentation>
					<xsd:documentation>Requirement: Desk Id</xsd:documentation>
					<xsd:documentation>Requirement: Sales Id</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A name used to describe the organization
						unit</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbCountry" type="SWB_CountryCode" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">CRT25: Desk Location (Trading Desk Instance)
						CRT27: Sales Location (Sales Instance)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID">
			<xsd:annotation>
				<xsd:documentation>"tradingDeskA" "salesA"</xsd:documentation>
				<xsd:documentation>Trading Desk instance: the @id value will be tradingDeskA for the
					desk of partyA, tradingDeskB for the desk of partyB etc. This value will be
					referenced by:
					swTradeEventReportingDetails/swPartyTradeInformation/swRelatedBusinessUnit[swRole='Trading
					Desk']/swBusinessUnitReference/@href" of the relevant party</xsd:documentation>
				<xsd:documentation>Sales instance: the @id value will be salesA for the sales unit
					of partyA, salesB for the sales unit of partyB etc. This value will be
					referenced by:
					swTradeEventReportingDetails/swPartyTradeInformation/swRelatedBusinessUnit[swRole='Sales']/swBusinessUnitReference/@href"
					of the relevant party</xsd:documentation>
				<xsd:documentation>Requirement: Desk Id</xsd:documentation>
				<xsd:documentation>Requirement: Sales ID</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SWB_BusinessUnitId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type used to record information about a unit,
				subdivision, desk, or other similar business entity.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="swBusinessUnitIdScheme" type="SW_Scheme" use="optional" default="http://www.markitwire.com/spec/2012/coding-scheme/business-unit-type"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_CountryCode">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The code representation of a country or an area of
				special sovereignty. By default it is a valid 2 character country code as defined by
				the ISO standard 3166-1 alpha-2 - Codes for representation of countries
				http://www.niso.org/standards/resources/3166.html.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:token">
				<xsd:attribute name="countryScheme" type="xsd:anyURI" default="http://www.fpml.org/ext/iso3166">
					<xsd:annotation>
						<xsd:documentation>default:
							"http://www.fpml.org/ext/iso3166"</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_PersonIdReference">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type that represents information about a person
				connected with a trade or business process.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbBusinessUnitReference" type="SWB_BusinessUnitReference" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">The unit for which the indvidual
						works.</xsd:documentation>
					<xsd:documentation>Trader Id instance: The @href will reference this
						swPartyExtension blocks swBusinessUnit/@id where the
						swPartyExtension/swBusinessUnit is for the trading desk - as referenced by
						the instance of
						swPartyTradeInformation/swRelatedBusinessUnit[swRole='Trading Desk]/@href </xsd:documentation>
					<xsd:documentation>Requirement: Trader Id (cross-reference)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbPersonId" type="SWB_PersonId" minOccurs="0"/>
			<xsd:element name="swbName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A name used to describe the organization
						unit</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbCountry" type="SWB_CountryCode" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">CRT26: Trader Location </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID">
			<xsd:annotation>
				<xsd:documentation>defines person associated with rtade or business
					process.</xsd:documentation>
				<xsd:documentation>Always present</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SWB_PersonId">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">An identifier used to identify an individual
				person.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="personIdScheme" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_BilateralPartyTradeInformation">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining additional information that may be
				recorded against a trade.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbPartyReference" type="SWB_PartyReference"/>
			<xsd:element name="swbRelatedParty" type="SWB_RelatedParty" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Identification of applicable party components for the related
						parties for this party in the trade.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbRelatedBusinessUnit" type="SWB_RelatedBusinessUnit" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Reference to sales and trading desk business units for the
						relevant party</xsd:documentation>
					<xsd:documentation xml:lang="en">Provides information about a unit/division/desk
						etc. that executed or supports this trade</xsd:documentation>
					<xsd:documentation>Dodd-Frank: An instance will exist for the sales organisation
						and for the trading desk of the party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbRelatedPerson" type="SWB_RelatedPerson" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Reference to trader information for the relevant
						party</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbPartyExtension" type="SWB_PartyExtension" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>One instance, containing details for the party requesting the
						SWML</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_PriceNotation">
		<xsd:annotation>
			<xsd:documentation>A type defining trade price notation. Price Notation container will
				be populated only for Credit Asset class and Generic product</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbAmount" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation>GRT8 CRT35: Price (Value). CRT16: Additional Price
						(Value)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbUnit" type="SWB_PriceQuoteUnit">
				<xsd:annotation>
					<xsd:documentation>GRT7 CRT34: Price (CashflowUnit). CRT15: Additional Price
						(Cashflow Unit)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SWB_PriceQuoteUnit">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type that defines the expressed price measure. e.g
				Percentage, BasisPoint</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="SWB_Scheme">
				<xsd:attribute name="unitScheme" type="SWB_Scheme" use="optional" default="http://www.markitwire.com/spec/2012/coding-scheme/price-quote-units">
					<xsd:annotation>
						<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/price-quote-units"
							''Price" "BasisPoints" "Percentage" "Amount" "UpfrontPoints"
						</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_PrivatePartyTradeEventReportingDetails">
		<xsd:annotation>
			<xsd:documentation>Container for all unilateral regulatory reporting data for the
				relevant parties</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_PrivatePartyTradeReportingDetails">
				<xsd:sequence minOccurs="0">
					<xsd:choice minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>One of the following optional structures may be
								provided for a post trade event,as relevant to the post trade event
								type and the party requesting the message</xsd:documentation>
						</xsd:annotation>
						<xsd:element name="swbPBClientTradePrivateReportingDetails" type="SWB_PrivatePartyTradeReportingDetails">
							<xsd:annotation>
								<xsd:documentation>Present for the Prime Broker to view the
									reporting details on his side fo the trade facing the
									client.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:sequence minOccurs="0">
						<xsd:element name="swbRelatedBusinessUnit" type="SWB_RelatedBusinessUnit" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Desk related unilateral information submitted by
									the broker for a party, required for Nexus
									reporting</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="swbRelatedPerson" type="SWB_RelatedPerson" minOccurs="0" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Sales or executing trader related unilateral
									information submitted by the broker for a party, required for
									Nexus reporting</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="swbPartyExtension" type="SWB_PartyExtension" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Additional unilateral information submitted by
									the broker for a party, required for Nexus
									reporting</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SWB_PrivateTradeInformation.Model">
		<xsd:annotation>
			<xsd:documentation>A type defining Private Trade information model</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbPriceFormingEvent" type="xsd:boolean" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>CRT3: Price Forming (Boolean)</xsd:documentation>
					<xsd:documentation>Whether or not the post trade event is considered to be price
						forming</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbPartyTradeInformation" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Unilateral Trade level information</xsd:documentation>
					<xsd:documentation>Element may contain any Unilateral Reporting information at
						the level of and synchronous with trade version.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="SWB_PartyTradeInformation"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="swbEventId" type="SWB_EventId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event Identifiers</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SWB_PrivatePartyTradeReportingDetails">
		<xsd:annotation>
			<xsd:documentation>A type aggregrating Private Trade Information detaila and unilateral
				reporting information of the initiator(broker)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbPartyReference" type="SW_PartyReference" minOccurs="0" maxOccurs="1"/>
			<xsd:group ref="SWB_PrivateTradeInformation.Model" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="swbPartyReportingRegimeInformation" type="SWB_ReportingRegimeInformationUnilateral" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Unilateral Reporting Regime specific information for the
						trade</xsd:documentation>
					<xsd:documentation xml:lang="en">Allows the organization to specify which if any
						relevant regulators the event should be reported to and any additionmal
						information requird that is specific wthin the identifed
						regime</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_RelatedTradeId">
		<xsd:annotation>
			<xsd:documentation>This type defines the previous reporting trade identifier and their
				relationship with current reporting trade identifier</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_UniqueTradeIdentifier">
				<xsd:sequence>
					<xsd:element name="swbRelationshipType">
						<xsd:annotation>
							<xsd:documentation>Describes the relationship between the trade
								identified in swTradeId and the trade on which the event is being
								reported</xsd:documentation>
							<xsd:documentation>Requirement: CRT10A Always present
							</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="swbRelatedTradeRelationshipTypeScheme" type="SW_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/trade-relationship-type">
										<xsd:annotation>
											<xsd:documentation>default:"http://www.markitwire.com/spec/2012/coding-scheme/trade-relationship-type"
												"PriorTradeUSI" "BlockUSI" "NETUSI"
												"ClearedTradeUSI" </xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_ReportableProduct">
		<xsd:annotation>
			<xsd:documentation>A type defining reportable product information</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbPrimaryAssetClass" type="SW_AssetClass" minOccurs="0"/>
			<xsd:element name="swbSecondaryAssetClass" type="SW_AssetClass" minOccurs="0" maxOccurs="unbounded"/>
			
			<xsd:element name="swbProductId" type="SW_ProductId" maxOccurs="4">
				<xsd:annotation>
					<xsd:documentation>CRT29 GRT2: Product Id Value ISDA Taxonomy, with UPI to come
						Supports ISIN and CFI for MIFID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbProductFullName" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MIFID field corresponding to Instrument full
						name</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbEmbeddedOptionOnSwap" type="SW_EmbeddedOptionOnSwap" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT17: Embedded Option</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_ReportingJurisdiction">
		<xsd:annotation>
			<xsd:documentation>A type defining reporting jursidiction. e.g Dodd
				Frank</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbJurisdiction" type="SWB_Jurisdiction"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_ReportingRegime">
		<xsd:annotation>
			<xsd:documentation>Identifies a reporting regime in terms of Jurisdiction and supervisor
				body category</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_ReportingJurisdiction">
				<xsd:sequence minOccurs="0">
					<xsd:element name="swbSupervisoryBodyCategory">
						<xsd:annotation>
							<xsd:documentation>CRT14: Regulator Type. Categorisation of the
								supervisorybody.</xsd:documentation>
							<xsd:documentation>Will always be present for Dodd-Frank;Will never be
								present for ODRF</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="swSupervisoryBodyCategoryScheme" type="SWB_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category">
										<xsd:annotation>
											<xsd:documentation>default="http://www.markitwire.com/spec/2012/coding-scheme/supervisory-body-category
												"BroadBased", "NarrowBased",
												"Mixed"</xsd:documentation>
										</xsd:annotation>
									</xsd:attribute>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_ReportingRegimeInformation">
		<xsd:annotation>
			<xsd:documentation>Identifies a Reporting Regine in terms of Jurisdiction, supervisor
				body category and holds information on jurisdiction specific roles and
				data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_ReportingRegime">
				<xsd:attribute name="id" type="xsd:ID"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SWB_ReportingRegimeInformationGroup">
		<xsd:annotation>
			<xsd:documentation>An aggregration grouping reporting properties of a trade visible to
				all parties involved in the trade</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbUniqueTransactionId" type="SWB_UniqueTradeIdentifier" minOccurs="0"/>
			<xsd:element name="swbObligatoryReporting" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MIFID Field: Within Jurisdiction</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbReportingCounterpartyReference" type="SW_PartyReference" minOccurs="0"/>
			<xsd:element name="swbReportTo" type="SWB_ReportTo" minOccurs="0"/>
			<xsd:element name="swbMandatoryClearingIndicator" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="swbToTV" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MIFID requirement to populate an indicator whether the
						contract has been traded on a Trading Venue or not.
				  </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:sequence minOccurs="0">
				<xsd:element name="swbRegulatoryReportable" type="xsd:boolean" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>A flag for MIFID Transaction Reportable to be passed on
							each allocated trade (Boolean)</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="swbTransparencyReportable" type="xsd:boolean" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>MiFID field: Transparency Reportable (Boolean) to be
							passed on each allocated trade</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
			<xsd:element name="swbMIFIDTransactionIdentifier" type="SW_MIFIDTransactionIdentifier" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Uniquely identifies a transaction for MIFID reporting
						purposes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SWB_ReportingRegimeInformationMultiLateral">
		<xsd:annotation>
			<xsd:documentation>Identifies a Reporting Regine in terms of Jurisdiction, supervisor
				body category and holds information on jurisdiction specific roles and
				data</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_ReportingRegime">
				<xsd:group ref="SWB_ReportingRegimeInformationGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SWB_ReportingRegimeInformationUnilateral">
		<xsd:annotation>
			<xsd:documentation>Container for private broker reporting regime
				information</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_ReportingRegimeInformation">
				<xsd:sequence minOccurs="0">
					<xsd:sequence minOccurs="0">
						<xsd:element name="swbRegulatoryReportable" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Regulatory Reportable, also a flag for MIFID
									Transaction Reportable</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element name="swbTransparencyReportable" type="xsd:boolean" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>MiFID field: Transparency Reportable
									(Boolean)</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
					<xsd:element name="swbEventId" type="SWB_EventId" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Event Identifiers - Please use Event Identifiers
								under PrivatePartyTradeReportingDetails</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbRelatedTradeId" type="SWB_RelatedTradeId" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Related Unilateral USIs Block USI (CRT10E, CRT10D)
								Prior USI (CRT10G, CRT10F) </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbEndUserException" type="xsd:boolean" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>CRT19: Clearing Exception
								(Boolean)</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbEndUserExceptionReason" type="SW_ClearingExceptionReason" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Clearing Exception Reason. Valid values supported :
								Cooperative, End-User, Inter-Affiliate</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbReportingSpecification" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>Reporting parameters specified for reporting of the
								trade event</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="swbReportingPurpose" type="SW_ReportingPurpose" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>CRT6(label): RT Reporting Preference
											CRT7(label): PET Reporting Preference CRT8(label):
											CONFIRM Reporting Preference CRT9(label): POST TRADE
											EVENT reporting Preference MIFID TransparencyReporting
											Preference MIFID TransactionReporting Preference
										</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element name="swbReportingInstruction" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>CRT6: RT Reporting Preference CRT7: PET
											Reporting Preference CRT8: CONFIRM Reporting Preference
											CRT9: POST TRADE EVENT reporting Preference MIFID
											TransparencyReporting Preference MIFID
											TransactionReporting Preference </xsd:documentation>
										<xsd:documentation>Requirement: M1 </xsd:documentation>
										<xsd:documentation>Requirement: M2 </xsd:documentation>
										<xsd:documentation>Requirement: M3 </xsd:documentation>
										<xsd:documentation>Requirement: M4</xsd:documentation>
										<xsd:documentation>Requirement: CRT6</xsd:documentation>
										<xsd:documentation>Requirement: CRT7</xsd:documentation>
										<xsd:documentation>Requirement: CRT8</xsd:documentation>
										<xsd:documentation>Requirement: CRT9</xsd:documentation>
									</xsd:annotation>
									<xsd:complexType>
										<xsd:simpleContent>
											<xsd:extension base="xsd:string">
												<xsd:attribute name="swReportingInstructionScheme" type="SWB_Scheme" default="http://www.markitwire.com/spec/2012/coding-scheme/reporting-specification">
													<xsd:annotation>
														<xsd:documentation>default:
												"http://www.markitwire.com/spec/2012/coding-scheme/reporting-specification"
												"Do Not Report" "Yes" ???Yes if DF??? ???Yes if
												RCP???</xsd:documentation>
													</xsd:annotation>
												</xsd:attribute>
											</xsd:extension>
										</xsd:simpleContent>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="swbReportTo" type="SWB_ReportTo" minOccurs="0"/>
					<xsd:element name="swbLargeSizeTrade" type="SW_LargeSizeTradeIndicatorEnum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>Large Block Notional Trade Indicator. (Yes, No,
								TRCalculate) Indicates if the publically reportable swap transaction
								is a block trade or large notional off-facility
								swap.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbShortSale" type="SW_ShortSaleEnum" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>MIFID field, a value that user would provide to
								indicate the type of short sale conducted by the party, e.g. SELL,
								SESH etc. </xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbOTCPostTradeIndicator" type="SW_OTCPostTradeIndicatorEnum" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>MIFID field, a value that user would provide to
								indicate the type of OTC transaction conducted on the trade, e.g.
								BENC,ACTX,DUPL, etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbWaiver" type="SW_WaiverEnum" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>MIFID field, a value that user would provide to
								indicate any pre-trade waiver provided by relevant NCAs, e.g.
								RFPT,MLIQ,SIZE, etc.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="swbMIFIDTransactionIdentifier" type="SW_MIFIDTransactionIdentifier" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>It uniquely identifies a transaction for MIFID
								reporting purposes.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SWB_Scheme">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The base class for all types which define coding
				schemes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SWB_TradeEventReportingDetails">
		<xsd:annotation>
			<xsd:documentation>Container for all broker's reporting data that can be shared with all
				entities invovled in the trade</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SWB_TradeReportingDetails">
				<xsd:choice minOccurs="0">
					<xsd:element name="swbPBClientTradeReportingDetails" type="SWB_TradeReportingDetails">
						<xsd:annotation>
							<xsd:documentation>Present for the prime broker to view reporting
								details of his side of the trade with the
								Client.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SWB_TradePriceNotation.Model">
		<xsd:annotation>
			<xsd:documentation>Container for holding trade price data for Credit Asset class
				products and Generic Template. For Rates price will be extracted from the product
				construct. </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbPriceNotation" type="SWB_PriceNotation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Structure to contain Price Notation
						information.</xsd:documentation>
					<xsd:documentation>Anticipated that this will not be populated initially as
						details will be extracted from product specific Xpaths by the DTCC GTR. The
						data capturesd here will NOT be sent to the GTR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbAdditionalPriceNotation" type="SWB_PriceNotation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Contains Additional Price Notation information. There will be
						1 occurrence for each "Additional Price Notation"
						captured</xsd:documentation>
					<xsd:documentation>The data captured here will NOT be sent to the
						GTR</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SWB_TradeProcessingTimestamps">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Allows timing information about when a trade was
				processed and reported to be recorded.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			
			<xsd:element name="swbCleared" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">Clearing requirement. When this trade was
						cleared</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbConfirmed" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">CRT21: Confirmation date/time When this trade
						was confirmed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_TradeReportingDetails">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining reporting information visible to all
				parties involved in the trade</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbUniqueTransactionId" type="SWB_Global_UTI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Global UTI</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbReportingRegimeInformation" type="SWB_ReportingRegimeInformationMultiLateral" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A type defining reporting regime information
						visible to all parties involved in the trade</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbReportableProduct" type="SWB_ReportableProduct" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Identifiers used to identify the product being
						traded</xsd:documentation>
					<xsd:documentation>Requirement: GRT1 </xsd:documentation>
					<xsd:documentation>Requirement: GRT2</xsd:documentation>
					<xsd:documentation>Requirement: GRT3</xsd:documentation>
					<xsd:documentation>Requirement: CRT13</xsd:documentation>
					<xsd:documentation>Requirement: M11 If primaryAssetClass differs from
						secondaryAssetClass then the trade will have been reported as a Multi Asset
						Swap</xsd:documentation>
					<xsd:documentation>OpenIssue: productType to become optional in
						FpML</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbBilateralPartyTradeInformation" type="SWB_BilateralPartyTradeInformation" minOccurs="0" maxOccurs="2"/>
			<xsd:element ref="swbPrivateData" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_UniqueTradeIdentifier">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining a trade identifier issued by the
				indicated party.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbIssuer" type="SW_IssuerId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>CRT10B: USI Namespace (also CRT10E, CRT10G,
						CRT10H)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbTradeId" type="SW_TradeId">
				<xsd:annotation>
					<xsd:documentation>CRT10C: USI Value (also CRT10D, CRT10F,
						CRT10I)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID"/>
	</xsd:complexType>
	<xsd:element name="swbBlockUSI">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">A trade reference identifier allocated by a party.
					FpML does not define the domain values associated with this element. Note that
					the domain values for this element are not strictly an enumerated
					list.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleContent>
				<xsd:extension base="xsd:normalizedString">
					<xsd:attribute name="tradeIdScheme" default="http://www.fpml.org/coding-scheme/external/unique-transaction-identifier">
						<xsd:annotation>
							<xsd:documentation>For a USI type trade identifier: Will always equal
								"http://www.fpml.org/coding-scheme/external/unique-transaction-identifier"
								(default value)</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="swbBlockUSINamespace">
		<xsd:complexType>
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The data type used for party
					identifiers.</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleContent>
				<xsd:extension base="xsd:normalizedString">
					<xsd:attribute name="issuerIdScheme" default="http://www.fpml.org/coding-scheme/external/cftc/issuer-identifier">
						<xsd:annotation>
							<xsd:documentation/>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:normalizedString">
								<xsd:maxLength value="255"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="swbDFReporting">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="swbBlockUSI" minOccurs="0"/>
				<xsd:element ref="swbBlockUSINamespace" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="swbExecutionDateTime">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Trade execution date time provided by a central
				execution facility.</xsd:documentation>
			<xsd:documentation>Requirement CRT20 (input value from client)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base="xsd:dateTime">
					<xsd:attribute name="executionDateTimeScheme" type="xsd:anyURI">
						<xsd:annotation>
							<xsd:documentation xml:lang="en">Identification of the source (e.g.
								clock id) generating the execution date time.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="swbPrivateData">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Private Data reference retained for backward
				compatability, will be deprecated in a future release</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="swbExecutionDateTime" minOccurs="0"/>
				<xsd:element ref="swbDFReporting" minOccurs="0"/>
				<xsd:element name="swbOriginatingEvent" minOccurs="0">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="SW_Scheme">
								<xsd:attribute name="swOriginatingEventScheme" type="xsd:anyURI" default="http://www.markitwire.com/spec/2012/coding-scheme/originating-event"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SWB_Identifiers">
		<xsd:annotation>
			<xsd:documentation>"Identifiers" tab on the UI, used for populating cpty PLI and LEI and
				complex trade Id.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element name="swbPartyReference" type="SWB_PartyReference" minOccurs="0"/>
			<xsd:sequence minOccurs="0">
				<xsd:element name="swbPartyIdentifiers" type="SWB_PartyIdentifiers" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Party Identifiers on "Identifiers" tab on the UI
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_PartyIdentifiers">
		<xsd:annotation>
			<xsd:documentation>Party Identifiers on "Identifiers" tab on the UI </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element name="swbCounterpartyLEI" type="SW_PartyLEI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Counterparty LEI</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_ComplexTradeDetails">
		<xsd:annotation>
			<xsd:documentation>Complex trade pricing details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence minOccurs="0">
			<xsd:element name="swbComplexTradeId" type="SW_ComplexTradeId" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ESMA RTS 2.0 - Complex Component trade ID</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbComplexPriceNotation" type="SWB_ComplexTradePriceNotation" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ESMA RTS 2.0 - Complex trade pricing
						information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_ComplexTradePriceNotation">
		<xsd:annotation>
			<xsd:documentation>Complex trade pricing details</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbAmount" type="xsd:decimal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ESMA RTS 2.0 - Complex Price </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbUnit" type="SW_Unit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ESMA RTS 2.0 - Complex Price Notation, values accepted :
						Price, Percentage, Basis Points </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbCurrency" type="xsd:normalizedString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ESMA RTS 2.0 - Complex Price Currency</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="optional"/>
	</xsd:complexType>
	<xsd:complexType name="SWB_NexusReportingDetails">
		<xsd:sequence>
			<xsd:element name="swbPartyReference" type="SWB_PartyReference" minOccurs="0"/>
			<xsd:sequence minOccurs="0">
				<xsd:element name="swbRelatedBusinessUnit" type="SWB_RelatedBusinessUnit" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Desk related unilateral information submitted by the
							broker for a party, required for Nexus reporting</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="swbRelatedPerson" type="SWB_RelatedPerson" minOccurs="0" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>Sales or executing trader related unilateral information
							submitted by the broker for a party, required for Nexus
							reporting</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="swbPartyExtension" type="SWB_PartyExtension" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Additional unilateral information submitted by the broker
							for a party, required for Nexus reporting</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SWB_PartyExtended">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">A type defining a legal entity or a subdivision of a
				legal entity.</xsd:documentation>
			<xsd:documentation xml:lang="en">Parties can perform multiple roles in a trade
				lifecycle. For example, the principal parties obligated to make payments from time
				to time during the term of the trade, but may include other parties involved in, or
				incidental to, the trade, such as parties acting in the role of novation
				transferor/transferee, broker, calculation agent, etc. In FpML roles are defined in
				multiple places within a document.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swbPartyId" type="SW_PartyId" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A party identifier, e.g. a S.W.I.F.T. bank
						identifier code (BIC).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swbCountry" type="SW_CountryCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">CRT24: Broker Location</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:ID" use="required">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">The id uniquely identifying the Party within the
					document.</xsd:documentation>
				<xsd:documentation>as referenced from the relevant party's swPartyTradeInformation
					structure though the xpath:
					swPartyTradeInformation/swRelatedParty/swPartyReference/@href" e.g.
					clearingBrokerA, executingBrokerB</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="SWB_Global_UTI">
		<xsd:sequence>
			<xsd:element name="swbTradeId" type="SW_TradeId"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
