linux_libraries/xml/swml-reporting-dtd-continuity-include.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="SW_20_1_460930" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:complexType name="SW_Product">
		<xsd:annotation>
			<xsd:documentation>productType to made optional in later versions of FpML spec</xsd:documentation>
			<xsd:documentation>Requirement: GRT1
productId/@productIdScheme
For Dodd-Frank implementation: 
The productId element must have a productIdScheme attribute, the value of that attribute must be "UPI", "ISDA" or "GTR".</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="swPrimaryAssetClass" type="SW_AssetClass" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A classification of the most important risk class of the trade. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swSecondaryAssetClass" type="SW_AssetClass" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A classification of additional risk classes of the trade, if any. FpML defines a simple asset class categorization using a coding scheme.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="swProductType" type="SW_ProductType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A classification of the type of product. FpML defines a simple product categorization using a coding scheme.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="swProductId" type="SW_ProductId" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">A product reference identifier. The product ID is an identifier that describes the key economic characteristics of the trade type, with the exception of concepts such as size (notional, quantity, number of units) and price (fixed rate, strike, etc.) that are negotiated for each transaction. It can be used to hold identifiers such as the "UPI" (universal product identifier) required by certain regulatory reporting rules. It can also be used to hold identifiers of benchmark products or product temnplates used by certain trading systems or facilities. FpML does not define the domain values associated with this element. Note that the domain values for this element are not strictly an enumerated list.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SW_AssetClass">
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="assetClassScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/asset-class-simple"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="SW_Scheme">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">The base class for all types which define coding schemes.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:maxLength value="255"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="SW_ProductType">
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="productTypeScheme" type="xsd:anyURI" default="http://www.fpml.org/coding-scheme/product-type-simple"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="SW_ProductId">
		<xsd:simpleContent>
			<xsd:extension base="SW_Scheme">
				<xsd:attribute name="productIdScheme" type="xsd:anyURI"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
